{
  "openapi": "3.0.1",
  "info": {
    "title": "vdd4ones",
    "description": "Rest-Interface for ONES",
    "version": "1.0a"
  },
  "servers": [
    {
      "url": "https://vdd4ones.de:9080",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/rest/application/register/account/unlock": {
      "put": {
        "tags": [
          "application-account-controller"
        ],
        "operationId": "putRegisterAccountUnlock",
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/registerResponce"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/rest/masterdata/horse/account/{uuid}": {
      "post": {
        "tags": [
          "masterdata-horse-controller"
        ],
        "operationId": "postRegisterHorse",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/registerHorse"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/rest/event/register/nomination": {
      "post": {
        "tags": [
          "event-contest-controller"
        ],
        "operationId": "postRegisterNomination",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/registerNomination"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/registerResponce"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/rest/application/register/account": {
      "post": {
        "tags": [
          "application-account-controller"
        ],
        "operationId": "postRegisterAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/registerAccount"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/registerResponce"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/rest/masterdata/property/items/{proptery}": {
      "get": {
        "tags": [
          "masterdata-property-controller"
        ],
        "operationId": "getPropertyItems",
        "parameters": [
          {
            "name": "proptery",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MasterdataProperty"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/rest/event/contests": {
      "get": {
        "tags": [
          "event-contest-controller"
        ],
        "operationId": "getContestByYear",
        "parameters": [
          {
            "name": "fromDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "untilDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "countryRegions",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "contestKinds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "isCountryChampionship",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "isCEI",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "isCard",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "onlyRegistered",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "accountUuid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "beginning"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponcePageContests_Plain"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/rest/event/contest": {
      "get": {
        "tags": [
          "event-contest-controller"
        ],
        "operationId": "getContestByUuid",
        "parameters": [
          {
            "name": "contestUuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountUuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventContest"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/rest/event/contest/result/current": {
      "get": {
        "tags": [
          "event-contest-controller"
        ],
        "operationId": "getCurrentContestCompetitionsResults",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventContestCompetitionResult"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/rest/event/contest/result/account/{uuid}": {
      "get": {
        "tags": [
          "event-contest-controller"
        ],
        "operationId": "getAccountContestCompetitionsResults",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventContestCompetitionResult"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/rest/application/register/account/{accountUuid}": {
      "get": {
        "tags": [
          "application-account-controller"
        ],
        "operationId": "getAccoundByUuid",
        "parameters": [
          {
            "name": "accountUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/registeredAccount"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "registerResponce": {
        "type": "object",
        "properties": {
          "uuid": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "state": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "reasonCode": {
            "type": "integer",
            "format": "int32"
          },
          "justification": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "registerObjectUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "registerAddress": {
        "required": [
          "city",
          "street"
        ],
        "type": "object",
        "properties": {
          "country": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "zipCode": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "city": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "street": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "houseNumber": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "registerContactLegal": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "typeOf": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "foundingDay": {
            "type": "string",
            "format": "date"
          },
          "email": {
            "maxLength": 255,
            "minLength": 6,
            "type": "string"
          },
          "phoneNumber": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "phoneNumberMobile": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "postalAddress": {
            "$ref": "#/components/schemas/registerAddress"
          }
        }
      },
      "registerContactNatural": {
        "required": [
          "surname"
        ],
        "type": "object",
        "properties": {
          "surname": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "birthname": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "forename": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "salutation": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "birthday": {
            "type": "string",
            "format": "date"
          },
          "email": {
            "maxLength": 255,
            "minLength": 6,
            "type": "string"
          },
          "phoneNumber": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "phoneNumberMobile": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "emergencyPhoneNumber": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "postalAddress": {
            "$ref": "#/components/schemas/registerAddress"
          }
        }
      },
      "registerHorse": {
        "required": [
          "name",
          "passportId"
        ],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "passportId": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "feiPassportId": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "fnPassportId": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "breed": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "gender": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "color": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "yearOfBirth": {
            "type": "integer",
            "format": "int32"
          },
          "stickSize": {
            "type": "integer",
            "format": "int32"
          },
          "owner": {
            "$ref": "#/components/schemas/registerContactNatural"
          },
          "stable": {
            "$ref": "#/components/schemas/registerContactLegal"
          }
        }
      },
      "registerNomination": {
        "required": [
          "competitionUuid",
          "contactUuid"
        ],
        "type": "object",
        "properties": {
          "competitionUuid": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "contactUuid": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "horsesUuids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "bookingFeeUuids": {
            "maxItems": 40,
            "minItems": 1,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "registerAccount": {
        "required": [
          "loginIdentification",
          "loginKeyword"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "readOnly": true
          },
          "loginIdentification": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "loginKeyword": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "nativeLanguage": {
            "maxLength": 5,
            "minLength": 0,
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/registerContactNatural"
          },
          "memberships": {
            "$ref": "#/components/schemas/registerMembership"
          }
        }
      },
      "registerMembership": {
        "type": "object",
        "properties": {
          "feiMemberId": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "feiQualificationLevel": {
            "maxLength": 5,
            "minLength": 0,
            "type": "string"
          },
          "fnMemberId": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "fnQualificationLevel": {
            "maxLength": 5,
            "minLength": 0,
            "type": "string"
          },
          "vddMemberId": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "vddQualificationLevel": {
            "maxLength": 5,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "MasterdataProperty": {
        "required": [
          "creationTimestamp",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "acronym": {
            "maxLength": 10,
            "minLength": 0,
            "type": "string"
          },
          "display": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "_items": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MasterdataPropertyCharacteristic"
            }
          }
        }
      },
      "MasterdataPropertyCharacteristic": {
        "required": [
          "creationTimestamp",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "description": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "acronym": {
            "maxLength": 10,
            "minLength": 0,
            "type": "string"
          },
          "display": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "EventContestCompetitionStage_Plain": {
        "required": [
          "creationTimestamp",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "currentState": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "kind": {
            "maxLength": 25,
            "minLength": 0,
            "type": "string"
          },
          "beginning": {
            "type": "string",
            "format": "date-time"
          },
          "ending": {
            "type": "string",
            "format": "date-time"
          },
          "raiseLength": {
            "type": "integer",
            "format": "int32"
          },
          "minutesMaximum": {
            "type": "integer",
            "format": "int32"
          },
          "minutesAllowed": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsTimeout": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsTimeUnderrun": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsAtPulseRateOf": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsPulseRateExceeded": {
            "type": "integer",
            "format": "int32"
          },
          "breaksTotalNumbers": {
            "type": "integer",
            "format": "int32"
          },
          "breaksTotalMinutes": {
            "type": "integer",
            "format": "int32"
          },
          "responsibleVeterinarianUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "EventContestCompetition_Plain": {
        "required": [
          "creationTimestamp",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "currentState": {
            "type": "integer",
            "format": "int32"
          },
          "state": {
            "maxLength": 25,
            "minLength": 0,
            "type": "string"
          },
          "title": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "kind": {
            "maxLength": 25,
            "minLength": 0,
            "type": "string"
          },
          "beginning": {
            "type": "string",
            "format": "date-time"
          },
          "ending": {
            "type": "string",
            "format": "date-time"
          },
          "raiseLength": {
            "type": "integer",
            "format": "int32"
          },
          "minutesMaximum": {
            "type": "integer",
            "format": "int32"
          },
          "minutesAllowed": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsTimeout": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsTimeUnderrun": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsAtPulseRateOf": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsPulseRateExceeded": {
            "type": "integer",
            "format": "int32"
          },
          "breaksTotalNumbers": {
            "type": "integer",
            "format": "int32"
          },
          "breaksTotalMinutes": {
            "type": "integer",
            "format": "int32"
          },
          "responsibleVeterinarianUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "competitionUuidToExtend": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "competitionUuidToReduce": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "contestantLimitiationMin": {
            "type": "integer",
            "format": "int32"
          },
          "contestantLimitiationMax": {
            "type": "integer",
            "format": "int32"
          },
          "datePreliminaryExamination": {
            "type": "string",
            "format": "date-time"
          },
          "infoPreliminaryExamination": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "datePreliminaryDiscussion": {
            "type": "string",
            "format": "date-time"
          },
          "infoPreliminaryDiscussion": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "dateFollowUpExamination": {
            "type": "string",
            "format": "date-time"
          },
          "infoFollowUpExamination": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "dateTransferRelease": {
            "type": "string",
            "format": "date-time"
          },
          "infoTransferRelease": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "dateAwardCeremony": {
            "type": "string",
            "format": "date-time"
          },
          "infoAwardCeremony": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "vddQualificationLevel": {
            "maxLength": 25,
            "minLength": 0,
            "type": "string"
          },
          "altitudeMeters": {
            "type": "integer",
            "format": "int32"
          },
          "feeCurrency": {
            "maxLength": 25,
            "minLength": 0,
            "type": "string"
          },
          "registrationFee": {
            "type": "number",
            "format": "double"
          },
          "registrationFeeUnit": {
            "maxLength": 25,
            "minLength": 0,
            "type": "string"
          },
          "startingFee": {
            "type": "number",
            "format": "double"
          },
          "startingFeeUnit": {
            "maxLength": 25,
            "minLength": 0,
            "type": "string"
          },
          "scoringMinimumTime": {
            "maxLength": 10,
            "minLength": 0,
            "type": "string"
          },
          "scoringPeakTime": {
            "maxLength": 10,
            "minLength": 0,
            "type": "string"
          },
          "horseAgeMin": {
            "type": "integer",
            "format": "int32"
          },
          "horseAgeMax": {
            "type": "integer",
            "format": "int32"
          },
          "contestantAgeMin": {
            "type": "integer",
            "format": "int32"
          },
          "contestantAgeMax": {
            "type": "integer",
            "format": "int32"
          },
          "contestantQuantityMin": {
            "type": "integer",
            "format": "int32"
          },
          "contestantQuantityMax": {
            "type": "integer",
            "format": "int32"
          },
          "hoofProtection": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "isCARD": {
            "type": "boolean"
          },
          "isMARKED": {
            "type": "boolean"
          },
          "descriptionRoute": {
            "type": "string"
          },
          "typeOfRouting": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "descriptionStart": {
            "type": "string"
          },
          "descriptionTerrain": {
            "type": "string"
          },
          "descriptionControlchecks": {
            "type": "string"
          },
          "ratingType": {
            "type": "integer",
            "format": "int32"
          },
          "descriptionRatingType": {
            "type": "string"
          },
          "displayRegistertHorses": {
            "type": "string"
          },
          "_stages": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventContestCompetitionStage_Plain"
            }
          }
        }
      },
      "EventContestFee_Plain": {
        "required": [
          "creationTimestamp",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "currentState": {
            "type": "integer",
            "format": "int32"
          },
          "kind": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "position": {
            "type": "integer",
            "format": "int32"
          },
          "key": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "currency": {
            "maxLength": 25,
            "minLength": 0,
            "type": "string"
          },
          "value": {
            "type": "number",
            "format": "double"
          },
          "unit": {
            "maxLength": 25,
            "minLength": 0,
            "type": "string"
          },
          "deposit": {
            "type": "number",
            "format": "double"
          },
          "remark": {
            "type": "string"
          }
        }
      },
      "EventContestLocation_Plain": {
        "required": [
          "creationTimestamp",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "currentState": {
            "type": "integer",
            "format": "int32"
          },
          "type": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "salutation": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "name1": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "name2": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "name3": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "street": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "houseNumber": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "zipcode": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "city": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "country": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "phone": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "fax": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "cellPhone": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "email": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "gpsCoordinate": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "info": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "EventContestRemark_Plain": {
        "required": [
          "creationTimestamp",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "currentState": {
            "type": "integer",
            "format": "int32"
          },
          "kind": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "sortid": {
            "type": "integer",
            "format": "int32"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "EventContestRole_Plain": {
        "required": [
          "creationTimestamp",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "currentState": {
            "type": "integer",
            "format": "int32"
          },
          "kind": {
            "maxLength": 25,
            "minLength": 0,
            "type": "string"
          },
          "masterdataContactUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "display": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "name1": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "name2": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "name3": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "titleAcademic": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "street": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "houseNumber": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "zipcode": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "city": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "country": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "phone": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "fax": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "cellPhone": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "email": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "EventContest_Plain": {
        "required": [
          "creationTimestamp",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "currentState": {
            "type": "integer",
            "format": "int32"
          },
          "eventNaming": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "title": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "state": {
            "maxLength": 25,
            "minLength": 0,
            "type": "string"
          },
          "beginning": {
            "type": "string",
            "format": "date-time"
          },
          "ending": {
            "type": "string",
            "format": "date-time"
          },
          "country": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "countryRegion": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "isCountryChampionship": {
            "type": "boolean"
          },
          "isCei": {
            "type": "boolean"
          },
          "isCard": {
            "type": "boolean"
          },
          "vddPortalUrl": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "vddPortalTitle": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "promoterTenderingUrl": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "promoterTenderingTitle": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "promoterEventUrl": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "promoterEventTitle": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "initialEvent": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "currentEvent": {
            "type": "integer",
            "format": "int32"
          },
          "requestDate": {
            "type": "string",
            "format": "date-time"
          },
          "requestInfo": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "approvalDate": {
            "type": "string",
            "format": "date-time"
          },
          "approvalInfo": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "stateCommissionerUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "stateCommissionerDescription": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "regionCommissionerUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "regionCommissionerDescription": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "paymentAccountHolder": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string"
          },
          "paymentIban": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "paymentBic": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "paymentPaypal": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "paymentReason": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "contestantQuantityMin": {
            "type": "integer",
            "format": "int32"
          },
          "contestantQuantityMax": {
            "type": "integer",
            "format": "int32"
          },
          "registrationClosing": {
            "type": "string",
            "format": "date-time"
          },
          "isLateRegistration": {
            "type": "boolean"
          },
          "infoVaccinationObligation": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "infoHelmetObligation": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "_competitions": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventContestCompetition_Plain"
            }
          },
          "_roles": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventContestRole_Plain"
            }
          },
          "_fees": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventContestFee_Plain"
            }
          },
          "_locations": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventContestLocation_Plain"
            }
          },
          "_remarks": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventContestRemark_Plain"
            }
          }
        }
      },
      "ResponcePageContests_Plain": {
        "type": "object",
        "properties": {
          "lastPage": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventContest_Plain"
            }
          }
        }
      },
      "EventContest": {
        "required": [
          "creationTimestamp",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "currentState": {
            "type": "integer",
            "format": "int32"
          },
          "eventNaming": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "title": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "state": {
            "maxLength": 25,
            "minLength": 0,
            "type": "string"
          },
          "beginning": {
            "type": "string",
            "format": "date-time"
          },
          "ending": {
            "type": "string",
            "format": "date-time"
          },
          "country": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "countryRegion": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "isCountryChampionship": {
            "type": "boolean"
          },
          "isCei": {
            "type": "boolean"
          },
          "isCard": {
            "type": "boolean"
          },
          "vddPortalUrl": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "vddPortalTitle": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "promoterTenderingUrl": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "promoterTenderingTitle": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "promoterEventUrl": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "promoterEventTitle": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "initialEvent": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "currentEvent": {
            "type": "integer",
            "format": "int32"
          },
          "requestDate": {
            "type": "string",
            "format": "date-time"
          },
          "requestInfo": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "approvalDate": {
            "type": "string",
            "format": "date-time"
          },
          "approvalInfo": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "stateCommissionerUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "stateCommissionerDescription": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "regionCommissionerUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "regionCommissionerDescription": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "paymentAccountHolder": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string"
          },
          "paymentIban": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "paymentBic": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "paymentPaypal": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "paymentReason": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "contestantQuantityMin": {
            "type": "integer",
            "format": "int32"
          },
          "contestantQuantityMax": {
            "type": "integer",
            "format": "int32"
          },
          "registrationClosing": {
            "type": "string",
            "format": "date-time"
          },
          "isLateRegistration": {
            "type": "boolean"
          },
          "infoVaccinationObligation": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "infoHelmetObligation": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "_competitions": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventContestCompetition"
            }
          },
          "_roles": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventContestRole"
            }
          },
          "_fees": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventContestFee"
            }
          },
          "_locations": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventContestLocation"
            }
          },
          "_remarks": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventContestRemark"
            }
          }
        }
      },
      "EventContestCompetition": {
        "required": [
          "creationTimestamp",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "currentState": {
            "type": "integer",
            "format": "int32"
          },
          "state": {
            "maxLength": 25,
            "minLength": 0,
            "type": "string"
          },
          "title": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "kind": {
            "maxLength": 25,
            "minLength": 0,
            "type": "string"
          },
          "beginning": {
            "type": "string",
            "format": "date-time"
          },
          "ending": {
            "type": "string",
            "format": "date-time"
          },
          "raiseLength": {
            "type": "integer",
            "format": "int32"
          },
          "minutesMaximum": {
            "type": "integer",
            "format": "int32"
          },
          "minutesAllowed": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsTimeout": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsTimeUnderrun": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsAtPulseRateOf": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsPulseRateExceeded": {
            "type": "integer",
            "format": "int32"
          },
          "breaksTotalNumbers": {
            "type": "integer",
            "format": "int32"
          },
          "breaksTotalMinutes": {
            "type": "integer",
            "format": "int32"
          },
          "responsibleVeterinarianUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "competitionUuidToExtend": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "competitionUuidToReduce": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "contestantLimitiationMin": {
            "type": "integer",
            "format": "int32"
          },
          "contestantLimitiationMax": {
            "type": "integer",
            "format": "int32"
          },
          "datePreliminaryExamination": {
            "type": "string",
            "format": "date-time"
          },
          "infoPreliminaryExamination": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "datePreliminaryDiscussion": {
            "type": "string",
            "format": "date-time"
          },
          "infoPreliminaryDiscussion": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "dateFollowUpExamination": {
            "type": "string",
            "format": "date-time"
          },
          "infoFollowUpExamination": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "dateTransferRelease": {
            "type": "string",
            "format": "date-time"
          },
          "infoTransferRelease": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "dateAwardCeremony": {
            "type": "string",
            "format": "date-time"
          },
          "infoAwardCeremony": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "vddQualificationLevel": {
            "maxLength": 25,
            "minLength": 0,
            "type": "string"
          },
          "altitudeMeters": {
            "type": "integer",
            "format": "int32"
          },
          "feeCurrency": {
            "maxLength": 25,
            "minLength": 0,
            "type": "string"
          },
          "registrationFee": {
            "type": "number",
            "format": "double"
          },
          "registrationFeeUnit": {
            "maxLength": 25,
            "minLength": 0,
            "type": "string"
          },
          "startingFee": {
            "type": "number",
            "format": "double"
          },
          "startingFeeUnit": {
            "maxLength": 25,
            "minLength": 0,
            "type": "string"
          },
          "scoringMinimumTime": {
            "maxLength": 10,
            "minLength": 0,
            "type": "string"
          },
          "scoringPeakTime": {
            "maxLength": 10,
            "minLength": 0,
            "type": "string"
          },
          "horseAgeMin": {
            "type": "integer",
            "format": "int32"
          },
          "horseAgeMax": {
            "type": "integer",
            "format": "int32"
          },
          "contestantAgeMin": {
            "type": "integer",
            "format": "int32"
          },
          "contestantAgeMax": {
            "type": "integer",
            "format": "int32"
          },
          "contestantQuantityMin": {
            "type": "integer",
            "format": "int32"
          },
          "contestantQuantityMax": {
            "type": "integer",
            "format": "int32"
          },
          "hoofProtection": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "isCARD": {
            "type": "boolean"
          },
          "isMARKED": {
            "type": "boolean"
          },
          "descriptionRoute": {
            "type": "string"
          },
          "typeOfRouting": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "descriptionStart": {
            "type": "string"
          },
          "descriptionTerrain": {
            "type": "string"
          },
          "descriptionControlchecks": {
            "type": "string"
          },
          "ratingType": {
            "type": "integer",
            "format": "int32"
          },
          "descriptionRatingType": {
            "type": "string"
          },
          "displayRegistertHorses": {
            "type": "string"
          },
          "_stages": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventContestCompetitionStage"
            }
          }
        }
      },
      "EventContestCompetitionStage": {
        "required": [
          "creationTimestamp",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "currentState": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "kind": {
            "maxLength": 25,
            "minLength": 0,
            "type": "string"
          },
          "beginning": {
            "type": "string",
            "format": "date-time"
          },
          "ending": {
            "type": "string",
            "format": "date-time"
          },
          "raiseLength": {
            "type": "integer",
            "format": "int32"
          },
          "minutesMaximum": {
            "type": "integer",
            "format": "int32"
          },
          "minutesAllowed": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsTimeout": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsTimeUnderrun": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsAtPulseRateOf": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsPulseRateExceeded": {
            "type": "integer",
            "format": "int32"
          },
          "breaksTotalNumbers": {
            "type": "integer",
            "format": "int32"
          },
          "breaksTotalMinutes": {
            "type": "integer",
            "format": "int32"
          },
          "responsibleVeterinarianUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "EventContestFee": {
        "required": [
          "creationTimestamp",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "currentState": {
            "type": "integer",
            "format": "int32"
          },
          "kind": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "position": {
            "type": "integer",
            "format": "int32"
          },
          "key": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "currency": {
            "maxLength": 25,
            "minLength": 0,
            "type": "string"
          },
          "value": {
            "type": "number",
            "format": "double"
          },
          "unit": {
            "maxLength": 25,
            "minLength": 0,
            "type": "string"
          },
          "deposit": {
            "type": "number",
            "format": "double"
          },
          "remark": {
            "type": "string"
          }
        }
      },
      "EventContestLocation": {
        "required": [
          "creationTimestamp",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "currentState": {
            "type": "integer",
            "format": "int32"
          },
          "type": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "salutation": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "name1": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "name2": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "name3": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "street": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "houseNumber": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "zipcode": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "city": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "country": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "phone": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "fax": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "cellPhone": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "email": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "gpsCoordinate": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "info": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "EventContestRemark": {
        "required": [
          "creationTimestamp",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "currentState": {
            "type": "integer",
            "format": "int32"
          },
          "kind": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "sortid": {
            "type": "integer",
            "format": "int32"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "EventContestRole": {
        "required": [
          "creationTimestamp",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "currentState": {
            "type": "integer",
            "format": "int32"
          },
          "kind": {
            "maxLength": 25,
            "minLength": 0,
            "type": "string"
          },
          "masterdataContactUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "display": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "name1": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "name2": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "name3": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "titleAcademic": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "street": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "houseNumber": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "zipcode": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "city": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "country": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "phone": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "fax": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "cellPhone": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "email": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "EventContestCompetitionResult": {
        "required": [
          "creationTimestamp",
          "masterdataContestantUuid",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "currentState": {
            "type": "integer",
            "format": "int32"
          },
          "competitionDate": {
            "type": "string",
            "format": "date-time"
          },
          "masterdataContestantUuid": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "competitionKindRemark": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "failureReasonRemark": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "rankingRaiseLength": {
            "type": "integer",
            "format": "int32"
          },
          "placement": {
            "type": "integer",
            "format": "int32"
          },
          "timeTotal": {
            "type": "string",
            "format": "date-time"
          },
          "timeRace": {
            "type": "string",
            "format": "date-time"
          },
          "tempo": {
            "type": "number",
            "format": "double"
          },
          "speed": {
            "type": "number",
            "format": "double"
          },
          "kmH": {
            "type": "number",
            "format": "double"
          },
          "remarks": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "displayContestant": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "displayHorse": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "_horses": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventContestCompetitionResultHorse"
            }
          }
        }
      },
      "EventContestCompetitionResultHorse": {
        "required": [
          "creationTimestamp",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "currentState": {
            "type": "integer",
            "format": "int32"
          },
          "masterdataHorseUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "description": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "registeredAccount": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "loginIdentification": {
            "type": "string"
          },
          "nativeLanguage": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/registerContactNatural"
          },
          "memberships": {
            "$ref": "#/components/schemas/registerMembership"
          },
          "horses": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/registeredHorse"
            }
          }
        }
      },
      "registeredHorse": {
        "required": [
          "name",
          "passportId"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "name": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "passportId": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "feiPassportId": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "fnPassportId": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "breed": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "gender": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "color": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "yearOfBirth": {
            "type": "integer",
            "format": "int32"
          },
          "stickSize": {
            "type": "integer",
            "format": "int32"
          },
          "owner": {
            "$ref": "#/components/schemas/registerContactNatural"
          },
          "stable": {
            "$ref": "#/components/schemas/registerContactLegal"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  }
}
