{
  "openapi": "3.0.1",
  "info": {
    "title": "vdd4ones",
    "description": "Rest-Interface for ONES",
    "version": "1.0a"
  },
  "servers": [
    {
      "url": "https://vdd4ones.de:8080",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/rest/application/register/account/unlock": {
      "put": {
        "tags": [
          "application-account-controller"
        ],
        "operationId": "putRegisterAccountUnlock",
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/registerResponce"
                }
              }
            }
          }
        }
      }
    },
    "/rest/masterdata/register/horse": {
      "post": {
        "tags": [
          "masterdata-horse-controller"
        ],
        "operationId": "postRegisterHorse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/registerHorse"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/rest/masterdata/register/contact/stable": {
      "post": {
        "tags": [
          "masterdata-contact-controller"
        ],
        "operationId": "postRegisterContactStable",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/registerContact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/rest/masterdata/register/contact/horseOwner": {
      "post": {
        "tags": [
          "masterdata-contact-controller"
        ],
        "operationId": "postRegisterContactHorseOwner",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/registerContact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/rest/masterdata/register/contact/contestant": {
      "post": {
        "tags": [
          "masterdata-contact-controller"
        ],
        "operationId": "postRegisterContactContestant",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/registerContact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/rest/application/register/account": {
      "post": {
        "tags": [
          "application-account-controller"
        ],
        "operationId": "postRegisterAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/registerAccount"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/registerResponce"
                }
              }
            }
          }
        }
      }
    },
    "/rest/masterdata/horse/{uuid}": {
      "get": {
        "tags": [
          "masterdata-horse-controller"
        ],
        "operationId": "getHorseByUuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MasterdataHorse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/masterdata/contact/{uuid}": {
      "get": {
        "tags": [
          "masterdata-contact-controller"
        ],
        "operationId": "getContactByUuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MasterdataContact"
                }
              }
            }
          }
        }
      }
    },
    "/rest/event/contests": {
      "get": {
        "tags": [
          "event-contest-controller"
        ],
        "operationId": "getContestByYear",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "beginning"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventContest_Plain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/event/contest": {
      "get": {
        "tags": [
          "event-contest-controller"
        ],
        "operationId": "getContestByUuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventContest"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "registerResponce": {
        "type": "object",
        "properties": {
          "uuid": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "state": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "reasonCode": {
            "type": "integer",
            "format": "int32"
          },
          "justification": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "registerObjectUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "registerAddress": {
        "required": [
          "city",
          "street"
        ],
        "type": "object",
        "properties": {
          "country": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "zipCode": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "city": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "street": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "houseNumber": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "registerContact": {
        "required": [
          "surname"
        ],
        "type": "object",
        "properties": {
          "surname": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "forename": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "salutation": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "birthday": {
            "type": "string",
            "format": "date"
          },
          "email": {
            "maxLength": 255,
            "minLength": 6,
            "type": "string"
          },
          "phoneNumber": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "phoneNumberMobile": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "postalAddress": {
            "$ref": "#/components/schemas/registerAddress"
          }
        }
      },
      "registerHorse": {
        "required": [
          "name",
          "passportId"
        ],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "passportId": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "breed": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "gender": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "color": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "yearOfBirth": {
            "type": "integer",
            "format": "int32"
          },
          "stickSize": {
            "type": "integer",
            "format": "int32"
          },
          "owner": {
            "$ref": "#/components/schemas/registerContact"
          },
          "stable": {
            "$ref": "#/components/schemas/registerContact"
          }
        }
      },
      "registerAccount": {
        "required": [
          "loginIdentification",
          "loginKeyword"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "readOnly": true
          },
          "loginIdentification": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "loginKeyword": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "nativeLanguage": {
            "maxLength": 5,
            "minLength": 0,
            "type": "string"
          },
          "vddMemberNumber": {
            "maxLength": 10,
            "minLength": 0,
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/registerContact"
          }
        }
      },
      "MasterdataContact": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "kind": {
            "type": "integer",
            "format": "int32"
          },
          "salutation": {
            "type": "string"
          },
          "surname": {
            "type": "string"
          },
          "forename": {
            "type": "string"
          },
          "bornName": {
            "type": "string"
          },
          "bornDate": {
            "type": "string",
            "format": "date-time"
          },
          "nationality": {
            "type": "string"
          },
          "titleAddition": {
            "type": "string"
          },
          "titleNobility": {
            "type": "string"
          },
          "titleAcademic": {
            "type": "string"
          },
          "titleBusiness": {
            "type": "string"
          },
          "artistName": {
            "type": "string"
          },
          "nickName": {
            "type": "string"
          },
          "phonePrivate": {
            "type": "string"
          },
          "phoneBusiness": {
            "type": "string"
          },
          "cellPhonePrivate": {
            "type": "string"
          },
          "cellPhoneBusiness": {
            "type": "string"
          },
          "faxPrivate": {
            "type": "string"
          },
          "faxBusiness": {
            "type": "string"
          },
          "emailPrivate": {
            "type": "string"
          },
          "emailBusiness": {
            "type": "string"
          },
          "info1": {
            "type": "string"
          },
          "info2": {
            "type": "string"
          },
          "info3": {
            "type": "string"
          },
          "info4": {
            "type": "string"
          },
          "info5": {
            "type": "string"
          },
          "info6": {
            "type": "string"
          },
          "info7": {
            "type": "string"
          },
          "info8": {
            "type": "string"
          },
          "info9": {
            "type": "string"
          },
          "display": {
            "type": "string"
          },
          "_addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MasterdataContactAddress"
            }
          },
          "_roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MasterdataContactRole"
            }
          }
        }
      },
      "MasterdataContactAddress": {
        "required": [
          "creationTimestamp",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "masterdataContactUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "kind": {
            "type": "integer",
            "format": "int32"
          },
          "countryCode": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "country": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "city": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "federalStateCode": {
            "maxLength": 5,
            "minLength": 0,
            "type": "string"
          },
          "federalState": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "street": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "houseNumber": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "zipcodeCode": {
            "type": "string"
          }
        }
      },
      "MasterdataContactRole": {
        "required": [
          "creationTimestamp",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "masterdataContactUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "role": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "MasterdataHorse": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "changeUserUuid": {
            "type": "string"
          },
          "display": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "passportId": {
            "type": "string"
          },
          "breed": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "yearOfBirth": {
            "type": "integer",
            "format": "int32"
          },
          "stickSize": {
            "type": "integer",
            "format": "int32"
          },
          "color": {
            "type": "string"
          },
          "_ownersx": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MasterdataHorseOwner"
            }
          },
          "_stables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MasterdataHorseStable"
            }
          }
        }
      },
      "MasterdataHorseOwner": {
        "required": [
          "creationTimestamp",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "display": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "ownershipFrom": {
            "type": "string",
            "format": "date-time"
          },
          "ownershipUntil": {
            "type": "string",
            "format": "date-time"
          },
          "remark": {
            "maxLength": 16777216,
            "minLength": 0,
            "type": "string"
          },
          "contact": {
            "$ref": "#/components/schemas/MasterdataContact"
          },
          "masterdataHorseUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "MasterdataHorseStable": {
        "required": [
          "creationTimestamp",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "masterdataHorseUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "kind": {
            "maxLength": 5,
            "minLength": 0,
            "type": "string"
          },
          "display": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "accommodationFrom": {
            "type": "string",
            "format": "date-time"
          },
          "accommodationUntil": {
            "type": "string",
            "format": "date-time"
          },
          "remarks": {
            "maxLength": 16777216,
            "minLength": 0,
            "type": "string"
          },
          "contact": {
            "$ref": "#/components/schemas/MasterdataContact"
          }
        }
      },
      "EventContestCompetitionStage_Plain": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "currentState": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "beginning": {
            "type": "string",
            "format": "date-time"
          },
          "ending": {
            "type": "string",
            "format": "date-time"
          },
          "raiseLength": {
            "type": "integer",
            "format": "int32"
          },
          "minutesMaximum": {
            "type": "integer",
            "format": "int32"
          },
          "minutesAllowed": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsTimeout": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsTimeUnderrun": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsAtPulseRateOf": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsPulseRateExceeded": {
            "type": "integer",
            "format": "int32"
          },
          "breaksTotalNumbers": {
            "type": "integer",
            "format": "int32"
          },
          "breaksTotalMinutes": {
            "type": "integer",
            "format": "int32"
          },
          "responsibleVeterinarianUuid": {
            "type": "string"
          },
          "contestantLimitiationMin": {
            "type": "integer",
            "format": "int32"
          },
          "contestantLimitiationMax": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "EventContestCompetition_Plain": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "eventContestUuid": {
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "currentState": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "beginning": {
            "type": "string",
            "format": "date-time"
          },
          "ending": {
            "type": "string",
            "format": "date-time"
          },
          "raiseLength": {
            "type": "integer",
            "format": "int32"
          },
          "minutesMaximum": {
            "type": "integer",
            "format": "int32"
          },
          "minutesAllowed": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsTimeout": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsTimeUnderrun": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsAtPulseRateOf": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsPulseRateExceeded": {
            "type": "integer",
            "format": "int32"
          },
          "breaksTotalNumbers": {
            "type": "integer",
            "format": "int32"
          },
          "breaksTotalMinutes": {
            "type": "integer",
            "format": "int32"
          },
          "responsibleVeterinarianUuid": {
            "type": "string"
          },
          "competitionUuidToExtend": {
            "type": "string"
          },
          "competitionUuidToReduce": {
            "type": "string"
          },
          "contestantLimitiationMin": {
            "type": "integer",
            "format": "int32"
          },
          "contestantLimitiationMax": {
            "type": "integer",
            "format": "int32"
          },
          "_stages": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventContestCompetitionStage_Plain"
            }
          }
        }
      },
      "EventContest_Plain": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "currentState": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string"
          },
          "beginning": {
            "type": "string",
            "format": "date-time"
          },
          "ending": {
            "type": "string",
            "format": "date-time"
          },
          "country": {
            "type": "string"
          },
          "countryRegion": {
            "type": "string"
          },
          "locationDesciption": {
            "type": "string"
          },
          "isCountryChampionship": {
            "type": "boolean"
          },
          "isCei": {
            "type": "boolean"
          },
          "isCard": {
            "type": "boolean"
          },
          "vddPortalUrl": {
            "type": "string"
          },
          "vddPortalTitle": {
            "type": "string"
          },
          "promoterTenderingUrl": {
            "type": "string"
          },
          "promoterTenderingTitle": {
            "type": "string"
          },
          "promoterEventUrl": {
            "type": "string"
          },
          "promoterEventTitle": {
            "type": "string"
          },
          "promoterContactUuid": {
            "type": "string"
          },
          "promoterContactDescription": {
            "type": "string"
          },
          "organizerContactUuid": {
            "type": "string"
          },
          "organizerContactDescription": {
            "type": "string"
          },
          "registrationDescription": {
            "type": "string"
          },
          "remarks": {
            "type": "string"
          },
          "initialEvent": {
            "type": "string"
          },
          "requestDate": {
            "type": "string",
            "format": "date-time"
          },
          "requestInfo": {
            "type": "string"
          },
          "approvalDate": {
            "type": "string",
            "format": "date-time"
          },
          "approvalInfo": {
            "type": "string"
          },
          "stateCommissionerUuid": {
            "type": "string"
          },
          "stateCommissionerDescription": {
            "type": "string"
          },
          "regionCommissionerUuid": {
            "type": "string"
          },
          "regionCommissionerDescription": {
            "type": "string"
          },
          "feeCurrency": {
            "type": "string"
          },
          "registrationFee": {
            "type": "number"
          },
          "startingFee": {
            "type": "number"
          },
          "startingFeeUnit": {
            "type": "string"
          },
          "lateRegistrationFee": {
            "type": "number"
          },
          "changeRegistrationFee": {
            "type": "number"
          },
          "surchargeNonMembers": {
            "type": "number"
          },
          "_competitions": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventContestCompetition_Plain"
            }
          }
        }
      },
      "EventContest": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "currentState": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string"
          },
          "beginning": {
            "type": "string",
            "format": "date-time"
          },
          "ending": {
            "type": "string",
            "format": "date-time"
          },
          "country": {
            "type": "string"
          },
          "countryRegion": {
            "type": "string"
          },
          "locationDesciption": {
            "type": "string"
          },
          "isCountryChampionship": {
            "type": "boolean"
          },
          "isCei": {
            "type": "boolean"
          },
          "isCard": {
            "type": "boolean"
          },
          "vddPortalUrl": {
            "type": "string"
          },
          "vddPortalTitle": {
            "type": "string"
          },
          "promoterTenderingUrl": {
            "type": "string"
          },
          "promoterTenderingTitle": {
            "type": "string"
          },
          "promoterEventUrl": {
            "type": "string"
          },
          "promoterEventTitle": {
            "type": "string"
          },
          "promoterContactUuid": {
            "type": "string"
          },
          "promoterContactDescription": {
            "type": "string"
          },
          "organizerContactUuid": {
            "type": "string"
          },
          "organizerContactDescription": {
            "type": "string"
          },
          "registrationDescription": {
            "type": "string"
          },
          "remarks": {
            "type": "string"
          },
          "initialEvent": {
            "type": "string"
          },
          "requestDate": {
            "type": "string",
            "format": "date-time"
          },
          "requestInfo": {
            "type": "string"
          },
          "approvalDate": {
            "type": "string",
            "format": "date-time"
          },
          "approvalInfo": {
            "type": "string"
          },
          "stateCommissionerUuid": {
            "type": "string"
          },
          "stateCommissionerDescription": {
            "type": "string"
          },
          "regionCommissionerUuid": {
            "type": "string"
          },
          "regionCommissionerDescription": {
            "type": "string"
          },
          "feeCurrency": {
            "type": "string"
          },
          "registrationFee": {
            "type": "number"
          },
          "startingFee": {
            "type": "number"
          },
          "startingFeeUnit": {
            "type": "string"
          },
          "lateRegistrationFee": {
            "type": "number"
          },
          "changeRegistrationFee": {
            "type": "number"
          },
          "surchargeNonMembers": {
            "type": "number"
          },
          "_competitions": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventContestCompetition"
            }
          }
        }
      },
      "EventContestCompetition": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "eventContestUuid": {
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "currentState": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "beginning": {
            "type": "string",
            "format": "date-time"
          },
          "ending": {
            "type": "string",
            "format": "date-time"
          },
          "raiseLength": {
            "type": "integer",
            "format": "int32"
          },
          "minutesMaximum": {
            "type": "integer",
            "format": "int32"
          },
          "minutesAllowed": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsTimeout": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsTimeUnderrun": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsAtPulseRateOf": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsPulseRateExceeded": {
            "type": "integer",
            "format": "int32"
          },
          "breaksTotalNumbers": {
            "type": "integer",
            "format": "int32"
          },
          "breaksTotalMinutes": {
            "type": "integer",
            "format": "int32"
          },
          "responsibleVeterinarianUuid": {
            "type": "string"
          },
          "competitionUuidToExtend": {
            "type": "string"
          },
          "competitionUuidToReduce": {
            "type": "string"
          },
          "contestantLimitiationMin": {
            "type": "integer",
            "format": "int32"
          },
          "contestantLimitiationMax": {
            "type": "integer",
            "format": "int32"
          },
          "_stages": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventContestCompetitionStage"
            }
          }
        }
      },
      "EventContestCompetitionStage": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "creationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "creationUserUuid": {
            "type": "string"
          },
          "changeTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changeUserUuid": {
            "type": "string"
          },
          "changeCounter": {
            "type": "integer",
            "format": "int32"
          },
          "currentState": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "beginning": {
            "type": "string",
            "format": "date-time"
          },
          "ending": {
            "type": "string",
            "format": "date-time"
          },
          "raiseLength": {
            "type": "integer",
            "format": "int32"
          },
          "minutesMaximum": {
            "type": "integer",
            "format": "int32"
          },
          "minutesAllowed": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsTimeout": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsTimeUnderrun": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsAtPulseRateOf": {
            "type": "integer",
            "format": "int32"
          },
          "penaltyPointsPulseRateExceeded": {
            "type": "integer",
            "format": "int32"
          },
          "breaksTotalNumbers": {
            "type": "integer",
            "format": "int32"
          },
          "breaksTotalMinutes": {
            "type": "integer",
            "format": "int32"
          },
          "responsibleVeterinarianUuid": {
            "type": "string"
          },
          "contestantLimitiationMin": {
            "type": "integer",
            "format": "int32"
          },
          "contestantLimitiationMax": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    }
  }
}
