openapi: 3.0.1
info:
  description: Rest-Interface for ONES
  title: vdd4ones
  version: 1.0a
servers:
- description: Generated server url
  url: https://vdd4ones.de:8080
paths:
  /rest/application/register/account/{accountUuid}:
    get:
      operationId: getAccoundByUuid
      parameters:
      - explode: false
        in: path
        name: accountUuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/registeredAccount'
          description: OK
      security:
      - basicAuth: []
      tags:
      - application-account-controller
      x-accepts: '*/*'
    put:
      operationId: putRegisterAccount
      parameters:
      - explode: false
        in: path
        name: accountUuid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAccount'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/registerResponce'
          description: OK
      security:
      - basicAuth: []
      tags:
      - application-account-controller
      x-contentType: application/json
      x-accepts: '*/*'
  /rest/application/register/account/unlock:
    put:
      operationId: putRegisterAccountUnlock
      parameters:
      - explode: true
        in: query
        name: uuid
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: code
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registerResponce'
          description: OK
      security:
      - basicAuth: []
      tags:
      - application-account-controller
      x-accepts: application/json
  /rest/masterdata/horse/account/{uuid}:
    post:
      operationId: postRegisterHorse
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registerHorse'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK
      security:
      - basicAuth: []
      tags:
      - masterdata-horse-controller
      x-contentType: application/json
      x-accepts: '*/*'
  /rest/event/register/nomination:
    post:
      operationId: postRegisterNomination
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registerNomination'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registerResponce'
          description: OK
      security:
      - basicAuth: []
      tags:
      - event-contest-controller
      x-contentType: application/json
      x-accepts: application/json
  /rest/application/register/account:
    post:
      operationId: postRegisterAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registerAccount'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registerResponce'
          description: OK
      security:
      - basicAuth: []
      tags:
      - application-account-controller
      x-contentType: application/json
      x-accepts: application/json
  /rest/masterdata/property/items/{proptery}:
    get:
      operationId: getPropertyItems
      parameters:
      - explode: false
        in: path
        name: proptery
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/MasterdataProperty'
                type: array
          description: OK
      security:
      - basicAuth: []
      tags:
      - masterdata-property-controller
      x-accepts: '*/*'
  /rest/event/contests:
    get:
      operationId: getContestByYear
      parameters:
      - explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: untilDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: countryRegions
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: contestKinds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: isCountryChampionship
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: isCEI
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: isCard
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: onlyRegistered
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: accountUuid
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pageNo
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: sortBy
        required: false
        schema:
          default: beginning
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResponcePageContests'
          description: OK
      security:
      - basicAuth: []
      tags:
      - event-contest-controller
      x-accepts: '*/*'
  /rest/event/contest:
    get:
      operationId: getContestByUuid
      parameters:
      - explode: true
        in: query
        name: contestUuid
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: accountUuid
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventContest_Plain'
          description: OK
      security:
      - basicAuth: []
      tags:
      - event-contest-controller
      x-accepts: application/json
  /rest/event/contest/result/current:
    get:
      operationId: getCurrentContestCompetitionsResults
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/EventContestCompetitionResult'
                type: array
          description: OK
      security:
      - basicAuth: []
      tags:
      - event-contest-controller
      x-accepts: '*/*'
  /rest/event/contest/result/account/{uuid}:
    get:
      operationId: getAccountContestCompetitionsResults
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/EventContestCompetitionResult'
                type: array
          description: OK
      security:
      - basicAuth: []
      tags:
      - event-contest-controller
      x-accepts: '*/*'
  /rest/application/register/account/{loginIdentification}:
    delete:
      operationId: deleteRegisteredAccount
      parameters:
      - explode: false
        in: path
        name: loginIdentification
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/registerResponce'
          description: OK
      security:
      - basicAuth: []
      tags:
      - application-account-controller
      x-accepts: '*/*'
components:
  schemas:
    registerAddress:
      example:
        country: country
        zipCode: zipCode
        city: city
        street: street
        houseNumber: houseNumber
      properties:
        country:
          maxLength: 255
          minLength: 0
          type: string
        zipCode:
          maxLength: 255
          minLength: 0
          type: string
        city:
          maxLength: 255
          minLength: 0
          type: string
        street:
          maxLength: 255
          minLength: 0
          type: string
        houseNumber:
          maxLength: 255
          minLength: 0
          type: string
      required:
      - city
      - street
      type: object
    registerContactNatural:
      example:
        birthday: 2000-01-23
        forename: forename
        emergencyPhoneNumber: emergencyPhoneNumber
        phoneNumber: phoneNumber
        postalAddress:
          country: country
          zipCode: zipCode
          city: city
          street: street
          houseNumber: houseNumber
        surname: surname
        phoneNumberMobile: phoneNumberMobile
        birthname: birthname
        salutation: salutation
        email: email
      properties:
        surname:
          maxLength: 255
          minLength: 1
          type: string
        birthname:
          maxLength: 255
          minLength: 0
          type: string
        forename:
          maxLength: 255
          minLength: 0
          type: string
        salutation:
          maxLength: 255
          minLength: 0
          type: string
        birthday:
          format: date
          type: string
        email:
          maxLength: 255
          minLength: 6
          type: string
        phoneNumber:
          maxLength: 50
          minLength: 0
          type: string
        phoneNumberMobile:
          maxLength: 50
          minLength: 0
          type: string
        emergencyPhoneNumber:
          maxLength: 50
          minLength: 0
          type: string
        postalAddress:
          $ref: '#/components/schemas/registerAddress'
      required:
      - surname
      type: object
    registerMembership:
      example:
        feiMemberId: feiMemberId
        vddQualificationLevel: vddQualificationLevel
        vddMemberId: vddMemberId
        fnMemberId: fnMemberId
        fnQualificationLevel: fnQualificationLevel
        feiQualificationLevel: feiQualificationLevel
      properties:
        feiMemberId:
          maxLength: 50
          minLength: 0
          type: string
        feiQualificationLevel:
          maxLength: 5
          minLength: 0
          type: string
        fnMemberId:
          maxLength: 50
          minLength: 0
          type: string
        fnQualificationLevel:
          maxLength: 5
          minLength: 0
          type: string
        vddMemberId:
          maxLength: 50
          minLength: 0
          type: string
        vddQualificationLevel:
          maxLength: 5
          minLength: 0
          type: string
      type: object
    updateAccount:
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        loginIdentification:
          maxLength: 255
          minLength: 1
          type: string
        loginKeyword:
          maxLength: 255
          minLength: 1
          type: string
        nativeLanguage:
          maxLength: 5
          minLength: 0
          type: string
        user:
          $ref: '#/components/schemas/registerContactNatural'
        memberships:
          $ref: '#/components/schemas/registerMembership'
      required:
      - uuid
      type: object
    registerResponce:
      example:
        state: state
        reasonCode: 0
        justification: justification
        registerObjectUuid: registerObjectUuid
        uuid: uuid
      properties:
        uuid:
          maxLength: 255
          minLength: 0
          type: string
        state:
          maxLength: 255
          minLength: 1
          type: string
        reasonCode:
          format: int32
          type: integer
        justification:
          maxLength: 255
          minLength: 0
          type: string
        registerObjectUuid:
          maxLength: 40
          minLength: 0
          type: string
      type: object
    registerContactLegal:
      example:
        phoneNumber: phoneNumber
        postalAddress:
          country: country
          zipCode: zipCode
          city: city
          street: street
          houseNumber: houseNumber
        foundingDay: 2000-01-23
        phoneNumberMobile: phoneNumberMobile
        name: name
        typeOf: typeOf
        email: email
      properties:
        name:
          maxLength: 255
          minLength: 1
          type: string
        typeOf:
          maxLength: 255
          minLength: 0
          type: string
        foundingDay:
          format: date
          type: string
        email:
          maxLength: 255
          minLength: 6
          type: string
        phoneNumber:
          maxLength: 50
          minLength: 0
          type: string
        phoneNumberMobile:
          maxLength: 50
          minLength: 0
          type: string
        postalAddress:
          $ref: '#/components/schemas/registerAddress'
      required:
      - name
      type: object
    registerHorse:
      properties:
        name:
          maxLength: 255
          minLength: 1
          type: string
        passportId:
          maxLength: 255
          minLength: 0
          type: string
        feiPassportId:
          maxLength: 50
          minLength: 0
          type: string
        fnPassportId:
          maxLength: 50
          minLength: 0
          type: string
        chipId:
          maxLength: 50
          minLength: 0
          type: string
        breed:
          maxLength: 255
          minLength: 0
          type: string
        gender:
          enum:
          - M
          - S
          - G
          maxLength: 1
          minLength: 0
          type: string
        color:
          maxLength: 255
          minLength: 0
          type: string
        yearOfBirth:
          format: int32
          type: integer
        stickSize:
          format: int32
          type: integer
        owner:
          $ref: '#/components/schemas/registerContactNatural'
        stable:
          $ref: '#/components/schemas/registerContactLegal'
      required:
      - name
      - passportId
      type: object
    registerNomination:
      properties:
        competitionUuid:
          maxLength: 255
          minLength: 1
          type: string
        contactUuid:
          maxLength: 255
          minLength: 1
          type: string
        horsesUuids:
          items:
            type: string
          type: array
        bookingFeeUuids:
          items:
            type: string
          maxItems: 40
          minItems: 1
          type: array
      required:
      - competitionUuid
      - contactUuid
      type: object
    registerAccount:
      properties:
        uuid:
          readOnly: true
          type: string
        loginIdentification:
          maxLength: 255
          minLength: 1
          type: string
        loginKeyword:
          maxLength: 255
          minLength: 1
          type: string
        nativeLanguage:
          maxLength: 5
          minLength: 0
          type: string
        user:
          $ref: '#/components/schemas/registerContactNatural'
        memberships:
          $ref: '#/components/schemas/registerMembership'
      required:
      - loginIdentification
      - loginKeyword
      type: object
    MasterdataProperty:
      example:
        changeCounter: 0
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        acronym: acronym
        display: display
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        name: name
        _items:
        - changeCounter: 6
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          acronym: acronym
          display: display
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          description: description
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
        - changeCounter: 6
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          acronym: acronym
          display: display
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          description: description
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        name:
          maxLength: 255
          minLength: 0
          type: string
        acronym:
          maxLength: 10
          minLength: 0
          type: string
        display:
          maxLength: 50
          minLength: 0
          type: string
        _items:
          items:
            $ref: '#/components/schemas/MasterdataPropertyCharacteristic'
          type: array
          uniqueItems: true
      required:
      - creationTimestamp
      - uuid
      type: object
    MasterdataPropertyCharacteristic:
      example:
        changeCounter: 6
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        acronym: acronym
        display: display
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        description: description
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        description:
          maxLength: 255
          minLength: 0
          type: string
        acronym:
          maxLength: 10
          minLength: 0
          type: string
        display:
          maxLength: 50
          minLength: 0
          type: string
      required:
      - creationTimestamp
      - uuid
      type: object
    EventContest:
      example:
        country: country
        currentEvent: 5
        paymentIban: paymentIban
        uuid: uuid
        eventNaming: eventNaming
        vddPortalTitle: vddPortalTitle
        promoterTenderingUrl: promoterTenderingUrl
        changeCounter: 1
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        state: state
        initialEvent: initialEvent
        contestantQuantityMax: 7
        regionCommissionerDescription: regionCommissionerDescription
        stateCommissionerUuid: stateCommissionerUuid
        countryRegion: countryRegion
        _roles:
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          country: country
          city: city
          kind: kind
          display: display
          houseNumber: houseNumber
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 7
          zipcode: zipcode
          name3: name3
          phone: phone
          street: street
          masterdataContactUuid: masterdataContactUuid
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          titleAcademic: titleAcademic
          currentState: 5
          name2: name2
          fax: fax
          name1: name1
          cellPhone: cellPhone
          email: email
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          country: country
          city: city
          kind: kind
          display: display
          houseNumber: houseNumber
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 7
          zipcode: zipcode
          name3: name3
          phone: phone
          street: street
          masterdataContactUuid: masterdataContactUuid
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          titleAcademic: titleAcademic
          currentState: 5
          name2: name2
          fax: fax
          name1: name1
          cellPhone: cellPhone
          email: email
        _remarks:
        - changeCounter: 7
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          kind: kind
          sortid: 0
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          description: description
          currentState: 9
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
        - changeCounter: 7
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          kind: kind
          sortid: 0
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          description: description
          currentState: 9
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
        ending: 2000-01-23T04:56:07.000+00:00
        paymentBic: paymentBic
        infoHelmetObligation: infoHelmetObligation
        _locations:
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          country: country
          city: city
          houseNumber: houseNumber
          type: type
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 1
          zipcode: zipcode
          name3: name3
          phone: phone
          street: street
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          salutation: salutation
          gpsCoordinate: gpsCoordinate
          currentState: 4
          name2: name2
          fax: fax
          name1: name1
          cellPhone: cellPhone
          email: email
          info: info
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          country: country
          city: city
          houseNumber: houseNumber
          type: type
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 1
          zipcode: zipcode
          name3: name3
          phone: phone
          street: street
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          salutation: salutation
          gpsCoordinate: gpsCoordinate
          currentState: 4
          name2: name2
          fax: fax
          name1: name1
          cellPhone: cellPhone
          email: email
          info: info
        paymentPaypal: paymentPaypal
        isCei: true
        approvalDate: 2000-01-23T04:56:07.000+00:00
        beginning: 2000-01-23T04:56:07.000+00:00
        promoterEventUrl: promoterEventUrl
        approvalInfo: approvalInfo
        promoterEventTitle: promoterEventTitle
        isInitialEvent: true
        infoVaccinationObligation: infoVaccinationObligation
        title: title
        stateCommissionerDescription: stateCommissionerDescription
        contestantQuantityMin: 2
        paymentReason: paymentReason
        initialEventUuid: initialEventUuid
        requestDate: 2000-01-23T04:56:07.000+00:00
        requestInfo: requestInfo
        isLateRegistration: true
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        vddPortalUrl: vddPortalUrl
        registrationClosing: 2000-01-23T04:56:07.000+00:00
        isCountryChampionship: true
        _fees:
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          kind: kind
          remark: remark
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 3
          unit: unit
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          deposit: 4.258773108174356
          currency: currency
          position: 0
          currentState: 4
          value: 6.628464275087742
          key: key
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          kind: kind
          remark: remark
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 3
          unit: unit
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          deposit: 4.258773108174356
          currency: currency
          position: 0
          currentState: 4
          value: 6.628464275087742
          key: key
        regionCommissionerUuid: regionCommissionerUuid
        paymentAccountHolder: paymentAccountHolder
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
        _competitions:
        - contestantAgeMax: 3
          breaksTotalNumbers: 7
          feeCurrency: feeCurrency
          penaltyPointsPulseRateExceeded: 6
          contestantLimitiationMin: 4
          uuid: uuid
          changeCounter: 9
          vddQualificationLevel: vddQualificationLevel
          descriptionRatingType: descriptionRatingType
          minutesAllowed: 7
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          dateTransferRelease: 2000-01-23T04:56:07.000+00:00
          isCARD: true
          state: state
          _registrations:
          - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            displayContestant: displayContestant
            registrationAccountUuid: registrationAccountUuid
            contestantUuid: contestantUuid
            remark: remark
            _horses:
            - changeCounter: 3
              changeTimestamp: 2000-01-23T04:56:07.000+00:00
              masterdataHorseUuid: masterdataHorseUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              description: description
              currentState: 3
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
            - changeCounter: 3
              changeTimestamp: 2000-01-23T04:56:07.000+00:00
              masterdataHorseUuid: masterdataHorseUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              description: description
              currentState: 3
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 4
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            paymentMethod: 7
            displayHorse: displayHorse
            currentState: 8
            insurancePoliceId: insurancePoliceId
          - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            displayContestant: displayContestant
            registrationAccountUuid: registrationAccountUuid
            contestantUuid: contestantUuid
            remark: remark
            _horses:
            - changeCounter: 3
              changeTimestamp: 2000-01-23T04:56:07.000+00:00
              masterdataHorseUuid: masterdataHorseUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              description: description
              currentState: 3
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
            - changeCounter: 3
              changeTimestamp: 2000-01-23T04:56:07.000+00:00
              masterdataHorseUuid: masterdataHorseUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              description: description
              currentState: 3
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 4
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            paymentMethod: 7
            displayHorse: displayHorse
            currentState: 8
            insurancePoliceId: insurancePoliceId
          infoAwardCeremony: infoAwardCeremony
          contestantAgeMin: 6
          competitionUuidToReduce: competitionUuidToReduce
          contestantQuantityMax: 1
          contestantLimitiationMax: 5
          kind: kind
          descriptionRoute: descriptionRoute
          descriptionTerrain: descriptionTerrain
          descriptionControlchecks: descriptionControlchecks
          ending: 2000-01-23T04:56:07.000+00:00
          isMARKED: true
          infoTransferRelease: infoTransferRelease
          registrationFeeUnit: registrationFeeUnit
          responsibleVeterinarianUuid: responsibleVeterinarianUuid
          penaltyPointsTimeout: 1
          scoringMinimumTime: scoringMinimumTime
          beginning: 2000-01-23T04:56:07.000+00:00
          datePreliminaryDiscussion: 2000-01-23T04:56:07.000+00:00
          minutesMaximum: 4
          penaltyPointsTimeUnderrun: 1
          title: title
          infoPreliminaryDiscussion: infoPreliminaryDiscussion
          scoringPeakTime: scoringPeakTime
          typeOfRouting: typeOfRouting
          dateFollowUpExamination: 2000-01-23T04:56:07.000+00:00
          altitudeMeters: 9
          startingFee: 6.683562403749608
          contestantQuantityMin: 6
          ratingType: 2
          descriptionStart: descriptionStart
          startingFeeUnit: startingFeeUnit
          raiseLength: 2
          horseAgeMax: 9
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          datePreliminaryExamination: 2000-01-23T04:56:07.000+00:00
          hoofProtection: hoofProtection
          registrationFee: 9.369310271410669
          competitionUuidToExtend: competitionUuidToExtend
          _stages:
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            beginning: 2000-01-23T04:56:07.000+00:00
            breaksTotalNumbers: 6
            kind: kind
            minutesMaximum: 6
            penaltyPointsTimeUnderrun: 7
            penaltyPointsAtPulseRateOf: 0
            penaltyPointsPulseRateExceeded: 7
            title: title
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 6
            ending: 2000-01-23T04:56:07.000+00:00
            minutesAllowed: 3
            responsibleVeterinarianUuid: responsibleVeterinarianUuid
            penaltyPointsTimeout: 3
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            breaksTotalMinutes: 0
            currentState: 6
            raiseLength: 5
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            beginning: 2000-01-23T04:56:07.000+00:00
            breaksTotalNumbers: 6
            kind: kind
            minutesMaximum: 6
            penaltyPointsTimeUnderrun: 7
            penaltyPointsAtPulseRateOf: 0
            penaltyPointsPulseRateExceeded: 7
            title: title
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 6
            ending: 2000-01-23T04:56:07.000+00:00
            minutesAllowed: 3
            responsibleVeterinarianUuid: responsibleVeterinarianUuid
            penaltyPointsTimeout: 3
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            breaksTotalMinutes: 0
            currentState: 6
            raiseLength: 5
          penaltyPointsAtPulseRateOf: 1
          infoFollowUpExamination: infoFollowUpExamination
          horseAgeMin: 8
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          breaksTotalMinutes: 1
          dateAwardCeremony: 2000-01-23T04:56:07.000+00:00
          currentState: 3
          infoPreliminaryExamination: infoPreliminaryExamination
        - contestantAgeMax: 3
          breaksTotalNumbers: 7
          feeCurrency: feeCurrency
          penaltyPointsPulseRateExceeded: 6
          contestantLimitiationMin: 4
          uuid: uuid
          changeCounter: 9
          vddQualificationLevel: vddQualificationLevel
          descriptionRatingType: descriptionRatingType
          minutesAllowed: 7
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          dateTransferRelease: 2000-01-23T04:56:07.000+00:00
          isCARD: true
          state: state
          _registrations:
          - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            displayContestant: displayContestant
            registrationAccountUuid: registrationAccountUuid
            contestantUuid: contestantUuid
            remark: remark
            _horses:
            - changeCounter: 3
              changeTimestamp: 2000-01-23T04:56:07.000+00:00
              masterdataHorseUuid: masterdataHorseUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              description: description
              currentState: 3
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
            - changeCounter: 3
              changeTimestamp: 2000-01-23T04:56:07.000+00:00
              masterdataHorseUuid: masterdataHorseUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              description: description
              currentState: 3
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 4
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            paymentMethod: 7
            displayHorse: displayHorse
            currentState: 8
            insurancePoliceId: insurancePoliceId
          - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            displayContestant: displayContestant
            registrationAccountUuid: registrationAccountUuid
            contestantUuid: contestantUuid
            remark: remark
            _horses:
            - changeCounter: 3
              changeTimestamp: 2000-01-23T04:56:07.000+00:00
              masterdataHorseUuid: masterdataHorseUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              description: description
              currentState: 3
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
            - changeCounter: 3
              changeTimestamp: 2000-01-23T04:56:07.000+00:00
              masterdataHorseUuid: masterdataHorseUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              description: description
              currentState: 3
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 4
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            paymentMethod: 7
            displayHorse: displayHorse
            currentState: 8
            insurancePoliceId: insurancePoliceId
          infoAwardCeremony: infoAwardCeremony
          contestantAgeMin: 6
          competitionUuidToReduce: competitionUuidToReduce
          contestantQuantityMax: 1
          contestantLimitiationMax: 5
          kind: kind
          descriptionRoute: descriptionRoute
          descriptionTerrain: descriptionTerrain
          descriptionControlchecks: descriptionControlchecks
          ending: 2000-01-23T04:56:07.000+00:00
          isMARKED: true
          infoTransferRelease: infoTransferRelease
          registrationFeeUnit: registrationFeeUnit
          responsibleVeterinarianUuid: responsibleVeterinarianUuid
          penaltyPointsTimeout: 1
          scoringMinimumTime: scoringMinimumTime
          beginning: 2000-01-23T04:56:07.000+00:00
          datePreliminaryDiscussion: 2000-01-23T04:56:07.000+00:00
          minutesMaximum: 4
          penaltyPointsTimeUnderrun: 1
          title: title
          infoPreliminaryDiscussion: infoPreliminaryDiscussion
          scoringPeakTime: scoringPeakTime
          typeOfRouting: typeOfRouting
          dateFollowUpExamination: 2000-01-23T04:56:07.000+00:00
          altitudeMeters: 9
          startingFee: 6.683562403749608
          contestantQuantityMin: 6
          ratingType: 2
          descriptionStart: descriptionStart
          startingFeeUnit: startingFeeUnit
          raiseLength: 2
          horseAgeMax: 9
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          datePreliminaryExamination: 2000-01-23T04:56:07.000+00:00
          hoofProtection: hoofProtection
          registrationFee: 9.369310271410669
          competitionUuidToExtend: competitionUuidToExtend
          _stages:
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            beginning: 2000-01-23T04:56:07.000+00:00
            breaksTotalNumbers: 6
            kind: kind
            minutesMaximum: 6
            penaltyPointsTimeUnderrun: 7
            penaltyPointsAtPulseRateOf: 0
            penaltyPointsPulseRateExceeded: 7
            title: title
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 6
            ending: 2000-01-23T04:56:07.000+00:00
            minutesAllowed: 3
            responsibleVeterinarianUuid: responsibleVeterinarianUuid
            penaltyPointsTimeout: 3
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            breaksTotalMinutes: 0
            currentState: 6
            raiseLength: 5
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            beginning: 2000-01-23T04:56:07.000+00:00
            breaksTotalNumbers: 6
            kind: kind
            minutesMaximum: 6
            penaltyPointsTimeUnderrun: 7
            penaltyPointsAtPulseRateOf: 0
            penaltyPointsPulseRateExceeded: 7
            title: title
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 6
            ending: 2000-01-23T04:56:07.000+00:00
            minutesAllowed: 3
            responsibleVeterinarianUuid: responsibleVeterinarianUuid
            penaltyPointsTimeout: 3
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            breaksTotalMinutes: 0
            currentState: 6
            raiseLength: 5
          penaltyPointsAtPulseRateOf: 1
          infoFollowUpExamination: infoFollowUpExamination
          horseAgeMin: 8
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          breaksTotalMinutes: 1
          dateAwardCeremony: 2000-01-23T04:56:07.000+00:00
          currentState: 3
          infoPreliminaryExamination: infoPreliminaryExamination
        promoterTenderingTitle: promoterTenderingTitle
        isCard: true
        currentState: 5
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        currentState:
          format: int32
          type: integer
        eventNaming:
          maxLength: 255
          minLength: 0
          type: string
        title:
          maxLength: 255
          minLength: 0
          type: string
        state:
          maxLength: 25
          minLength: 0
          type: string
        beginning:
          format: date-time
          type: string
        ending:
          format: date-time
          type: string
        country:
          maxLength: 50
          minLength: 0
          type: string
        countryRegion:
          maxLength: 50
          minLength: 0
          type: string
        isCountryChampionship:
          type: boolean
        isCei:
          type: boolean
        isCard:
          type: boolean
        vddPortalUrl:
          maxLength: 255
          minLength: 0
          type: string
        vddPortalTitle:
          maxLength: 255
          minLength: 0
          type: string
        promoterTenderingUrl:
          maxLength: 255
          minLength: 0
          type: string
        promoterTenderingTitle:
          maxLength: 255
          minLength: 0
          type: string
        promoterEventUrl:
          maxLength: 255
          minLength: 0
          type: string
        promoterEventTitle:
          maxLength: 255
          minLength: 0
          type: string
        isInitialEvent:
          type: boolean
        initialEventUuid:
          maxLength: 40
          minLength: 0
          type: string
        initialEvent:
          maxLength: 50
          minLength: 0
          type: string
        currentEvent:
          format: int32
          type: integer
        requestDate:
          format: date-time
          type: string
        requestInfo:
          maxLength: 255
          minLength: 0
          type: string
        approvalDate:
          format: date-time
          type: string
        approvalInfo:
          maxLength: 255
          minLength: 0
          type: string
        stateCommissionerUuid:
          maxLength: 40
          minLength: 0
          type: string
        stateCommissionerDescription:
          maxLength: 255
          minLength: 0
          type: string
        regionCommissionerUuid:
          maxLength: 40
          minLength: 0
          type: string
        regionCommissionerDescription:
          maxLength: 255
          minLength: 0
          type: string
        paymentAccountHolder:
          maxLength: 100
          minLength: 0
          type: string
        paymentIban:
          maxLength: 50
          minLength: 0
          type: string
        paymentBic:
          maxLength: 50
          minLength: 0
          type: string
        paymentPaypal:
          maxLength: 255
          minLength: 0
          type: string
        paymentReason:
          maxLength: 255
          minLength: 0
          type: string
        contestantQuantityMin:
          format: int32
          type: integer
        contestantQuantityMax:
          format: int32
          type: integer
        registrationClosing:
          format: date-time
          type: string
        isLateRegistration:
          type: boolean
        infoVaccinationObligation:
          maxLength: 255
          minLength: 0
          type: string
        infoHelmetObligation:
          maxLength: 255
          minLength: 0
          type: string
        _competitions:
          items:
            $ref: '#/components/schemas/EventContestCompetition'
          type: array
          uniqueItems: true
        _roles:
          items:
            $ref: '#/components/schemas/EventContestRole'
          type: array
          uniqueItems: true
        _fees:
          items:
            $ref: '#/components/schemas/EventContestFee'
          type: array
          uniqueItems: true
        _locations:
          items:
            $ref: '#/components/schemas/EventContestLocation'
          type: array
          uniqueItems: true
        _remarks:
          items:
            $ref: '#/components/schemas/EventContestRemark'
          type: array
          uniqueItems: true
      required:
      - creationTimestamp
      - uuid
      type: object
    EventContestCompetition:
      example:
        contestantAgeMax: 3
        breaksTotalNumbers: 7
        feeCurrency: feeCurrency
        penaltyPointsPulseRateExceeded: 6
        contestantLimitiationMin: 4
        uuid: uuid
        changeCounter: 9
        vddQualificationLevel: vddQualificationLevel
        descriptionRatingType: descriptionRatingType
        minutesAllowed: 7
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        dateTransferRelease: 2000-01-23T04:56:07.000+00:00
        isCARD: true
        state: state
        _registrations:
        - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          displayContestant: displayContestant
          registrationAccountUuid: registrationAccountUuid
          contestantUuid: contestantUuid
          remark: remark
          _horses:
          - changeCounter: 3
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            masterdataHorseUuid: masterdataHorseUuid
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            description: description
            currentState: 3
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
          - changeCounter: 3
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            masterdataHorseUuid: masterdataHorseUuid
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            description: description
            currentState: 3
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 4
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          paymentMethod: 7
          displayHorse: displayHorse
          currentState: 8
          insurancePoliceId: insurancePoliceId
        - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          displayContestant: displayContestant
          registrationAccountUuid: registrationAccountUuid
          contestantUuid: contestantUuid
          remark: remark
          _horses:
          - changeCounter: 3
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            masterdataHorseUuid: masterdataHorseUuid
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            description: description
            currentState: 3
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
          - changeCounter: 3
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            masterdataHorseUuid: masterdataHorseUuid
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            description: description
            currentState: 3
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 4
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          paymentMethod: 7
          displayHorse: displayHorse
          currentState: 8
          insurancePoliceId: insurancePoliceId
        infoAwardCeremony: infoAwardCeremony
        contestantAgeMin: 6
        competitionUuidToReduce: competitionUuidToReduce
        contestantQuantityMax: 1
        contestantLimitiationMax: 5
        kind: kind
        descriptionRoute: descriptionRoute
        descriptionTerrain: descriptionTerrain
        descriptionControlchecks: descriptionControlchecks
        ending: 2000-01-23T04:56:07.000+00:00
        isMARKED: true
        infoTransferRelease: infoTransferRelease
        registrationFeeUnit: registrationFeeUnit
        responsibleVeterinarianUuid: responsibleVeterinarianUuid
        penaltyPointsTimeout: 1
        scoringMinimumTime: scoringMinimumTime
        beginning: 2000-01-23T04:56:07.000+00:00
        datePreliminaryDiscussion: 2000-01-23T04:56:07.000+00:00
        minutesMaximum: 4
        penaltyPointsTimeUnderrun: 1
        title: title
        infoPreliminaryDiscussion: infoPreliminaryDiscussion
        scoringPeakTime: scoringPeakTime
        typeOfRouting: typeOfRouting
        dateFollowUpExamination: 2000-01-23T04:56:07.000+00:00
        altitudeMeters: 9
        startingFee: 6.683562403749608
        contestantQuantityMin: 6
        ratingType: 2
        descriptionStart: descriptionStart
        startingFeeUnit: startingFeeUnit
        raiseLength: 2
        horseAgeMax: 9
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        datePreliminaryExamination: 2000-01-23T04:56:07.000+00:00
        hoofProtection: hoofProtection
        registrationFee: 9.369310271410669
        competitionUuidToExtend: competitionUuidToExtend
        _stages:
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          beginning: 2000-01-23T04:56:07.000+00:00
          breaksTotalNumbers: 6
          kind: kind
          minutesMaximum: 6
          penaltyPointsTimeUnderrun: 7
          penaltyPointsAtPulseRateOf: 0
          penaltyPointsPulseRateExceeded: 7
          title: title
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 6
          ending: 2000-01-23T04:56:07.000+00:00
          minutesAllowed: 3
          responsibleVeterinarianUuid: responsibleVeterinarianUuid
          penaltyPointsTimeout: 3
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          breaksTotalMinutes: 0
          currentState: 6
          raiseLength: 5
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          beginning: 2000-01-23T04:56:07.000+00:00
          breaksTotalNumbers: 6
          kind: kind
          minutesMaximum: 6
          penaltyPointsTimeUnderrun: 7
          penaltyPointsAtPulseRateOf: 0
          penaltyPointsPulseRateExceeded: 7
          title: title
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 6
          ending: 2000-01-23T04:56:07.000+00:00
          minutesAllowed: 3
          responsibleVeterinarianUuid: responsibleVeterinarianUuid
          penaltyPointsTimeout: 3
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          breaksTotalMinutes: 0
          currentState: 6
          raiseLength: 5
        penaltyPointsAtPulseRateOf: 1
        infoFollowUpExamination: infoFollowUpExamination
        horseAgeMin: 8
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
        breaksTotalMinutes: 1
        dateAwardCeremony: 2000-01-23T04:56:07.000+00:00
        currentState: 3
        infoPreliminaryExamination: infoPreliminaryExamination
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        currentState:
          format: int32
          type: integer
        state:
          maxLength: 25
          minLength: 0
          type: string
        title:
          maxLength: 255
          minLength: 0
          type: string
        kind:
          maxLength: 25
          minLength: 0
          type: string
        beginning:
          format: date-time
          type: string
        ending:
          format: date-time
          type: string
        raiseLength:
          format: int32
          type: integer
        minutesMaximum:
          format: int32
          type: integer
        minutesAllowed:
          format: int32
          type: integer
        penaltyPointsTimeout:
          format: int32
          type: integer
        penaltyPointsTimeUnderrun:
          format: int32
          type: integer
        penaltyPointsAtPulseRateOf:
          format: int32
          type: integer
        penaltyPointsPulseRateExceeded:
          format: int32
          type: integer
        breaksTotalNumbers:
          format: int32
          type: integer
        breaksTotalMinutes:
          format: int32
          type: integer
        responsibleVeterinarianUuid:
          maxLength: 40
          minLength: 0
          type: string
        competitionUuidToExtend:
          maxLength: 40
          minLength: 0
          type: string
        competitionUuidToReduce:
          maxLength: 40
          minLength: 0
          type: string
        contestantLimitiationMin:
          format: int32
          type: integer
        contestantLimitiationMax:
          format: int32
          type: integer
        datePreliminaryExamination:
          format: date-time
          type: string
        infoPreliminaryExamination:
          maxLength: 255
          minLength: 0
          type: string
        datePreliminaryDiscussion:
          format: date-time
          type: string
        infoPreliminaryDiscussion:
          maxLength: 255
          minLength: 0
          type: string
        dateFollowUpExamination:
          format: date-time
          type: string
        infoFollowUpExamination:
          maxLength: 255
          minLength: 0
          type: string
        dateTransferRelease:
          format: date-time
          type: string
        infoTransferRelease:
          maxLength: 255
          minLength: 0
          type: string
        dateAwardCeremony:
          format: date-time
          type: string
        infoAwardCeremony:
          maxLength: 255
          minLength: 0
          type: string
        vddQualificationLevel:
          maxLength: 25
          minLength: 0
          type: string
        altitudeMeters:
          format: int32
          type: integer
        feeCurrency:
          maxLength: 25
          minLength: 0
          type: string
        registrationFee:
          format: double
          type: number
        registrationFeeUnit:
          maxLength: 25
          minLength: 0
          type: string
        startingFee:
          format: double
          type: number
        startingFeeUnit:
          maxLength: 25
          minLength: 0
          type: string
        scoringMinimumTime:
          maxLength: 10
          minLength: 0
          type: string
        scoringPeakTime:
          maxLength: 10
          minLength: 0
          type: string
        horseAgeMin:
          format: int32
          type: integer
        horseAgeMax:
          format: int32
          type: integer
        contestantAgeMin:
          format: int32
          type: integer
        contestantAgeMax:
          format: int32
          type: integer
        contestantQuantityMin:
          format: int32
          type: integer
        contestantQuantityMax:
          format: int32
          type: integer
        hoofProtection:
          maxLength: 50
          minLength: 0
          type: string
        isCARD:
          type: boolean
        isMARKED:
          type: boolean
        descriptionRoute:
          type: string
        typeOfRouting:
          maxLength: 50
          minLength: 0
          type: string
        descriptionStart:
          type: string
        descriptionTerrain:
          type: string
        descriptionControlchecks:
          type: string
        ratingType:
          format: int32
          type: integer
        descriptionRatingType:
          type: string
        _stages:
          items:
            $ref: '#/components/schemas/EventContestCompetitionStage'
          type: array
          uniqueItems: true
        _registrations:
          items:
            $ref: '#/components/schemas/EventContestCompetitionRegistration'
          type: array
          uniqueItems: true
      required:
      - creationTimestamp
      - uuid
      type: object
    EventContestCompetitionRegistration:
      example:
        registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        displayContestant: displayContestant
        registrationAccountUuid: registrationAccountUuid
        contestantUuid: contestantUuid
        remark: remark
        _horses:
        - changeCounter: 3
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          masterdataHorseUuid: masterdataHorseUuid
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          description: description
          currentState: 3
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
        - changeCounter: 3
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          masterdataHorseUuid: masterdataHorseUuid
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          description: description
          currentState: 3
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
        changeCounter: 4
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        paymentMethod: 7
        displayHorse: displayHorse
        currentState: 8
        insurancePoliceId: insurancePoliceId
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        currentState:
          format: int32
          type: integer
        registrationCompetitionDate:
          format: date-time
          type: string
        registrationAccountUuid:
          maxLength: 40
          minLength: 0
          type: string
        contestantUuid:
          maxLength: 40
          minLength: 0
          type: string
        paymentMethod:
          format: int32
          type: integer
        insurancePoliceId:
          maxLength: 255
          minLength: 0
          type: string
        remark:
          maxLength: 255
          minLength: 0
          type: string
        displayContestant:
          maxLength: 255
          minLength: 0
          type: string
        displayHorse:
          maxLength: 255
          minLength: 0
          type: string
        _horses:
          items:
            $ref: '#/components/schemas/EventContestCompetitionRegistrationHorse'
          type: array
          uniqueItems: true
      required:
      - creationTimestamp
      - uuid
      type: object
    EventContestCompetitionRegistrationHorse:
      example:
        changeCounter: 3
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        masterdataHorseUuid: masterdataHorseUuid
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        description: description
        currentState: 3
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        currentState:
          format: int32
          type: integer
        masterdataHorseUuid:
          maxLength: 40
          minLength: 0
          type: string
        description:
          maxLength: 50
          minLength: 0
          type: string
      required:
      - creationTimestamp
      - uuid
      type: object
    EventContestCompetitionStage:
      example:
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        beginning: 2000-01-23T04:56:07.000+00:00
        breaksTotalNumbers: 6
        kind: kind
        minutesMaximum: 6
        penaltyPointsTimeUnderrun: 7
        penaltyPointsAtPulseRateOf: 0
        penaltyPointsPulseRateExceeded: 7
        title: title
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
        changeCounter: 6
        ending: 2000-01-23T04:56:07.000+00:00
        minutesAllowed: 3
        responsibleVeterinarianUuid: responsibleVeterinarianUuid
        penaltyPointsTimeout: 3
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        breaksTotalMinutes: 0
        currentState: 6
        raiseLength: 5
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        currentState:
          format: int32
          type: integer
        title:
          maxLength: 255
          minLength: 0
          type: string
        kind:
          maxLength: 25
          minLength: 0
          type: string
        beginning:
          format: date-time
          type: string
        ending:
          format: date-time
          type: string
        raiseLength:
          format: int32
          type: integer
        minutesMaximum:
          format: int32
          type: integer
        minutesAllowed:
          format: int32
          type: integer
        penaltyPointsTimeout:
          format: int32
          type: integer
        penaltyPointsTimeUnderrun:
          format: int32
          type: integer
        penaltyPointsAtPulseRateOf:
          format: int32
          type: integer
        penaltyPointsPulseRateExceeded:
          format: int32
          type: integer
        breaksTotalNumbers:
          format: int32
          type: integer
        breaksTotalMinutes:
          format: int32
          type: integer
        responsibleVeterinarianUuid:
          maxLength: 40
          minLength: 0
          type: string
      required:
      - creationTimestamp
      - uuid
      type: object
    EventContestFee:
      example:
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        kind: kind
        remark: remark
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
        changeCounter: 3
        unit: unit
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        deposit: 4.258773108174356
        currency: currency
        position: 0
        currentState: 4
        value: 6.628464275087742
        key: key
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        currentState:
          format: int32
          type: integer
        kind:
          maxLength: 50
          minLength: 0
          type: string
        position:
          format: int32
          type: integer
        key:
          maxLength: 255
          minLength: 0
          type: string
        currency:
          maxLength: 25
          minLength: 0
          type: string
        value:
          format: double
          type: number
        unit:
          maxLength: 25
          minLength: 0
          type: string
        deposit:
          format: double
          type: number
        remark:
          type: string
      required:
      - creationTimestamp
      - uuid
      type: object
    EventContestLocation:
      example:
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        country: country
        city: city
        houseNumber: houseNumber
        type: type
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
        changeCounter: 1
        zipcode: zipcode
        name3: name3
        phone: phone
        street: street
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        salutation: salutation
        gpsCoordinate: gpsCoordinate
        currentState: 4
        name2: name2
        fax: fax
        name1: name1
        cellPhone: cellPhone
        email: email
        info: info
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        currentState:
          format: int32
          type: integer
        type:
          maxLength: 50
          minLength: 0
          type: string
        salutation:
          maxLength: 255
          minLength: 0
          type: string
        name1:
          maxLength: 255
          minLength: 0
          type: string
        name2:
          maxLength: 255
          minLength: 0
          type: string
        name3:
          maxLength: 255
          minLength: 0
          type: string
        street:
          maxLength: 255
          minLength: 0
          type: string
        houseNumber:
          maxLength: 255
          minLength: 0
          type: string
        zipcode:
          maxLength: 255
          minLength: 0
          type: string
        city:
          maxLength: 255
          minLength: 0
          type: string
        country:
          maxLength: 255
          minLength: 0
          type: string
        phone:
          maxLength: 255
          minLength: 0
          type: string
        fax:
          maxLength: 255
          minLength: 0
          type: string
        cellPhone:
          maxLength: 255
          minLength: 0
          type: string
        email:
          maxLength: 255
          minLength: 0
          type: string
        gpsCoordinate:
          maxLength: 255
          minLength: 0
          type: string
        info:
          maxLength: 255
          minLength: 0
          type: string
      required:
      - creationTimestamp
      - uuid
      type: object
    EventContestRemark:
      example:
        changeCounter: 7
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        kind: kind
        sortid: 0
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        description: description
        currentState: 9
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        currentState:
          format: int32
          type: integer
        kind:
          maxLength: 50
          minLength: 0
          type: string
        sortid:
          format: int32
          type: integer
        description:
          type: string
      required:
      - creationTimestamp
      - uuid
      type: object
    EventContestRole:
      example:
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        country: country
        city: city
        kind: kind
        display: display
        houseNumber: houseNumber
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
        changeCounter: 7
        zipcode: zipcode
        name3: name3
        phone: phone
        street: street
        masterdataContactUuid: masterdataContactUuid
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        titleAcademic: titleAcademic
        currentState: 5
        name2: name2
        fax: fax
        name1: name1
        cellPhone: cellPhone
        email: email
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        currentState:
          format: int32
          type: integer
        kind:
          maxLength: 25
          minLength: 0
          type: string
        masterdataContactUuid:
          maxLength: 40
          minLength: 0
          type: string
        display:
          maxLength: 255
          minLength: 0
          type: string
        name1:
          maxLength: 255
          minLength: 0
          type: string
        name2:
          maxLength: 255
          minLength: 0
          type: string
        name3:
          maxLength: 255
          minLength: 0
          type: string
        titleAcademic:
          maxLength: 255
          minLength: 0
          type: string
        street:
          maxLength: 255
          minLength: 0
          type: string
        houseNumber:
          maxLength: 255
          minLength: 0
          type: string
        zipcode:
          maxLength: 255
          minLength: 0
          type: string
        city:
          maxLength: 255
          minLength: 0
          type: string
        country:
          maxLength: 255
          minLength: 0
          type: string
        phone:
          maxLength: 255
          minLength: 0
          type: string
        fax:
          maxLength: 255
          minLength: 0
          type: string
        cellPhone:
          maxLength: 255
          minLength: 0
          type: string
        email:
          maxLength: 255
          minLength: 0
          type: string
      required:
      - creationTimestamp
      - uuid
      type: object
    ResponcePageContests:
      example:
        lastPage: 0
        data:
        - country: country
          currentEvent: 5
          paymentIban: paymentIban
          uuid: uuid
          eventNaming: eventNaming
          vddPortalTitle: vddPortalTitle
          promoterTenderingUrl: promoterTenderingUrl
          changeCounter: 1
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          state: state
          initialEvent: initialEvent
          contestantQuantityMax: 7
          regionCommissionerDescription: regionCommissionerDescription
          stateCommissionerUuid: stateCommissionerUuid
          countryRegion: countryRegion
          _roles:
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            country: country
            city: city
            kind: kind
            display: display
            houseNumber: houseNumber
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 7
            zipcode: zipcode
            name3: name3
            phone: phone
            street: street
            masterdataContactUuid: masterdataContactUuid
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            titleAcademic: titleAcademic
            currentState: 5
            name2: name2
            fax: fax
            name1: name1
            cellPhone: cellPhone
            email: email
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            country: country
            city: city
            kind: kind
            display: display
            houseNumber: houseNumber
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 7
            zipcode: zipcode
            name3: name3
            phone: phone
            street: street
            masterdataContactUuid: masterdataContactUuid
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            titleAcademic: titleAcademic
            currentState: 5
            name2: name2
            fax: fax
            name1: name1
            cellPhone: cellPhone
            email: email
          _remarks:
          - changeCounter: 7
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            kind: kind
            sortid: 0
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            description: description
            currentState: 9
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
          - changeCounter: 7
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            kind: kind
            sortid: 0
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            description: description
            currentState: 9
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
          ending: 2000-01-23T04:56:07.000+00:00
          paymentBic: paymentBic
          infoHelmetObligation: infoHelmetObligation
          _locations:
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            country: country
            city: city
            houseNumber: houseNumber
            type: type
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 1
            zipcode: zipcode
            name3: name3
            phone: phone
            street: street
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            salutation: salutation
            gpsCoordinate: gpsCoordinate
            currentState: 4
            name2: name2
            fax: fax
            name1: name1
            cellPhone: cellPhone
            email: email
            info: info
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            country: country
            city: city
            houseNumber: houseNumber
            type: type
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 1
            zipcode: zipcode
            name3: name3
            phone: phone
            street: street
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            salutation: salutation
            gpsCoordinate: gpsCoordinate
            currentState: 4
            name2: name2
            fax: fax
            name1: name1
            cellPhone: cellPhone
            email: email
            info: info
          paymentPaypal: paymentPaypal
          isCei: true
          approvalDate: 2000-01-23T04:56:07.000+00:00
          beginning: 2000-01-23T04:56:07.000+00:00
          promoterEventUrl: promoterEventUrl
          approvalInfo: approvalInfo
          promoterEventTitle: promoterEventTitle
          isInitialEvent: true
          infoVaccinationObligation: infoVaccinationObligation
          title: title
          stateCommissionerDescription: stateCommissionerDescription
          contestantQuantityMin: 2
          paymentReason: paymentReason
          initialEventUuid: initialEventUuid
          requestDate: 2000-01-23T04:56:07.000+00:00
          requestInfo: requestInfo
          isLateRegistration: true
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          vddPortalUrl: vddPortalUrl
          registrationClosing: 2000-01-23T04:56:07.000+00:00
          isCountryChampionship: true
          _fees:
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            kind: kind
            remark: remark
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 3
            unit: unit
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            deposit: 4.258773108174356
            currency: currency
            position: 0
            currentState: 4
            value: 6.628464275087742
            key: key
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            kind: kind
            remark: remark
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 3
            unit: unit
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            deposit: 4.258773108174356
            currency: currency
            position: 0
            currentState: 4
            value: 6.628464275087742
            key: key
          regionCommissionerUuid: regionCommissionerUuid
          paymentAccountHolder: paymentAccountHolder
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          _competitions:
          - contestantAgeMax: 3
            breaksTotalNumbers: 7
            feeCurrency: feeCurrency
            penaltyPointsPulseRateExceeded: 6
            contestantLimitiationMin: 4
            uuid: uuid
            changeCounter: 9
            vddQualificationLevel: vddQualificationLevel
            descriptionRatingType: descriptionRatingType
            minutesAllowed: 7
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            dateTransferRelease: 2000-01-23T04:56:07.000+00:00
            isCARD: true
            state: state
            _registrations:
            - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
              changeTimestamp: 2000-01-23T04:56:07.000+00:00
              displayContestant: displayContestant
              registrationAccountUuid: registrationAccountUuid
              contestantUuid: contestantUuid
              remark: remark
              _horses:
              - changeCounter: 3
                changeTimestamp: 2000-01-23T04:56:07.000+00:00
                masterdataHorseUuid: masterdataHorseUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                description: description
                currentState: 3
                uuid: uuid
                creationUserUuid: creationUserUuid
                changeUserUuid: changeUserUuid
              - changeCounter: 3
                changeTimestamp: 2000-01-23T04:56:07.000+00:00
                masterdataHorseUuid: masterdataHorseUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                description: description
                currentState: 3
                uuid: uuid
                creationUserUuid: creationUserUuid
                changeUserUuid: changeUserUuid
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 4
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              paymentMethod: 7
              displayHorse: displayHorse
              currentState: 8
              insurancePoliceId: insurancePoliceId
            - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
              changeTimestamp: 2000-01-23T04:56:07.000+00:00
              displayContestant: displayContestant
              registrationAccountUuid: registrationAccountUuid
              contestantUuid: contestantUuid
              remark: remark
              _horses:
              - changeCounter: 3
                changeTimestamp: 2000-01-23T04:56:07.000+00:00
                masterdataHorseUuid: masterdataHorseUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                description: description
                currentState: 3
                uuid: uuid
                creationUserUuid: creationUserUuid
                changeUserUuid: changeUserUuid
              - changeCounter: 3
                changeTimestamp: 2000-01-23T04:56:07.000+00:00
                masterdataHorseUuid: masterdataHorseUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                description: description
                currentState: 3
                uuid: uuid
                creationUserUuid: creationUserUuid
                changeUserUuid: changeUserUuid
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 4
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              paymentMethod: 7
              displayHorse: displayHorse
              currentState: 8
              insurancePoliceId: insurancePoliceId
            infoAwardCeremony: infoAwardCeremony
            contestantAgeMin: 6
            competitionUuidToReduce: competitionUuidToReduce
            contestantQuantityMax: 1
            contestantLimitiationMax: 5
            kind: kind
            descriptionRoute: descriptionRoute
            descriptionTerrain: descriptionTerrain
            descriptionControlchecks: descriptionControlchecks
            ending: 2000-01-23T04:56:07.000+00:00
            isMARKED: true
            infoTransferRelease: infoTransferRelease
            registrationFeeUnit: registrationFeeUnit
            responsibleVeterinarianUuid: responsibleVeterinarianUuid
            penaltyPointsTimeout: 1
            scoringMinimumTime: scoringMinimumTime
            beginning: 2000-01-23T04:56:07.000+00:00
            datePreliminaryDiscussion: 2000-01-23T04:56:07.000+00:00
            minutesMaximum: 4
            penaltyPointsTimeUnderrun: 1
            title: title
            infoPreliminaryDiscussion: infoPreliminaryDiscussion
            scoringPeakTime: scoringPeakTime
            typeOfRouting: typeOfRouting
            dateFollowUpExamination: 2000-01-23T04:56:07.000+00:00
            altitudeMeters: 9
            startingFee: 6.683562403749608
            contestantQuantityMin: 6
            ratingType: 2
            descriptionStart: descriptionStart
            startingFeeUnit: startingFeeUnit
            raiseLength: 2
            horseAgeMax: 9
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            datePreliminaryExamination: 2000-01-23T04:56:07.000+00:00
            hoofProtection: hoofProtection
            registrationFee: 9.369310271410669
            competitionUuidToExtend: competitionUuidToExtend
            _stages:
            - changeTimestamp: 2000-01-23T04:56:07.000+00:00
              beginning: 2000-01-23T04:56:07.000+00:00
              breaksTotalNumbers: 6
              kind: kind
              minutesMaximum: 6
              penaltyPointsTimeUnderrun: 7
              penaltyPointsAtPulseRateOf: 0
              penaltyPointsPulseRateExceeded: 7
              title: title
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 6
              ending: 2000-01-23T04:56:07.000+00:00
              minutesAllowed: 3
              responsibleVeterinarianUuid: responsibleVeterinarianUuid
              penaltyPointsTimeout: 3
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              breaksTotalMinutes: 0
              currentState: 6
              raiseLength: 5
            - changeTimestamp: 2000-01-23T04:56:07.000+00:00
              beginning: 2000-01-23T04:56:07.000+00:00
              breaksTotalNumbers: 6
              kind: kind
              minutesMaximum: 6
              penaltyPointsTimeUnderrun: 7
              penaltyPointsAtPulseRateOf: 0
              penaltyPointsPulseRateExceeded: 7
              title: title
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 6
              ending: 2000-01-23T04:56:07.000+00:00
              minutesAllowed: 3
              responsibleVeterinarianUuid: responsibleVeterinarianUuid
              penaltyPointsTimeout: 3
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              breaksTotalMinutes: 0
              currentState: 6
              raiseLength: 5
            penaltyPointsAtPulseRateOf: 1
            infoFollowUpExamination: infoFollowUpExamination
            horseAgeMin: 8
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            breaksTotalMinutes: 1
            dateAwardCeremony: 2000-01-23T04:56:07.000+00:00
            currentState: 3
            infoPreliminaryExamination: infoPreliminaryExamination
          - contestantAgeMax: 3
            breaksTotalNumbers: 7
            feeCurrency: feeCurrency
            penaltyPointsPulseRateExceeded: 6
            contestantLimitiationMin: 4
            uuid: uuid
            changeCounter: 9
            vddQualificationLevel: vddQualificationLevel
            descriptionRatingType: descriptionRatingType
            minutesAllowed: 7
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            dateTransferRelease: 2000-01-23T04:56:07.000+00:00
            isCARD: true
            state: state
            _registrations:
            - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
              changeTimestamp: 2000-01-23T04:56:07.000+00:00
              displayContestant: displayContestant
              registrationAccountUuid: registrationAccountUuid
              contestantUuid: contestantUuid
              remark: remark
              _horses:
              - changeCounter: 3
                changeTimestamp: 2000-01-23T04:56:07.000+00:00
                masterdataHorseUuid: masterdataHorseUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                description: description
                currentState: 3
                uuid: uuid
                creationUserUuid: creationUserUuid
                changeUserUuid: changeUserUuid
              - changeCounter: 3
                changeTimestamp: 2000-01-23T04:56:07.000+00:00
                masterdataHorseUuid: masterdataHorseUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                description: description
                currentState: 3
                uuid: uuid
                creationUserUuid: creationUserUuid
                changeUserUuid: changeUserUuid
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 4
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              paymentMethod: 7
              displayHorse: displayHorse
              currentState: 8
              insurancePoliceId: insurancePoliceId
            - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
              changeTimestamp: 2000-01-23T04:56:07.000+00:00
              displayContestant: displayContestant
              registrationAccountUuid: registrationAccountUuid
              contestantUuid: contestantUuid
              remark: remark
              _horses:
              - changeCounter: 3
                changeTimestamp: 2000-01-23T04:56:07.000+00:00
                masterdataHorseUuid: masterdataHorseUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                description: description
                currentState: 3
                uuid: uuid
                creationUserUuid: creationUserUuid
                changeUserUuid: changeUserUuid
              - changeCounter: 3
                changeTimestamp: 2000-01-23T04:56:07.000+00:00
                masterdataHorseUuid: masterdataHorseUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                description: description
                currentState: 3
                uuid: uuid
                creationUserUuid: creationUserUuid
                changeUserUuid: changeUserUuid
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 4
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              paymentMethod: 7
              displayHorse: displayHorse
              currentState: 8
              insurancePoliceId: insurancePoliceId
            infoAwardCeremony: infoAwardCeremony
            contestantAgeMin: 6
            competitionUuidToReduce: competitionUuidToReduce
            contestantQuantityMax: 1
            contestantLimitiationMax: 5
            kind: kind
            descriptionRoute: descriptionRoute
            descriptionTerrain: descriptionTerrain
            descriptionControlchecks: descriptionControlchecks
            ending: 2000-01-23T04:56:07.000+00:00
            isMARKED: true
            infoTransferRelease: infoTransferRelease
            registrationFeeUnit: registrationFeeUnit
            responsibleVeterinarianUuid: responsibleVeterinarianUuid
            penaltyPointsTimeout: 1
            scoringMinimumTime: scoringMinimumTime
            beginning: 2000-01-23T04:56:07.000+00:00
            datePreliminaryDiscussion: 2000-01-23T04:56:07.000+00:00
            minutesMaximum: 4
            penaltyPointsTimeUnderrun: 1
            title: title
            infoPreliminaryDiscussion: infoPreliminaryDiscussion
            scoringPeakTime: scoringPeakTime
            typeOfRouting: typeOfRouting
            dateFollowUpExamination: 2000-01-23T04:56:07.000+00:00
            altitudeMeters: 9
            startingFee: 6.683562403749608
            contestantQuantityMin: 6
            ratingType: 2
            descriptionStart: descriptionStart
            startingFeeUnit: startingFeeUnit
            raiseLength: 2
            horseAgeMax: 9
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            datePreliminaryExamination: 2000-01-23T04:56:07.000+00:00
            hoofProtection: hoofProtection
            registrationFee: 9.369310271410669
            competitionUuidToExtend: competitionUuidToExtend
            _stages:
            - changeTimestamp: 2000-01-23T04:56:07.000+00:00
              beginning: 2000-01-23T04:56:07.000+00:00
              breaksTotalNumbers: 6
              kind: kind
              minutesMaximum: 6
              penaltyPointsTimeUnderrun: 7
              penaltyPointsAtPulseRateOf: 0
              penaltyPointsPulseRateExceeded: 7
              title: title
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 6
              ending: 2000-01-23T04:56:07.000+00:00
              minutesAllowed: 3
              responsibleVeterinarianUuid: responsibleVeterinarianUuid
              penaltyPointsTimeout: 3
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              breaksTotalMinutes: 0
              currentState: 6
              raiseLength: 5
            - changeTimestamp: 2000-01-23T04:56:07.000+00:00
              beginning: 2000-01-23T04:56:07.000+00:00
              breaksTotalNumbers: 6
              kind: kind
              minutesMaximum: 6
              penaltyPointsTimeUnderrun: 7
              penaltyPointsAtPulseRateOf: 0
              penaltyPointsPulseRateExceeded: 7
              title: title
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 6
              ending: 2000-01-23T04:56:07.000+00:00
              minutesAllowed: 3
              responsibleVeterinarianUuid: responsibleVeterinarianUuid
              penaltyPointsTimeout: 3
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              breaksTotalMinutes: 0
              currentState: 6
              raiseLength: 5
            penaltyPointsAtPulseRateOf: 1
            infoFollowUpExamination: infoFollowUpExamination
            horseAgeMin: 8
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            breaksTotalMinutes: 1
            dateAwardCeremony: 2000-01-23T04:56:07.000+00:00
            currentState: 3
            infoPreliminaryExamination: infoPreliminaryExamination
          promoterTenderingTitle: promoterTenderingTitle
          isCard: true
          currentState: 5
        - country: country
          currentEvent: 5
          paymentIban: paymentIban
          uuid: uuid
          eventNaming: eventNaming
          vddPortalTitle: vddPortalTitle
          promoterTenderingUrl: promoterTenderingUrl
          changeCounter: 1
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          state: state
          initialEvent: initialEvent
          contestantQuantityMax: 7
          regionCommissionerDescription: regionCommissionerDescription
          stateCommissionerUuid: stateCommissionerUuid
          countryRegion: countryRegion
          _roles:
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            country: country
            city: city
            kind: kind
            display: display
            houseNumber: houseNumber
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 7
            zipcode: zipcode
            name3: name3
            phone: phone
            street: street
            masterdataContactUuid: masterdataContactUuid
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            titleAcademic: titleAcademic
            currentState: 5
            name2: name2
            fax: fax
            name1: name1
            cellPhone: cellPhone
            email: email
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            country: country
            city: city
            kind: kind
            display: display
            houseNumber: houseNumber
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 7
            zipcode: zipcode
            name3: name3
            phone: phone
            street: street
            masterdataContactUuid: masterdataContactUuid
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            titleAcademic: titleAcademic
            currentState: 5
            name2: name2
            fax: fax
            name1: name1
            cellPhone: cellPhone
            email: email
          _remarks:
          - changeCounter: 7
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            kind: kind
            sortid: 0
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            description: description
            currentState: 9
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
          - changeCounter: 7
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            kind: kind
            sortid: 0
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            description: description
            currentState: 9
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
          ending: 2000-01-23T04:56:07.000+00:00
          paymentBic: paymentBic
          infoHelmetObligation: infoHelmetObligation
          _locations:
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            country: country
            city: city
            houseNumber: houseNumber
            type: type
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 1
            zipcode: zipcode
            name3: name3
            phone: phone
            street: street
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            salutation: salutation
            gpsCoordinate: gpsCoordinate
            currentState: 4
            name2: name2
            fax: fax
            name1: name1
            cellPhone: cellPhone
            email: email
            info: info
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            country: country
            city: city
            houseNumber: houseNumber
            type: type
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 1
            zipcode: zipcode
            name3: name3
            phone: phone
            street: street
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            salutation: salutation
[...]
