openapi: 3.0.1
info:
  description: Rest-Interface for ONES
  title: vdd4ones
  version: 1.0a
servers:
- description: Generated server url
  url: https://vdd4ones.de:8080
paths:
  /rest/application/register/account/{accountUuid}:
    get:
      operationId: getAccoundByUuid
      parameters:
      - explode: false
        in: path
        name: accountUuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/registeredAccount'
          description: OK
      security:
      - basicAuth: []
      tags:
      - application-account-controller
      x-accepts: '*/*'
    put:
      operationId: putRegisterAccount
      parameters:
      - explode: false
        in: path
        name: accountUuid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAccount'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/registerResponce'
          description: OK
      security:
      - basicAuth: []
      tags:
      - application-account-controller
      x-contentType: application/json
      x-accepts: '*/*'
  /rest/application/register/account/unlock:
    put:
      operationId: putRegisterAccountUnlock
      parameters:
      - explode: true
        in: query
        name: uuid
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: code
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registerResponce'
          description: OK
      security:
      - basicAuth: []
      tags:
      - application-account-controller
      x-accepts: application/json
  /rest/masterdata/horse/account/{uuid}:
    post:
      operationId: postRegisterHorse
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registerHorse'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK
      security:
      - basicAuth: []
      tags:
      - masterdata-horse-controller
      x-contentType: application/json
      x-accepts: '*/*'
  /rest/event/nomination/account/{uuid}:
    post:
      operationId: postAccountNomination
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registerNomination'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/registerResponce'
          description: OK
      security:
      - basicAuth: []
      tags:
      - event-contest-controller
      x-contentType: application/json
      x-accepts: '*/*'
  /rest/application/register/account:
    post:
      operationId: postRegisterAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registerAccount'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registerResponce'
          description: OK
      security:
      - basicAuth: []
      tags:
      - application-account-controller
      x-contentType: application/json
      x-accepts: application/json
  /rest/masterdata/property/items/{proptery}:
    get:
      operationId: getPropertyItems
      parameters:
      - explode: false
        in: path
        name: proptery
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/MasterdataProperty'
                type: array
          description: OK
      security:
      - basicAuth: []
      tags:
      - masterdata-property-controller
      x-accepts: '*/*'
  /rest/event/contests:
    get:
      operationId: getContestByFilters
      parameters:
      - explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: untilDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: countryRegions
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: contestKinds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: isCountryChampionship
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: isCEI
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: isCard
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: onlyRegistered
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: accountUuid
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pageNo
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: sortBy
        required: false
        schema:
          default: beginning
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResponcePageContests_Plain'
          description: OK
      security:
      - basicAuth: []
      tags:
      - event-contest-controller
      x-accepts: '*/*'
  /rest/event/contest:
    get:
      operationId: getContestByUuid
      parameters:
      - explode: true
        in: query
        name: contestUuid
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: accountUuid
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventContest_Plain'
          description: OK
      security:
      - basicAuth: []
      tags:
      - event-contest-controller
      x-accepts: application/json
  /rest/event/contest/result/current:
    get:
      operationId: getCurrentContestCompetitionsResults
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/EventContestCompetitionResult'
                type: array
          description: OK
      security:
      - basicAuth: []
      tags:
      - event-contest-controller
      x-accepts: '*/*'
  /rest/event/contest/result/account/{uuid}:
    get:
      operationId: getAccountContestCompetitionsResults
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/EventContestCompetitionResult'
                type: array
          description: OK
      security:
      - basicAuth: []
      tags:
      - event-contest-controller
      x-accepts: '*/*'
  /rest/application/register/account/{loginIdentification}:
    delete:
      operationId: deleteRegisteredAccount
      parameters:
      - explode: false
        in: path
        name: loginIdentification
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/registerResponce'
          description: OK
      security:
      - basicAuth: []
      tags:
      - application-account-controller
      x-accepts: '*/*'
components:
  schemas:
    registerAddress:
      example:
        country: country
        zipCode: zipCode
        city: city
        street: street
        houseNumber: houseNumber
      properties:
        country:
          maxLength: 255
          minLength: 0
          type: string
        zipCode:
          maxLength: 255
          minLength: 0
          type: string
        city:
          maxLength: 255
          minLength: 0
          type: string
        street:
          maxLength: 255
          minLength: 0
          type: string
        houseNumber:
          maxLength: 255
          minLength: 0
          type: string
      required:
      - city
      - street
      type: object
    registerContactNatural:
      example:
        birthday: 2000-01-23
        forename: forename
        emergencyPhoneNumber: emergencyPhoneNumber
        phoneNumber: phoneNumber
        postalAddress:
          country: country
          zipCode: zipCode
          city: city
          street: street
          houseNumber: houseNumber
        surname: surname
        phoneNumberMobile: phoneNumberMobile
        birthname: birthname
        salutation: salutation
        email: email
      properties:
        surname:
          maxLength: 255
          minLength: 1
          type: string
        birthname:
          maxLength: 255
          minLength: 0
          type: string
        forename:
          maxLength: 255
          minLength: 0
          type: string
        salutation:
          maxLength: 255
          minLength: 0
          type: string
        birthday:
          format: date
          type: string
        email:
          maxLength: 255
          minLength: 6
          type: string
        phoneNumber:
          maxLength: 50
          minLength: 0
          type: string
        phoneNumberMobile:
          maxLength: 50
          minLength: 0
          type: string
        emergencyPhoneNumber:
          maxLength: 50
          minLength: 0
          type: string
        postalAddress:
          $ref: '#/components/schemas/registerAddress'
      required:
      - surname
      type: object
    registerMembership:
      example:
        feiMemberId: feiMemberId
        vddQualificationLevel: vddQualificationLevel
        vddMemberId: vddMemberId
        fnMemberId: fnMemberId
        fnQualificationLevel: fnQualificationLevel
        feiQualificationLevel: feiQualificationLevel
      properties:
        feiMemberId:
          maxLength: 50
          minLength: 0
          type: string
        feiQualificationLevel:
          maxLength: 5
          minLength: 0
          type: string
        fnMemberId:
          maxLength: 50
          minLength: 0
          type: string
        fnQualificationLevel:
          maxLength: 5
          minLength: 0
          type: string
        vddMemberId:
          maxLength: 50
          minLength: 0
          type: string
        vddQualificationLevel:
          maxLength: 5
          minLength: 0
          type: string
      type: object
    updateAccount:
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        loginIdentification:
          maxLength: 255
          minLength: 1
          type: string
        loginKeyword:
          maxLength: 255
          minLength: 1
          type: string
        nativeLanguage:
          maxLength: 5
          minLength: 0
          type: string
        user:
          $ref: '#/components/schemas/registerContactNatural'
        memberships:
          $ref: '#/components/schemas/registerMembership'
      required:
      - uuid
      type: object
    registerResponce:
      example:
        state: state
        reasonCode: 0
        justification: justification
        registerObjectUuid: registerObjectUuid
        uuid: uuid
      properties:
        uuid:
          maxLength: 255
          minLength: 0
          type: string
        state:
          maxLength: 255
          minLength: 1
          type: string
        reasonCode:
          format: int32
          type: integer
        justification:
          maxLength: 255
          minLength: 0
          type: string
        registerObjectUuid:
          maxLength: 40
          minLength: 0
          type: string
      type: object
    registerContactLegal:
      example:
        phoneNumber: phoneNumber
        postalAddress:
          country: country
          zipCode: zipCode
          city: city
          street: street
          houseNumber: houseNumber
        foundingDay: 2000-01-23
        phoneNumberMobile: phoneNumberMobile
        name: name
        typeOf: typeOf
        email: email
      properties:
        name:
          maxLength: 255
          minLength: 1
          type: string
        typeOf:
          maxLength: 255
          minLength: 0
          type: string
        foundingDay:
          format: date
          type: string
        email:
          maxLength: 255
          minLength: 6
          type: string
        phoneNumber:
          maxLength: 50
          minLength: 0
          type: string
        phoneNumberMobile:
          maxLength: 50
          minLength: 0
          type: string
        postalAddress:
          $ref: '#/components/schemas/registerAddress'
      required:
      - name
      type: object
    registerHorse:
      properties:
        name:
          maxLength: 255
          minLength: 1
          type: string
        passportId:
          maxLength: 255
          minLength: 0
          type: string
        feiPassportId:
          maxLength: 50
          minLength: 0
          type: string
        fnPassportId:
          maxLength: 50
          minLength: 0
          type: string
        chipId:
          maxLength: 50
          minLength: 0
          type: string
        breed:
          maxLength: 255
          minLength: 0
          type: string
        gender:
          enum:
          - M
          - S
          - G
          maxLength: 1
          minLength: 0
          type: string
        color:
          maxLength: 255
          minLength: 0
          type: string
        yearOfBirth:
          format: int32
          type: integer
        stickSize:
          format: int32
          type: integer
        owner:
          $ref: '#/components/schemas/registerContactNatural'
        stable:
          $ref: '#/components/schemas/registerContactLegal'
      required:
      - name
      - passportId
      type: object
    registerNomination:
      properties:
        competitionUuid:
          maxLength: 255
          minLength: 1
          type: string
        horses:
          items:
            $ref: '#/components/schemas/registerNominationHorse'
          type: array
        bookingFeeUuids:
          items:
            $ref: '#/components/schemas/registerNominationFee'
          maxItems: 40
          minItems: 1
          type: array
          uniqueItems: true
      required:
      - competitionUuid
      - horses
      type: object
    registerNominationFee:
      properties:
        feeUuid:
          maxLength: 255
          minLength: 1
          type: string
        quantity:
          format: double
          type: number
      required:
      - feeUuid
      type: object
    registerNominationHorse:
      properties:
        horseUuid:
          maxLength: 255
          minLength: 1
          type: string
        escortHorse:
          type: boolean
        insurancePoliceId:
          type: string
      required:
      - horseUuid
      type: object
    registerAccount:
      properties:
        uuid:
          readOnly: true
          type: string
        loginIdentification:
          maxLength: 255
          minLength: 1
          type: string
        loginKeyword:
          maxLength: 255
          minLength: 1
          type: string
        nativeLanguage:
          maxLength: 5
          minLength: 0
          type: string
        user:
          $ref: '#/components/schemas/registerContactNatural'
        memberships:
          $ref: '#/components/schemas/registerMembership'
      required:
      - loginIdentification
      - loginKeyword
      type: object
    MasterdataProperty:
      example:
        changeCounter: 0
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        acronym: acronym
        display: display
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        name: name
        _items:
        - changeCounter: 6
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          acronym: acronym
          display: display
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          description: description
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
        - changeCounter: 6
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          acronym: acronym
          display: display
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          description: description
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        name:
          maxLength: 255
          minLength: 0
          type: string
        acronym:
          maxLength: 10
          minLength: 0
          type: string
        display:
          maxLength: 50
          minLength: 0
          type: string
        _items:
          items:
            $ref: '#/components/schemas/MasterdataPropertyCharacteristic'
          type: array
          uniqueItems: true
      required:
      - creationTimestamp
      - uuid
      type: object
    MasterdataPropertyCharacteristic:
      example:
        changeCounter: 6
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        acronym: acronym
        display: display
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        description: description
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        description:
          maxLength: 255
          minLength: 0
          type: string
        acronym:
          maxLength: 10
          minLength: 0
          type: string
        display:
          maxLength: 50
          minLength: 0
          type: string
      required:
      - creationTimestamp
      - uuid
      type: object
    EventContestCompetitionRegistrationHorse_Plain:
      example:
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        registrationAccountUuid: registrationAccountUuid
        remark: remark
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
        changeCounter: 1
        horseUuid: horseUuid
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        displayHorse: displayHorse
        currentState: 2
        insurancePoliceId: insurancePoliceId
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        eventContestCompetitionRegistration:
          $ref: '#/components/schemas/EventContestCompetitionRegistration_Plain'
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        currentState:
          format: int32
          type: integer
        registrationAccountUuid:
          maxLength: 40
          minLength: 0
          type: string
        horseUuid:
          type: string
        insurancePoliceId:
          maxLength: 255
          minLength: 0
          type: string
        remark:
          maxLength: 255
          minLength: 0
          type: string
        displayHorse:
          maxLength: 255
          minLength: 0
          type: string
      required:
      - creationTimestamp
      - uuid
      type: object
    EventContestCompetitionRegistration_Plain:
      example:
        registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
        displayContestant: displayContestant
        eventContestCompetitionUuuid: eventContestCompetitionUuuid
        registrationAccountUuid: registrationAccountUuid
        contestantUuid: contestantUuid
        paymentMethod: 6
        remark: remark
        displayHorse: displayHorse
        _horses:
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          registrationAccountUuid: registrationAccountUuid
          remark: remark
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 1
          horseUuid: horseUuid
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          displayHorse: displayHorse
          currentState: 2
          insurancePoliceId: insurancePoliceId
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          registrationAccountUuid: registrationAccountUuid
          remark: remark
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 1
          horseUuid: horseUuid
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          displayHorse: displayHorse
          currentState: 2
          insurancePoliceId: insurancePoliceId
        uuid: uuid
        insurancePoliceId: insurancePoliceId
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        eventContestCompetitionUuuid:
          type: string
        registrationCompetitionDate:
          format: date-time
          type: string
        registrationAccountUuid:
          maxLength: 40
          minLength: 0
          type: string
        contestantUuid:
          maxLength: 40
          minLength: 0
          type: string
        paymentMethod:
          format: int32
          type: integer
        insurancePoliceId:
          maxLength: 255
          minLength: 0
          type: string
        remark:
          maxLength: 255
          minLength: 0
          type: string
        displayContestant:
          maxLength: 255
          minLength: 0
          type: string
        displayHorse:
          maxLength: 255
          minLength: 0
          type: string
        _horses:
          items:
            $ref: '#/components/schemas/EventContestCompetitionRegistrationHorse_Plain'
          type: array
          uniqueItems: true
      required:
      - eventContestCompetitionUuuid
      - uuid
      type: object
    EventContestCompetitionStage_Plain:
      example:
        beginning: 2000-01-23T04:56:07.000+00:00
        breaksTotalNumbers: 6
        kind: kind
        minutesMaximum: 5
        penaltyPointsTimeUnderrun: 6
        penaltyPointsAtPulseRateOf: 8
        penaltyPointsPulseRateExceeded: 9
        title: title
        uuid: uuid
        ending: 2000-01-23T04:56:07.000+00:00
        minutesAllowed: 9
        responsibleVeterinarianUuid: responsibleVeterinarianUuid
        penaltyPointsTimeout: 9
        breaksTotalMinutes: 3
        raiseLength: 4
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        title:
          maxLength: 255
          minLength: 0
          type: string
        kind:
          maxLength: 25
          minLength: 0
          type: string
        beginning:
          format: date-time
          type: string
        ending:
          format: date-time
          type: string
        raiseLength:
          format: int32
          type: integer
        minutesMaximum:
          format: int32
          type: integer
        minutesAllowed:
          format: int32
          type: integer
        penaltyPointsTimeout:
          format: int32
          type: integer
        penaltyPointsTimeUnderrun:
          format: int32
          type: integer
        penaltyPointsAtPulseRateOf:
          format: int32
          type: integer
        penaltyPointsPulseRateExceeded:
          format: int32
          type: integer
        breaksTotalNumbers:
          format: int32
          type: integer
        breaksTotalMinutes:
          format: int32
          type: integer
        responsibleVeterinarianUuid:
          maxLength: 40
          minLength: 0
          type: string
      required:
      - uuid
      type: object
    EventContestCompetition_Plain:
      example:
        contestantAgeMax: 1
        scoringMinimumTime: scoringMinimumTime
        beginning: 2000-01-23T04:56:07.000+00:00
        datePreliminaryDiscussion: 2000-01-23T04:56:07.000+00:00
        feeCurrency: feeCurrency
        contestantLimitiationMin: 7
        title: title
        uuid: uuid
        infoPreliminaryDiscussion: infoPreliminaryDiscussion
        vddQualificationLevel: vddQualificationLevel
        scoringPeakTime: scoringPeakTime
        typeOfRouting: typeOfRouting
        descriptionRatingType: descriptionRatingType
        dateFollowUpExamination: 2000-01-23T04:56:07.000+00:00
        altitudeMeters: 3
        startingFee: 4.145608029883936
        contestantQuantityMin: 6
        ratingType: 1
        descriptionStart: descriptionStart
        dateTransferRelease: 2000-01-23T04:56:07.000+00:00
        isCARD: true
        state: state
        _registrations:
        - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
          displayContestant: displayContestant
          eventContestCompetitionUuuid: eventContestCompetitionUuuid
          registrationAccountUuid: registrationAccountUuid
          contestantUuid: contestantUuid
          paymentMethod: 6
          remark: remark
          displayHorse: displayHorse
          _horses:
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            registrationAccountUuid: registrationAccountUuid
            remark: remark
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 1
            horseUuid: horseUuid
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            displayHorse: displayHorse
            currentState: 2
            insurancePoliceId: insurancePoliceId
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            registrationAccountUuid: registrationAccountUuid
            remark: remark
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 1
            horseUuid: horseUuid
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            displayHorse: displayHorse
            currentState: 2
            insurancePoliceId: insurancePoliceId
          uuid: uuid
          insurancePoliceId: insurancePoliceId
        - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
          displayContestant: displayContestant
          eventContestCompetitionUuuid: eventContestCompetitionUuuid
          registrationAccountUuid: registrationAccountUuid
          contestantUuid: contestantUuid
          paymentMethod: 6
          remark: remark
          displayHorse: displayHorse
          _horses:
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            registrationAccountUuid: registrationAccountUuid
            remark: remark
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 1
            horseUuid: horseUuid
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            displayHorse: displayHorse
            currentState: 2
            insurancePoliceId: insurancePoliceId
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            registrationAccountUuid: registrationAccountUuid
            remark: remark
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 1
            horseUuid: horseUuid
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            displayHorse: displayHorse
            currentState: 2
            insurancePoliceId: insurancePoliceId
          uuid: uuid
          insurancePoliceId: insurancePoliceId
        startingFeeUnit: startingFeeUnit
        raiseLength: 2
        infoAwardCeremony: infoAwardCeremony
        horseAgeMax: 1
        contestantAgeMin: 1
        datePreliminaryExamination: 2000-01-23T04:56:07.000+00:00
        contestantQuantityMax: 7
        hoofProtection: hoofProtection
        contestantLimitiationMax: 9
        registrationFee: 2.027123023002322
        kind: kind
        _stages:
        - beginning: 2000-01-23T04:56:07.000+00:00
          breaksTotalNumbers: 6
          kind: kind
          minutesMaximum: 5
          penaltyPointsTimeUnderrun: 6
          penaltyPointsAtPulseRateOf: 8
          penaltyPointsPulseRateExceeded: 9
          title: title
          uuid: uuid
          ending: 2000-01-23T04:56:07.000+00:00
          minutesAllowed: 9
          responsibleVeterinarianUuid: responsibleVeterinarianUuid
          penaltyPointsTimeout: 9
          breaksTotalMinutes: 3
          raiseLength: 4
        - beginning: 2000-01-23T04:56:07.000+00:00
          breaksTotalNumbers: 6
          kind: kind
          minutesMaximum: 5
          penaltyPointsTimeUnderrun: 6
          penaltyPointsAtPulseRateOf: 8
          penaltyPointsPulseRateExceeded: 9
          title: title
          uuid: uuid
          ending: 2000-01-23T04:56:07.000+00:00
          minutesAllowed: 9
          responsibleVeterinarianUuid: responsibleVeterinarianUuid
          penaltyPointsTimeout: 9
          breaksTotalMinutes: 3
          raiseLength: 4
        infoFollowUpExamination: infoFollowUpExamination
        horseAgeMin: 7
        descriptionRoute: descriptionRoute
        descriptionTerrain: descriptionTerrain
        descriptionControlchecks: descriptionControlchecks
        ending: 2000-01-23T04:56:07.000+00:00
        isMARKED: true
        infoTransferRelease: infoTransferRelease
        registrationFeeUnit: registrationFeeUnit
        dateAwardCeremony: 2000-01-23T04:56:07.000+00:00
        infoPreliminaryExamination: infoPreliminaryExamination
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        state:
          maxLength: 25
          minLength: 0
          type: string
        title:
          maxLength: 255
          minLength: 0
          type: string
        kind:
          maxLength: 25
          minLength: 0
          type: string
        beginning:
          format: date-time
          type: string
        ending:
          format: date-time
          type: string
        raiseLength:
          format: int32
          type: integer
        contestantLimitiationMin:
          format: int32
          type: integer
        contestantLimitiationMax:
          format: int32
          type: integer
        datePreliminaryExamination:
          format: date-time
          type: string
        infoPreliminaryExamination:
          maxLength: 255
          minLength: 0
          type: string
        datePreliminaryDiscussion:
          format: date-time
          type: string
        infoPreliminaryDiscussion:
          maxLength: 255
          minLength: 0
          type: string
        dateFollowUpExamination:
          format: date-time
          type: string
        infoFollowUpExamination:
          maxLength: 255
          minLength: 0
          type: string
        dateTransferRelease:
          format: date-time
          type: string
        infoTransferRelease:
          maxLength: 255
          minLength: 0
          type: string
        dateAwardCeremony:
          format: date-time
          type: string
        infoAwardCeremony:
          maxLength: 255
          minLength: 0
          type: string
        vddQualificationLevel:
          maxLength: 25
          minLength: 0
          type: string
        altitudeMeters:
          format: int32
          type: integer
        feeCurrency:
          maxLength: 25
          minLength: 0
          type: string
        registrationFee:
          format: double
          type: number
        registrationFeeUnit:
          maxLength: 25
          minLength: 0
          type: string
        startingFee:
          format: double
          type: number
        startingFeeUnit:
          maxLength: 25
          minLength: 0
          type: string
        scoringMinimumTime:
          maxLength: 10
          minLength: 0
          type: string
        scoringPeakTime:
          maxLength: 10
          minLength: 0
          type: string
        horseAgeMin:
          format: int32
          type: integer
        horseAgeMax:
          format: int32
          type: integer
        contestantAgeMin:
          format: int32
          type: integer
        contestantAgeMax:
          format: int32
          type: integer
        contestantQuantityMin:
          format: int32
          type: integer
        contestantQuantityMax:
          format: int32
          type: integer
        hoofProtection:
          maxLength: 50
          minLength: 0
          type: string
        isCARD:
          type: boolean
        isMARKED:
          type: boolean
        descriptionRoute:
          type: string
        typeOfRouting:
          maxLength: 50
          minLength: 0
          type: string
        descriptionStart:
          type: string
        descriptionTerrain:
          type: string
        descriptionControlchecks:
          type: string
        ratingType:
          format: int32
          type: integer
        descriptionRatingType:
          type: string
        _stages:
          items:
            $ref: '#/components/schemas/EventContestCompetitionStage_Plain'
          type: array
          uniqueItems: true
        _registrations:
          items:
            $ref: '#/components/schemas/EventContestCompetitionRegistration_Plain'
          type: array
          uniqueItems: true
      required:
      - uuid
      type: object
    EventContestFee_Plain:
      example:
        unit: unit
        kind: kind
        deposit: 3.353193347011243
        currency: currency
        remark: remark
        position: 5
        currentState: 6
        uuid: uuid
        value: 6.704019297950036
        key: key
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        currentState:
          format: int32
          type: integer
        kind:
          maxLength: 50
          minLength: 0
          type: string
        position:
          format: int32
          type: integer
        key:
          maxLength: 255
          minLength: 0
          type: string
        currency:
          maxLength: 25
          minLength: 0
          type: string
        value:
          format: double
          type: number
        unit:
          maxLength: 25
          minLength: 0
          type: string
        deposit:
          format: double
          type: number
        remark:
          type: string
      required:
      - uuid
      type: object
    EventContestLocation_Plain:
      example:
        country: country
        city: city
        houseNumber: houseNumber
        uuid: uuid
        zipcode: zipcode
        name3: name3
        phone: phone
        street: street
        gpsCoordinate: gpsCoordinate
        name2: name2
        fax: fax
        name1: name1
        cellPhone: cellPhone
        email: email
        info: info
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        name1:
          maxLength: 255
          minLength: 0
          type: string
        name2:
          maxLength: 255
          minLength: 0
          type: string
        name3:
          maxLength: 255
          minLength: 0
          type: string
        street:
          maxLength: 255
          minLength: 0
          type: string
        houseNumber:
          maxLength: 255
          minLength: 0
          type: string
        zipcode:
          maxLength: 255
          minLength: 0
          type: string
        city:
          maxLength: 255
          minLength: 0
          type: string
        country:
          maxLength: 255
          minLength: 0
          type: string
        phone:
          maxLength: 255
          minLength: 0
          type: string
        fax:
          maxLength: 255
          minLength: 0
          type: string
        cellPhone:
          maxLength: 255
          minLength: 0
          type: string
        email:
          maxLength: 255
          minLength: 0
          type: string
        gpsCoordinate:
          maxLength: 255
          minLength: 0
          type: string
        info:
          maxLength: 255
          minLength: 0
          type: string
      required:
      - uuid
      type: object
    EventContestRemark_Plain:
      example:
        changeCounter: 3
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        kind: kind
        sortid: 0
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        description: description
        currentState: 7
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        currentState:
          format: int32
          type: integer
        kind:
          maxLength: 50
          minLength: 0
          type: string
        sortid:
          format: int32
          type: integer
        description:
          type: string
      required:
      - creationTimestamp
      - uuid
      type: object
    EventContestRole_Plain:
      example:
        country: country
        city: city
        kind: kind
        display: display
        houseNumber: houseNumber
        uuid: uuid
        zipcode: zipcode
        name3: name3
        phone: phone
        street: street
        masterdataContactUuid: masterdataContactUuid
        titleAcademic: titleAcademic
        currentState: 6
        name2: name2
        fax: fax
        name1: name1
        cellPhone: cellPhone
        email: email
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        currentState:
          format: int32
          type: integer
        kind:
          maxLength: 25
          minLength: 0
          type: string
        masterdataContactUuid:
          maxLength: 40
          minLength: 0
          type: string
        display:
          maxLength: 255
          minLength: 0
          type: string
        name1:
          maxLength: 255
          minLength: 0
          type: string
        name2:
          maxLength: 255
          minLength: 0
          type: string
        name3:
          maxLength: 255
          minLength: 0
          type: string
        titleAcademic:
          maxLength: 255
          minLength: 0
          type: string
        street:
          maxLength: 255
          minLength: 0
          type: string
        houseNumber:
          maxLength: 255
          minLength: 0
          type: string
        zipcode:
          maxLength: 255
          minLength: 0
          type: string
        city:
          maxLength: 255
          minLength: 0
          type: string
        country:
          maxLength: 255
          minLength: 0
          type: string
        phone:
          maxLength: 255
          minLength: 0
          type: string
        fax:
          maxLength: 255
          minLength: 0
          type: string
        cellPhone:
          maxLength: 255
          minLength: 0
          type: string
        email:
          maxLength: 255
          minLength: 0
          type: string
      required:
      - uuid
      type: object
    EventContest_Plain:
      example:
        country: country
        isCei: true
        currentEvent: 1
        beginning: 2000-01-23T04:56:07.000+00:00
        promoterEventUrl: promoterEventUrl
        paymentIban: paymentIban
        promoterEventTitle: promoterEventTitle
        isInitialEvent: true
        infoVaccinationObligation: infoVaccinationObligation
        title: title
        uuid: uuid
        eventNaming: eventNaming
        vddPortalTitle: vddPortalTitle
        promoterTenderingUrl: promoterTenderingUrl
        contestantQuantityMin: 5
        paymentReason: paymentReason
        initialEventUuid: initialEventUuid
        state: state
        initialEvent: initialEvent
        isLateRegistration: true
        contestantQuantityMax: 5
        vddPortalUrl: vddPortalUrl
        registrationClosing: 2000-01-23T04:56:07.000+00:00
        isCountryChampionship: true
        _fees:
        - unit: unit
          kind: kind
          deposit: 3.353193347011243
          currency: currency
          remark: remark
          position: 5
          currentState: 6
          uuid: uuid
          value: 6.704019297950036
          key: key
        - unit: unit
          kind: kind
          deposit: 3.353193347011243
          currency: currency
          remark: remark
          position: 5
          currentState: 6
          uuid: uuid
          value: 6.704019297950036
          key: key
        countryRegion: countryRegion
        _roles:
        - country: country
          city: city
          kind: kind
          display: display
          houseNumber: houseNumber
          uuid: uuid
          zipcode: zipcode
          name3: name3
          phone: phone
          street: street
          masterdataContactUuid: masterdataContactUuid
          titleAcademic: titleAcademic
          currentState: 6
          name2: name2
          fax: fax
          name1: name1
          cellPhone: cellPhone
          email: email
        - country: country
          city: city
          kind: kind
          display: display
          houseNumber: houseNumber
          uuid: uuid
          zipcode: zipcode
          name3: name3
          phone: phone
          street: street
          masterdataContactUuid: masterdataContactUuid
          titleAcademic: titleAcademic
          currentState: 6
          name2: name2
          fax: fax
          name1: name1
          cellPhone: cellPhone
          email: email
        _remarks:
        - changeCounter: 3
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          kind: kind
          sortid: 0
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          description: description
          currentState: 7
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
        - changeCounter: 3
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          kind: kind
          sortid: 0
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          description: description
          currentState: 7
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
        paymentAccountHolder: paymentAccountHolder
        _competitions:
        - contestantAgeMax: 1
          scoringMinimumTime: scoringMinimumTime
          beginning: 2000-01-23T04:56:07.000+00:00
          datePreliminaryDiscussion: 2000-01-23T04:56:07.000+00:00
          feeCurrency: feeCurrency
          contestantLimitiationMin: 7
          title: title
          uuid: uuid
          infoPreliminaryDiscussion: infoPreliminaryDiscussion
          vddQualificationLevel: vddQualificationLevel
          scoringPeakTime: scoringPeakTime
          typeOfRouting: typeOfRouting
          descriptionRatingType: descriptionRatingType
          dateFollowUpExamination: 2000-01-23T04:56:07.000+00:00
          altitudeMeters: 3
          startingFee: 4.145608029883936
          contestantQuantityMin: 6
          ratingType: 1
          descriptionStart: descriptionStart
          dateTransferRelease: 2000-01-23T04:56:07.000+00:00
          isCARD: true
          state: state
          _registrations:
          - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
            displayContestant: displayContestant
            eventContestCompetitionUuuid: eventContestCompetitionUuuid
            registrationAccountUuid: registrationAccountUuid
            contestantUuid: contestantUuid
            paymentMethod: 6
            remark: remark
            displayHorse: displayHorse
            _horses:
            - changeTimestamp: 2000-01-23T04:56:07.000+00:00
              registrationAccountUuid: registrationAccountUuid
              remark: remark
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 1
              horseUuid: horseUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              displayHorse: displayHorse
              currentState: 2
              insurancePoliceId: insurancePoliceId
            - changeTimestamp: 2000-01-23T04:56:07.000+00:00
              registrationAccountUuid: registrationAccountUuid
              remark: remark
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 1
              horseUuid: horseUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              displayHorse: displayHorse
              currentState: 2
              insurancePoliceId: insurancePoliceId
            uuid: uuid
            insurancePoliceId: insurancePoliceId
          - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
            displayContestant: displayContestant
            eventContestCompetitionUuuid: eventContestCompetitionUuuid
            registrationAccountUuid: registrationAccountUuid
            contestantUuid: contestantUuid
            paymentMethod: 6
            remark: remark
            displayHorse: displayHorse
            _horses:
            - changeTimestamp: 2000-01-23T04:56:07.000+00:00
              registrationAccountUuid: registrationAccountUuid
              remark: remark
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 1
              horseUuid: horseUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              displayHorse: displayHorse
              currentState: 2
              insurancePoliceId: insurancePoliceId
            - changeTimestamp: 2000-01-23T04:56:07.000+00:00
              registrationAccountUuid: registrationAccountUuid
              remark: remark
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 1
              horseUuid: horseUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              displayHorse: displayHorse
              currentState: 2
              insurancePoliceId: insurancePoliceId
            uuid: uuid
            insurancePoliceId: insurancePoliceId
          startingFeeUnit: startingFeeUnit
          raiseLength: 2
          infoAwardCeremony: infoAwardCeremony
          horseAgeMax: 1
          contestantAgeMin: 1
          datePreliminaryExamination: 2000-01-23T04:56:07.000+00:00
          contestantQuantityMax: 7
          hoofProtection: hoofProtection
          contestantLimitiationMax: 9
          registrationFee: 2.027123023002322
          kind: kind
          _stages:
          - beginning: 2000-01-23T04:56:07.000+00:00
            breaksTotalNumbers: 6
            kind: kind
            minutesMaximum: 5
            penaltyPointsTimeUnderrun: 6
            penaltyPointsAtPulseRateOf: 8
            penaltyPointsPulseRateExceeded: 9
            title: title
            uuid: uuid
            ending: 2000-01-23T04:56:07.000+00:00
            minutesAllowed: 9
            responsibleVeterinarianUuid: responsibleVeterinarianUuid
            penaltyPointsTimeout: 9
            breaksTotalMinutes: 3
            raiseLength: 4
          - beginning: 2000-01-23T04:56:07.000+00:00
            breaksTotalNumbers: 6
            kind: kind
            minutesMaximum: 5
            penaltyPointsTimeUnderrun: 6
            penaltyPointsAtPulseRateOf: 8
            penaltyPointsPulseRateExceeded: 9
            title: title
            uuid: uuid
            ending: 2000-01-23T04:56:07.000+00:00
            minutesAllowed: 9
            responsibleVeterinarianUuid: responsibleVeterinarianUuid
            penaltyPointsTimeout: 9
            breaksTotalMinutes: 3
            raiseLength: 4
          infoFollowUpExamination: infoFollowUpExamination
          horseAgeMin: 7
          descriptionRoute: descriptionRoute
          descriptionTerrain: descriptionTerrain
          descriptionControlchecks: descriptionControlchecks
          ending: 2000-01-23T04:56:07.000+00:00
          isMARKED: true
          infoTransferRelease: infoTransferRelease
          registrationFeeUnit: registrationFeeUnit
          dateAwardCeremony: 2000-01-23T04:56:07.000+00:00
          infoPreliminaryExamination: infoPreliminaryExamination
        - contestantAgeMax: 1
          scoringMinimumTime: scoringMinimumTime
          beginning: 2000-01-23T04:56:07.000+00:00
          datePreliminaryDiscussion: 2000-01-23T04:56:07.000+00:00
          feeCurrency: feeCurrency
          contestantLimitiationMin: 7
          title: title
          uuid: uuid
          infoPreliminaryDiscussion: infoPreliminaryDiscussion
          vddQualificationLevel: vddQualificationLevel
          scoringPeakTime: scoringPeakTime
          typeOfRouting: typeOfRouting
          descriptionRatingType: descriptionRatingType
          dateFollowUpExamination: 2000-01-23T04:56:07.000+00:00
          altitudeMeters: 3
          startingFee: 4.145608029883936
          contestantQuantityMin: 6
          ratingType: 1
          descriptionStart: descriptionStart
          dateTransferRelease: 2000-01-23T04:56:07.000+00:00
          isCARD: true
          state: state
          _registrations:
          - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
            displayContestant: displayContestant
            eventContestCompetitionUuuid: eventContestCompetitionUuuid
            registrationAccountUuid: registrationAccountUuid
            contestantUuid: contestantUuid
            paymentMethod: 6
            remark: remark
            displayHorse: displayHorse
            _horses:
            - changeTimestamp: 2000-01-23T04:56:07.000+00:00
              registrationAccountUuid: registrationAccountUuid
              remark: remark
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 1
              horseUuid: horseUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              displayHorse: displayHorse
              currentState: 2
              insurancePoliceId: insurancePoliceId
            - changeTimestamp: 2000-01-23T04:56:07.000+00:00
              registrationAccountUuid: registrationAccountUuid
              remark: remark
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 1
              horseUuid: horseUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              displayHorse: displayHorse
              currentState: 2
              insurancePoliceId: insurancePoliceId
            uuid: uuid
            insurancePoliceId: insurancePoliceId
          - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
            displayContestant: displayContestant
            eventContestCompetitionUuuid: eventContestCompetitionUuuid
            registrationAccountUuid: registrationAccountUuid
            contestantUuid: contestantUuid
            paymentMethod: 6
            remark: remark
            displayHorse: displayHorse
            _horses:
            - changeTimestamp: 2000-01-23T04:56:07.000+00:00
              registrationAccountUuid: registrationAccountUuid
              remark: remark
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 1
              horseUuid: horseUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              displayHorse: displayHorse
              currentState: 2
              insurancePoliceId: insurancePoliceId
            - changeTimestamp: 2000-01-23T04:56:07.000+00:00
              registrationAccountUuid: registrationAccountUuid
              remark: remark
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 1
              horseUuid: horseUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              displayHorse: displayHorse
              currentState: 2
              insurancePoliceId: insurancePoliceId
            uuid: uuid
            insurancePoliceId: insurancePoliceId
          startingFeeUnit: startingFeeUnit
          raiseLength: 2
          infoAwardCeremony: infoAwardCeremony
          horseAgeMax: 1
          contestantAgeMin: 1
          datePreliminaryExamination: 2000-01-23T04:56:07.000+00:00
          contestantQuantityMax: 7
          hoofProtection: hoofProtection
          contestantLimitiationMax: 9
          registrationFee: 2.027123023002322
          kind: kind
          _stages:
          - beginning: 2000-01-23T04:56:07.000+00:00
            breaksTotalNumbers: 6
            kind: kind
            minutesMaximum: 5
            penaltyPointsTimeUnderrun: 6
            penaltyPointsAtPulseRateOf: 8
            penaltyPointsPulseRateExceeded: 9
            title: title
            uuid: uuid
            ending: 2000-01-23T04:56:07.000+00:00
            minutesAllowed: 9
            responsibleVeterinarianUuid: responsibleVeterinarianUuid
            penaltyPointsTimeout: 9
            breaksTotalMinutes: 3
            raiseLength: 4
          - beginning: 2000-01-23T04:56:07.000+00:00
            breaksTotalNumbers: 6
            kind: kind
            minutesMaximum: 5
            penaltyPointsTimeUnderrun: 6
            penaltyPointsAtPulseRateOf: 8
            penaltyPointsPulseRateExceeded: 9
            title: title
            uuid: uuid
            ending: 2000-01-23T04:56:07.000+00:00
            minutesAllowed: 9
            responsibleVeterinarianUuid: responsibleVeterinarianUuid
            penaltyPointsTimeout: 9
            breaksTotalMinutes: 3
            raiseLength: 4
          infoFollowUpExamination: infoFollowUpExamination
          horseAgeMin: 7
          descriptionRoute: descriptionRoute
          descriptionTerrain: descriptionTerrain
          descriptionControlchecks: descriptionControlchecks
          ending: 2000-01-23T04:56:07.000+00:00
          isMARKED: true
          infoTransferRelease: infoTransferRelease
          registrationFeeUnit: registrationFeeUnit
          dateAwardCeremony: 2000-01-23T04:56:07.000+00:00
          infoPreliminaryExamination: infoPreliminaryExamination
        ending: 2000-01-23T04:56:07.000+00:00
        paymentBic: paymentBic
        promoterTenderingTitle: promoterTenderingTitle
        infoHelmetObligation: infoHelmetObligation
        _locations:
        - country: country
          city: city
          houseNumber: houseNumber
          uuid: uuid
          zipcode: zipcode
          name3: name3
          phone: phone
          street: street
          gpsCoordinate: gpsCoordinate
          name2: name2
          fax: fax
          name1: name1
          cellPhone: cellPhone
          email: email
          info: info
        - country: country
          city: city
          houseNumber: houseNumber
          uuid: uuid
          zipcode: zipcode
          name3: name3
          phone: phone
          street: street
          gpsCoordinate: gpsCoordinate
          name2: name2
          fax: fax
          name1: name1
          cellPhone: cellPhone
          email: email
          info: info
        isCard: true
        paymentPaypal: paymentPaypal
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        eventNaming:
          maxLength: 255
          minLength: 0
          type: string
        title:
          maxLength: 255
          minLength: 0
          type: string
        state:
          maxLength: 25
          minLength: 0
          type: string
        beginning:
          format: date-time
          type: string
        ending:
          format: date-time
          type: string
        country:
          maxLength: 50
          minLength: 0
          type: string
        countryRegion:
          maxLength: 50
          minLength: 0
          type: string
        isCountryChampionship:
          type: boolean
        isCei:
          type: boolean
        isCard:
          type: boolean
        vddPortalUrl:
          maxLength: 255
          minLength: 0
          type: string
        vddPortalTitle:
          maxLength: 255
          minLength: 0
          type: string
        promoterTenderingUrl:
          maxLength: 255
          minLength: 0
          type: string
        promoterTenderingTitle:
          maxLength: 255
          minLength: 0
          type: string
        promoterEventUrl:
          maxLength: 255
          minLength: 0
          type: string
        promoterEventTitle:
          maxLength: 255
          minLength: 0
          type: string
        isInitialEvent:
          type: boolean
        initialEventUuid:
          maxLength: 40
          minLength: 0
          type: string
        initialEvent:
          maxLength: 50
          minLength: 0
          type: string
        currentEvent:
          format: int32
          type: integer
        paymentAccountHolder:
          maxLength: 100
          minLength: 0
          type: string
        paymentIban:
          maxLength: 50
          minLength: 0
          type: string
        paymentBic:
          maxLength: 50
          minLength: 0
          type: string
        paymentPaypal:
          maxLength: 255
          minLength: 0
          type: string
        paymentReason:
          maxLength: 255
          minLength: 0
          type: string
        contestantQuantityMin:
          format: int32
          type: integer
        contestantQuantityMax:
          format: int32
          type: integer
        registrationClosing:
          format: date-time
          type: string
        isLateRegistration:
          type: boolean
        infoVaccinationObligation:
          maxLength: 255
          minLength: 0
          type: string
        infoHelmetObligation:
          maxLength: 255
          minLength: 0
          type: string
        _competitions:
          items:
            $ref: '#/components/schemas/EventContestCompetition_Plain'
          type: array
          uniqueItems: true
        _roles:
          items:
            $ref: '#/components/schemas/EventContestRole_Plain'
          type: array
          uniqueItems: true
        _fees:
          items:
            $ref: '#/components/schemas/EventContestFee_Plain'
          type: array
          uniqueItems: true
        _locations:
          items:
            $ref: '#/components/schemas/EventContestLocation_Plain'
          type: array
          uniqueItems: true
        _remarks:
          items:
            $ref: '#/components/schemas/EventContestRemark_Plain'
          type: array
          uniqueItems: true
      required:
      - uuid
      type: object
    ResponcePageContests_Plain:
      example:
        lastPage: 0
        data:
        - country: country
          isCei: true
          currentEvent: 1
          beginning: 2000-01-23T04:56:07.000+00:00
          promoterEventUrl: promoterEventUrl
          paymentIban: paymentIban
          promoterEventTitle: promoterEventTitle
          isInitialEvent: true
          infoVaccinationObligation: infoVaccinationObligation
          title: title
          uuid: uuid
          eventNaming: eventNaming
          vddPortalTitle: vddPortalTitle
          promoterTenderingUrl: promoterTenderingUrl
          contestantQuantityMin: 5
          paymentReason: paymentReason
          initialEventUuid: initialEventUuid
          state: state
          initialEvent: initialEvent
          isLateRegistration: true
          contestantQuantityMax: 5
          vddPortalUrl: vddPortalUrl
          registrationClosing: 2000-01-23T04:56:07.000+00:00
          isCountryChampionship: true
          _fees:
          - unit: unit
            kind: kind
            deposit: 3.353193347011243
            currency: currency
            remark: remark
            position: 5
            currentState: 6
            uuid: uuid
            value: 6.704019297950036
            key: key
          - unit: unit
            kind: kind
            deposit: 3.353193347011243
            currency: currency
            remark: remark
            position: 5
            currentState: 6
            uuid: uuid
            value: 6.704019297950036
            key: key
          countryRegion: countryRegion
          _roles:
          - country: country
            city: city
            kind: kind
            display: display
            houseNumber: houseNumber
            uuid: uuid
            zipcode: zipcode
            name3: name3
            phone: phone
            street: street
            masterdataContactUuid: masterdataContactUuid
            titleAcademic: titleAcademic
            currentState: 6
            name2: name2
            fax: fax
            name1: name1
            cellPhone: cellPhone
            email: email
          - country: country
            city: city
            kind: kind
            display: display
            houseNumber: houseNumber
            uuid: uuid
            zipcode: zipcode
            name3: name3
            phone: phone
            street: street
            masterdataContactUuid: masterdataContactUuid
            titleAcademic: titleAcademic
            currentState: 6
            name2: name2
            fax: fax
            name1: name1
            cellPhone: cellPhone
            email: email
          _remarks:
          - changeCounter: 3
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            kind: kind
            sortid: 0
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            description: description
            currentState: 7
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
          - changeCounter: 3
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            kind: kind
            sortid: 0
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            description: description
            currentState: 7
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
          paymentAccountHolder: paymentAccountHolder
          _competitions:
          - contestantAgeMax: 1
            scoringMinimumTime: scoringMinimumTime
            beginning: 2000-01-23T04:56:07.000+00:00
            datePreliminaryDiscussion: 2000-01-23T04:56:07.000+00:00
            feeCurrency: feeCurrency
            contestantLimitiationMin: 7
            title: title
            uuid: uuid
            infoPreliminaryDiscussion: infoPreliminaryDiscussion
            vddQualificationLevel: vddQualificationLevel
            scoringPeakTime: scoringPeakTime
            typeOfRouting: typeOfRouting
            descriptionRatingType: descriptionRatingType
            dateFollowUpExamination: 2000-01-23T04:56:07.000+00:00
            altitudeMeters: 3
            startingFee: 4.145608029883936
            contestantQuantityMin: 6
            ratingType: 1
            descriptionStart: descriptionStart
            dateTransferRelease: 2000-01-23T04:56:07.000+00:00
            isCARD: true
            state: state
            _registrations:
            - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
              displayContestant: displayContestant
              eventContestCompetitionUuuid: eventContestCompetitionUuuid
              registrationAccountUuid: registrationAccountUuid
              contestantUuid: contestantUuid
              paymentMethod: 6
              remark: remark
              displayHorse: displayHorse
              _horses:
              - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                registrationAccountUuid: registrationAccountUuid
                remark: remark
                uuid: uuid
                creationUserUuid: creationUserUuid
                changeUserUuid: changeUserUuid
                changeCounter: 1
                horseUuid: horseUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                displayHorse: displayHorse
                currentState: 2
                insurancePoliceId: insurancePoliceId
              - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                registrationAccountUuid: registrationAccountUuid
                remark: remark
                uuid: uuid
                creationUserUuid: creationUserUuid
                changeUserUuid: changeUserUuid
                changeCounter: 1
                horseUuid: horseUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                displayHorse: displayHorse
                currentState: 2
                insurancePoliceId: insurancePoliceId
              uuid: uuid
              insurancePoliceId: insurancePoliceId
            - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
              displayContestant: displayContestant
              eventContestCompetitionUuuid: eventContestCompetitionUuuid
              registrationAccountUuid: registrationAccountUuid
              contestantUuid: contestantUuid
              paymentMethod: 6
              remark: remark
              displayHorse: displayHorse
              _horses:
              - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                registrationAccountUuid: registrationAccountUuid
                remark: remark
                uuid: uuid
                creationUserUuid: creationUserUuid
                changeUserUuid: changeUserUuid
                changeCounter: 1
                horseUuid: horseUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                displayHorse: displayHorse
                currentState: 2
                insurancePoliceId: insurancePoliceId
              - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                registrationAccountUuid: registrationAccountUuid
                remark: remark
                uuid: uuid
                creationUserUuid: creationUserUuid
                changeUserUuid: changeUserUuid
                changeCounter: 1
                horseUuid: horseUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                displayHorse: displayHorse
                currentState: 2
                insurancePoliceId: insurancePoliceId
              uuid: uuid
              insurancePoliceId: insurancePoliceId
            startingFeeUnit: startingFeeUnit
            raiseLength: 2
            infoAwardCeremony: infoAwardCeremony
            horseAgeMax: 1
            contestantAgeMin: 1
            datePreliminaryExamination: 2000-01-23T04:56:07.000+00:00
            contestantQuantityMax: 7
            hoofProtection: hoofProtection
            contestantLimitiationMax: 9
            registrationFee: 2.027123023002322
            kind: kind
            _stages:
            - beginning: 2000-01-23T04:56:07.000+00:00
              breaksTotalNumbers: 6
              kind: kind
              minutesMaximum: 5
              penaltyPointsTimeUnderrun: 6
              penaltyPointsAtPulseRateOf: 8
              penaltyPointsPulseRateExceeded: 9
              title: title
              uuid: uuid
              ending: 2000-01-23T04:56:07.000+00:00
              minutesAllowed: 9
              responsibleVeterinarianUuid: responsibleVeterinarianUuid
              penaltyPointsTimeout: 9
              breaksTotalMinutes: 3
              raiseLength: 4
            - beginning: 2000-01-23T04:56:07.000+00:00
              breaksTotalNumbers: 6
              kind: kind
              minutesMaximum: 5
              penaltyPointsTimeUnderrun: 6
              penaltyPointsAtPulseRateOf: 8
              penaltyPointsPulseRateExceeded: 9
              title: title
              uuid: uuid
              ending: 2000-01-23T04:56:07.000+00:00
              minutesAllowed: 9
              responsibleVeterinarianUuid: responsibleVeterinarianUuid
              penaltyPointsTimeout: 9
              breaksTotalMinutes: 3
              raiseLength: 4
            infoFollowUpExamination: infoFollowUpExamination
            horseAgeMin: 7
            descriptionRoute: descriptionRoute
            descriptionTerrain: descriptionTerrain
            descriptionControlchecks: descriptionControlchecks
            ending: 2000-01-23T04:56:07.000+00:00
            isMARKED: true
            infoTransferRelease: infoTransferRelease
            registrationFeeUnit: registrationFeeUnit
            dateAwardCeremony: 2000-01-23T04:56:07.000+00:00
            infoPreliminaryExamination: infoPreliminaryExamination
          - contestantAgeMax: 1
            scoringMinimumTime: scoringMinimumTime
            beginning: 2000-01-23T04:56:07.000+00:00
            datePreliminaryDiscussion: 2000-01-23T04:56:07.000+00:00
            feeCurrency: feeCurrency
            contestantLimitiationMin: 7
            title: title
            uuid: uuid
            infoPreliminaryDiscussion: infoPreliminaryDiscussion
            vddQualificationLevel: vddQualificationLevel
            scoringPeakTime: scoringPeakTime
            typeOfRouting: typeOfRouting
            descriptionRatingType: descriptionRatingType
            dateFollowUpExamination: 2000-01-23T04:56:07.000+00:00
            altitudeMeters: 3
            startingFee: 4.145608029883936
            contestantQuantityMin: 6
            ratingType: 1
            descriptionStart: descriptionStart
            dateTransferRelease: 2000-01-23T04:56:07.000+00:00
            isCARD: true
            state: state
            _registrations:
            - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
              displayContestant: displayContestant
              eventContestCompetitionUuuid: eventContestCompetitionUuuid
              registrationAccountUuid: registrationAccountUuid
              contestantUuid: contestantUuid
              paymentMethod: 6
              remark: remark
              displayHorse: displayHorse
              _horses:
              - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                registrationAccountUuid: registrationAccountUuid
                remark: remark
                uuid: uuid
                creationUserUuid: creationUserUuid
                changeUserUuid: changeUserUuid
                changeCounter: 1
                horseUuid: horseUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                displayHorse: displayHorse
                currentState: 2
                insurancePoliceId: insurancePoliceId
              - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                registrationAccountUuid: registrationAccountUuid
                remark: remark
                uuid: uuid
                creationUserUuid: creationUserUuid
                changeUserUuid: changeUserUuid
                changeCounter: 1
                horseUuid: horseUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                displayHorse: displayHorse
                currentState: 2
                insurancePoliceId: insurancePoliceId
              uuid: uuid
              insurancePoliceId: insurancePoliceId
            - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
              displayContestant: displayContestant
              eventContestCompetitionUuuid: eventContestCompetitionUuuid
              registrationAccountUuid: registrationAccountUuid
              contestantUuid: contestantUuid
              paymentMethod: 6
              remark: remark
              displayHorse: displayHorse
              _horses:
              - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                registrationAccountUuid: registrationAccountUuid
                remark: remark
                uuid: uuid
                creationUserUuid: creationUserUuid
                changeUserUuid: changeUserUuid
                changeCounter: 1
                horseUuid: horseUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                displayHorse: displayHorse
                currentState: 2
                insurancePoliceId: insurancePoliceId
              - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                registrationAccountUuid: registrationAccountUuid
                remark: remark
                uuid: uuid
                creationUserUuid: creationUserUuid
                changeUserUuid: changeUserUuid
                changeCounter: 1
                horseUuid: horseUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                displayHorse: displayHorse
                currentState: 2
                insurancePoliceId: insurancePoliceId
              uuid: uuid
              insurancePoliceId: insurancePoliceId
            startingFeeUnit: startingFeeUnit
            raiseLength: 2
            infoAwardCeremony: infoAwardCeremony
            horseAgeMax: 1
            contestantAgeMin: 1
            datePreliminaryExamination: 2000-01-23T04:56:07.000+00:00
            contestantQuantityMax: 7
            hoofProtection: hoofProtection
            contestantLimitiationMax: 9
            registrationFee: 2.027123023002322
            kind: kind
            _stages:
            - beginning: 2000-01-23T04:56:07.000+00:00
              breaksTotalNumbers: 6
              kind: kind
              minutesMaximum: 5
              penaltyPointsTimeUnderrun: 6
              penaltyPointsAtPulseRateOf: 8
              penaltyPointsPulseRateExceeded: 9
              title: title
              uuid: uuid
              ending: 2000-01-23T04:56:07.000+00:00
              minutesAllowed: 9
              responsibleVeterinarianUuid: responsibleVeterinarianUuid
              penaltyPointsTimeout: 9
              breaksTotalMinutes: 3
              raiseLength: 4
            - beginning: 2000-01-23T04:56:07.000+00:00
              breaksTotalNumbers: 6
              kind: kind
              minutesMaximum: 5
              penaltyPointsTimeUnderrun: 6
              penaltyPointsAtPulseRateOf: 8
              penaltyPointsPulseRateExceeded: 9
              title: title
              uuid: uuid
              ending: 2000-01-23T04:56:07.000+00:00
              minutesAllowed: 9
              responsibleVeterinarianUuid: responsibleVeterinarianUuid
              penaltyPointsTimeout: 9
              breaksTotalMinutes: 3
              raiseLength: 4
            infoFollowUpExamination: infoFollowUpExamination
            horseAgeMin: 7
            descriptionRoute: descriptionRoute
            descriptionTerrain: descriptionTerrain
            descriptionControlchecks: descriptionControlchecks
            ending: 2000-01-23T04:56:07.000+00:00
            isMARKED: true
            infoTransferRelease: infoTransferRelease
            registrationFeeUnit: registrationFeeUnit
            dateAwardCeremony: 2000-01-23T04:56:07.000+00:00
            infoPreliminaryExamination: infoPreliminaryExamination
          ending: 2000-01-23T04:56:07.000+00:00
          paymentBic: paymentBic
          promoterTenderingTitle: promoterTenderingTitle
          infoHelmetObligation: infoHelmetObligation
          _locations:
          - country: country
            city: city
            houseNumber: houseNumber
            uuid: uuid
            zipcode: zipcode
            name3: name3
            phone: phone
            street: street
            gpsCoordinate: gpsCoordinate
            name2: name2
            fax: fax
            name1: name1
            cellPhone: cellPhone
            email: email
            info: info
          - country: country
            city: city
            houseNumber: houseNumber
            uuid: uuid
            zipcode: zipcode
            name3: name3
            phone: phone
            street: street
            gpsCoordinate: gpsCoordinate
            name2: name2
            fax: fax
            name1: name1
            cellPhone: cellPhone
            email: email
            info: info
          isCard: true
          paymentPaypal: paymentPaypal
        - country: country
          isCei: true
          currentEvent: 1
          beginning: 2000-01-23T04:56:07.000+00:00
          promoterEventUrl: promoterEventUrl
          paymentIban: paymentIban
          promoterEventTitle: promoterEventTitle
          isInitialEvent: true
          infoVaccinationObligation: infoVaccinationObligation
          title: title
          uuid: uuid
          eventNaming: eventNaming
          vddPortalTitle: vddPortalTitle
          promoterTenderingUrl: promoterTenderingUrl
          contestantQuantityMin: 5
          paymentReason: paymentReason
          initialEventUuid: initialEventUuid
          state: state
          initialEvent: initialEvent
          isLateRegistration: true
          contestantQuantityMax: 5
          vddPortalUrl: vddPortalUrl
          registrationClosing: 2000-01-23T04:56:07.000+00:00
          isCountryChampionship: true
          _fees:
          - unit: unit
            kind: kind
            deposit: 3.353193347011243
            currency: currency
            remark: remark
            position: 5
            currentState: 6
            uuid: uuid
            value: 6.704019297950036
            key: key
          - unit: unit
            kind: kind
            deposit: 3.353193347011243
            currency: currency
            remark: remark
            position: 5
            currentState: 6
            uuid: uuid
            value: 6.704019297950036
            key: key
          countryRegion: countryRegion
          _roles:
          - country: country
            city: city
            kind: kind
            display: display
            houseNumber: houseNumber
            uuid: uuid
            zipcode: zipcode
            name3: name3
            phone: phone
            street: street
            masterdataContactUuid: masterdataContactUuid
            titleAcademic: titleAcademic
            currentState: 6
            name2: name2
            fax: fax
            name1: name1
            cellPhone: cellPhone
            email: email
          - country: country
            city: city
            kind: kind
            display: display
            houseNumber: houseNumber
            uuid: uuid
            zipcode: zipcode
            name3: name3
            phone: phone
            street: street
            masterdataContactUuid: masterdataContactUuid
            titleAcademic: titleAcademic
            currentState: 6
            name2: name2
            fax: fax
            name1: name1
            cellPhone: cellPhone
            email: email
          _remarks:
          - changeCounter: 3
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            kind: kind
            sortid: 0
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            description: description
            currentState: 7
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
          - changeCounter: 3
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            kind: kind
            sortid: 0
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            description: description
            currentState: 7
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
          paymentAccountHolder: paymentAccountHolder
          _competitions:
          - contestantAgeMax: 1
            scoringMinimumTime: scoringMinimumTime
            beginning: 2000-01-23T04:56:07.000+00:00
            datePreliminaryDiscussion: 2000-01-23T04:56:07.000+00:00
            feeCurrency: feeCurrency
            contestantLimitiationMin: 7
            title: title
            uuid: uuid
            infoPreliminaryDiscussion: infoPreliminaryDiscussion
            vddQualificationLevel: vddQualificationLevel
            scoringPeakTime: scoringPeakTime
            typeOfRouting: typeOfRouting
            descriptionRatingType: descriptionRatingType
            dateFollowUpExamination: 2000-01-23T04:56:07.000+00:00
            altitudeMeters: 3
            startingFee: 4.145608029883936
            contestantQuantityMin: 6
            ratingType: 1
            descriptionStart: descriptionStart
            dateTransferRelease: 2000-01-23T04:56:07.000+00:00
            isCARD: true
            state: state
            _registrations:
            - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
              displayContestant: displayContestant
              eventContestCompetitionUuuid: eventContestCompetitionUuuid
              registrationAccountUuid: registrationAccountUuid
              contestantUuid: contestantUuid
              paymentMethod: 6
              remark: remark
              displayHorse: displayHorse
              _horses:
              - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                registrationAccountUuid: registrationAccountUuid
                remark: remark
                uuid: uuid
                creationUserUuid: creationUserUuid
                changeUserUuid: changeUserUuid
                changeCounter: 1
                horseUuid: horseUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                displayHorse: displayHorse
                currentState: 2
                insurancePoliceId: insurancePoliceId
              - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                registrationAccountUuid: registrationAccountUuid
                remark: remark
                uuid: uuid
                creationUserUuid: creationUserUuid
                changeUserUuid: changeUserUuid
                changeCounter: 1
                horseUuid: horseUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                displayHorse: displayHorse
                currentState: 2
                insurancePoliceId: insurancePoliceId
              uuid: uuid
              insurancePoliceId: insurancePoliceId
            - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
              displayContestant: displayContestant
              eventContestCompetitionUuuid: eventContestCompetitionUuuid
              registrationAccountUuid: registrationAccountUuid
              contestantUuid: contestantUuid
              paymentMethod: 6
              remark: remark
              displayHorse: displayHorse
              _horses:
              - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                registrationAccountUuid: registrationAccountUuid
                remark: remark
                uuid: uuid
                creationUserUuid: creationUserUuid
                changeUserUuid: changeUserUuid
                changeCounter: 1
                horseUuid: horseUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                displayHorse: displayHorse
                currentState: 2
                insurancePoliceId: insurancePoliceId
              - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                registrationAccountUuid: registrationAccountUuid
                remark: remark
                uuid: uuid
                creationUserUuid: creationUserUuid
                changeUserUuid: changeUserUuid
                changeCounter: 1
                horseUuid: horseUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                displayHorse: displayHorse
                currentState: 2
                insurancePoliceId: insurancePoliceId
              uuid: uuid
              insurancePoliceId: insurancePoliceId
            startingFeeUnit: startingFeeUnit
            raiseLength: 2
            infoAwardCeremony: infoAwardCeremony
            horseAgeMax: 1
            contestantAgeMin: 1
            datePreliminaryExamination: 2000-01-23T04:56:07.000+00:00
            contestantQuantityMax: 7
            hoofProtection: hoofProtection
            contestantLimitiationMax: 9
            registrationFee: 2.027123023002322
            kind: kind
            _stages:
            - beginning: 2000-01-23T04:56:07.000+00:00
              breaksTotalNumbers: 6
              kind: kind
              minutesMaximum: 5
              penaltyPointsTimeUnderrun: 6
              penaltyPointsAtPulseRateOf: 8
              penaltyPointsPulseRateExceeded: 9
              title: title
              uuid: uuid
              ending: 2000-01-23T04:56:07.000+00:00
              minutesAllowed: 9
              responsibleVeterinarianUuid: responsibleVeterinarianUuid
              penaltyPointsTimeout: 9
              breaksTotalMinutes: 3
              raiseLength: 4
            - beginning: 2000-01-23T04:56:07.000+00:00
              breaksTotalNumbers: 6
              kind: kind
              minutesMaximum: 5
              penaltyPointsTimeUnderrun: 6
              penaltyPointsAtPulseRateOf: 8
              penaltyPointsPulseRateExceeded: 9
              title: title
              uuid: uuid
              ending: 2000-01-23T04:56:07.000+00:00
              minutesAllowed: 9
              responsibleVeterinarianUuid: responsibleVeterinarianUuid
              penaltyPointsTimeout: 9
              breaksTotalMinutes: 3
              raiseLength: 4
            infoFollowUpExamination: infoFollowUpExamination
            horseAgeMin: 7
            descriptionRoute: descriptionRoute
            descriptionTerrain: descriptionTerrain
            descriptionControlchecks: descriptionControlchecks
            ending: 2000-01-23T04:56:07.000+00:00
            isMARKED: true
            infoTransferRelease: infoTransferRelease
            registrationFeeUnit: registrationFeeUnit
            dateAwardCeremony: 2000-01-23T04:56:07.000+00:00
            infoPreliminaryExamination: infoPreliminaryExamination
          - contestantAgeMax: 1
            scoringMinimumTime: scoringMinimumTime
            beginning: 2000-01-23T04:56:07.000+00:00
            datePreliminaryDiscussion: 2000-01-23T04:56:07.000+00:00
            feeCurrency: feeCurrency
            contestantLimitiationMin: 7
            title: title
            uuid: uuid
            infoPreliminaryDiscussion: infoPreliminaryDiscussion
            vddQualificationLevel: vddQualificationLevel
            scoringPeakTime: scoringPeakTime
            typeOfRouting: typeOfRouting
            descriptionRatingType: descriptionRatingType
            dateFollowUpExamination: 2000-01-23T04:56:07.000+00:00
            altitudeMeters: 3
            startingFee: 4.145608029883936
            contestantQuantityMin: 6
            ratingType: 1
            descriptionStart: descriptionStart
            dateTransferRelease: 2000-01-23T04:56:07.000+00:00
            isCARD: true
            state: state
            _registrations:
            - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
              displayContestant: displayContestant
              eventContestCompetitionUuuid: eventContestCompetitionUuuid
              registrationAccountUuid: registrationAccountUuid
              contestantUuid: contestantUuid
              paymentMethod: 6
              remark: remark
              displayHorse: displayHorse
              _horses:
              - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                registrationAccountUuid: registrationAccountUuid
                remark: remark
                uuid: uuid
                creationUserUuid: creationUserUuid
                changeUserUuid: changeUserUuid
                changeCounter: 1
                horseUuid: horseUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                displayHorse: displayHorse
                currentState: 2
                insurancePoliceId: insurancePoliceId
              - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                registrationAccountUuid: registrationAccountUuid
                remark: remark
                uuid: uuid
                creationUserUuid: creationUserUuid
                changeUserUuid: changeUserUuid
                changeCounter: 1
                horseUuid: horseUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                displayHorse: displayHorse
                currentState: 2
                insurancePoliceId: insurancePoliceId
              uuid: uuid
              insurancePoliceId: insurancePoliceId
            - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
              displayContestant: displayContestant
              eventContestCompetitionUuuid: eventContestCompetitionUuuid
              registrationAccountUuid: registrationAccountUuid
              contestantUuid: contestantUuid
              paymentMethod: 6
              remark: remark
              displayHorse: displayHorse
              _horses:
              - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                registrationAccountUuid: registrationAccountUuid
                remark: remark
                uuid: uuid
                creationUserUuid: creationUserUuid
                changeUserUuid: changeUserUuid
                changeCounter: 1
                horseUuid: horseUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                displayHorse: displayHorse
                currentState: 2
                insurancePoliceId: insurancePoliceId
              - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                registrationAccountUuid: registrationAccountUuid
                remark: remark
                uuid: uuid
                creationUserUuid: creationUserUuid
                changeUserUuid: changeUserUuid
                changeCounter: 1
                horseUuid: horseUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                displayHorse: displayHorse
                currentState: 2
                insurancePoliceId: insurancePoliceId
              uuid: uuid
              insurancePoliceId: insurancePoliceId
            startingFeeUnit: startingFeeUnit
            raiseLength: 2
            infoAwardCeremony: infoAwardCeremony
            horseAgeMax: 1
            contestantAgeMin: 1
            datePreliminaryExamination: 2000-01-23T04:56:07.000+00:00
            contestantQuantityMax: 7
            hoofProtection: hoofProtection
            contestantLimitiationMax: 9
            registrationFee: 2.027123023002322
            kind: kind
            _stages:
            - beginning: 2000-01-23T04:56:07.000+00:00
              breaksTotalNumbers: 6
              kind: kind
              minutesMaximum: 5
              penaltyPointsTimeUnderrun: 6
              penaltyPointsAtPulseRateOf: 8
              penaltyPointsPulseRateExceeded: 9
              title: title
              uuid: uuid
              ending: 2000-01-23T04:56:07.000+00:00
              minutesAllowed: 9
              responsibleVeterinarianUuid: responsibleVeterinarianUuid
              penaltyPointsTimeout: 9
              breaksTotalMinutes: 3
              raiseLength: 4
            - beginning: 2000-01-23T04:56:07.000+00:00
              breaksTotalNumbers: 6
              kind: kind
              minutesMaximum: 5
              penaltyPointsTimeUnderrun: 6
              penaltyPointsAtPulseRateOf: 8
              penaltyPointsPulseRateExceeded: 9
              title: title
              uuid: uuid
              ending: 2000-01-23T04:56:07.000+00:00
              minutesAllowed: 9
              responsibleVeterinarianUuid: responsibleVeterinarianUuid
              penaltyPointsTimeout: 9
              breaksTotalMinutes: 3
              raiseLength: 4
            infoFollowUpExamination: infoFollowUpExamination
            horseAgeMin: 7
            descriptionRoute: descriptionRoute
            descriptionTerrain: descriptionTerrain
            descriptionControlchecks: descriptionControlchecks
            ending: 2000-01-23T04:56:07.000+00:00
            isMARKED: true
            infoTransferRelease: infoTransferRelease
            registrationFeeUnit: registrationFeeUnit
            dateAwardCeremony: 2000-01-23T04:56:07.000+00:00
            infoPreliminaryExamination: infoPreliminaryExamination
          ending: 2000-01-23T04:56:07.000+00:00
          paymentBic: paymentBic
          promoterTenderingTitle: promoterTenderingTitle
          infoHelmetObligation: infoHelmetObligation
          _locations:
          - country: country
            city: city
            houseNumber: houseNumber
            uuid: uuid
            zipcode: zipcode
            name3: name3
            phone: phone
            street: street
            gpsCoordinate: gpsCoordinate
            name2: name2
            fax: fax
            name1: name1
            cellPhone: cellPhone
            email: email
            info: info
          - country: country
            city: city
            houseNumber: houseNumber
            uuid: uuid
            zipcode: zipcode
            name3: name3
            phone: phone
            street: street
            gpsCoordinate: gpsCoordinate
            name2: name2
            fax: fax
            name1: name1
            cellPhone: cellPhone
            email: email
            info: info
          isCard: true
          paymentPaypal: paymentPaypal
        totalElements: 6
      properties:
        lastPage:
          format: int32
          type: integer
        totalElements:
          format: int64
          type: integer
        data:
          items:
            $ref: '#/components/schemas/EventContest_Plain'
          type: array
      type: object
    EventContestCompetitionResult:
      example:
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        failureReasonRemark: failureReasonRemark
        competitionDate: 2000-01-23T04:56:07.000+00:00
        timeTotal: 2000-01-23T04:56:07.000+00:00
        displayContestant: displayContestant
        kmH: 7.061401241503109
        masterdataContestantUuid: masterdataContestantUuid
        tempo: 5.637376656633329
        _horses:
        - changeCounter: 9
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          masterdataHorseUuid: masterdataHorseUuid
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          description: description
          currentState: 3
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
        - changeCounter: 9
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          masterdataHorseUuid: masterdataHorseUuid
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          description: description
          currentState: 3
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
        uuid: uuid
        creationUserUuid: creationUserUuid
        speed: 2.3021358869347655
        changeUserUuid: changeUserUuid
        changeCounter: 0
        timeRace: 2000-01-23T04:56:07.000+00:00
        rankingRaiseLength: 1
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        competitionKindRemark: competitionKindRemark
        placement: 5
        displayHorse: displayHorse
        currentState: 6
        remarks: remarks
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
[...]
