openapi: 3.0.1
info:
  description: Rest-Interface for ONES
  title: vdd4ones
  version: 1.0a
servers:
- description: Generated server url
  url: https://vdd4ones.de:8080
paths:
  /rest/application/register/account/unlock:
    put:
      operationId: putRegisterAccountUnlock
      parameters:
      - explode: true
        in: query
        name: uuid
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: code
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registerResponce'
          description: OK
      security:
      - basicAuth: []
      tags:
      - application-account-controller
      x-accepts: application/json
  /rest/masterdata/register/horse:
    post:
      operationId: postRegisterHorse
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registerHorse'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      security:
      - basicAuth: []
      tags:
      - masterdata-horse-controller
      x-contentType: application/json
      x-accepts: application/json
  /rest/masterdata/register/contact/stable:
    post:
      operationId: postRegisterContactStable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registerContact'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      security:
      - basicAuth: []
      tags:
      - masterdata-contact-controller
      x-contentType: application/json
      x-accepts: application/json
  /rest/masterdata/register/contact/horseOwner:
    post:
      operationId: postRegisterContactHorseOwner
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registerContact'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      security:
      - basicAuth: []
      tags:
      - masterdata-contact-controller
      x-contentType: application/json
      x-accepts: application/json
  /rest/masterdata/register/contact/contestant:
    post:
      operationId: postRegisterContactContestant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registerContact'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      security:
      - basicAuth: []
      tags:
      - masterdata-contact-controller
      x-contentType: application/json
      x-accepts: application/json
  /rest/event/register/nomination:
    post:
      operationId: postRegisterNomination
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registerNomination'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registerResponce'
          description: OK
      security:
      - basicAuth: []
      tags:
      - event-contest-controller
      x-contentType: application/json
      x-accepts: application/json
  /rest/application/register/account:
    post:
      operationId: postRegisterAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registerAccount'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registerResponce'
          description: OK
      security:
      - basicAuth: []
      tags:
      - application-account-controller
      x-contentType: application/json
      x-accepts: application/json
  /rest/application/register/account4Member:
    post:
      operationId: postRegisterAccount4Member
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registerAccount4Member'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registerResponce'
          description: OK
      security:
      - basicAuth: []
      tags:
      - application-account-controller
      x-contentType: application/json
      x-accepts: application/json
  /rest/masterdata/property/items/{proptery}:
    get:
      operationId: getPropertyItems
      parameters:
      - explode: false
        in: path
        name: proptery
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/MasterdataProperty'
                type: array
          description: OK
      security:
      - basicAuth: []
      tags:
      - masterdata-property-controller
      x-accepts: '*/*'
  /rest/masterdata/horse/{uuid}:
    get:
      operationId: getHorseByUuid
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MasterdataHorse'
          description: OK
      security:
      - basicAuth: []
      tags:
      - masterdata-horse-controller
      x-accepts: '*/*'
  /rest/masterdata/horse/account/{uuid}:
    get:
      operationId: getHorsesByContactUuid
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/MasterdataHorse'
                type: array
          description: OK
      security:
      - basicAuth: []
      tags:
      - masterdata-horse-controller
      x-accepts: '*/*'
  /rest/masterdata/contact/{accountUuid}:
    get:
      operationId: getContactByUuid
      parameters:
      - explode: false
        in: path
        name: accountUuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MasterdataContact'
          description: OK
      security:
      - basicAuth: []
      tags:
      - masterdata-contact-controller
      x-accepts: '*/*'
  /rest/event/contests:
    get:
      operationId: getContestByYear
      parameters:
      - explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: untilDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: countryRegions
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: contestKinds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: isCountryChampionship
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: isCEI
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: isCard
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: onlyRegistered
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: accountUuid
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pageNo
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: sortBy
        required: false
        schema:
          default: beginning
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResponcePageContests_Plain'
          description: OK
      security:
      - basicAuth: []
      tags:
      - event-contest-controller
      x-accepts: '*/*'
  /rest/event/contest:
    get:
      operationId: getContestByUuid
      parameters:
      - explode: true
        in: query
        name: contestUuid
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: accountUuid
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventContest'
          description: OK
      security:
      - basicAuth: []
      tags:
      - event-contest-controller
      x-accepts: '*/*'
  /rest/event/contest/result/current:
    get:
      operationId: getCurrentContestCompetitionsResults
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/EventContestCompetitionResult'
                type: array
          description: OK
      security:
      - basicAuth: []
      tags:
      - event-contest-controller
      x-accepts: '*/*'
  /rest/event/contest/result/account/{uuid}:
    get:
      operationId: getAccountContestCompetitionsResults
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/EventContestCompetitionResult'
                type: array
          description: OK
      security:
      - basicAuth: []
      tags:
      - event-contest-controller
      x-accepts: '*/*'
components:
  schemas:
    registerResponce:
      example:
        state: state
        reasonCode: 0
        justification: justification
        registerObjectUuid: registerObjectUuid
        uuid: uuid
      properties:
        uuid:
          maxLength: 255
          minLength: 0
          type: string
        state:
          maxLength: 255
          minLength: 1
          type: string
        reasonCode:
          format: int32
          type: integer
        justification:
          maxLength: 255
          minLength: 0
          type: string
        registerObjectUuid:
          maxLength: 40
          minLength: 0
          type: string
      type: object
    registerAddress:
      properties:
        country:
          maxLength: 255
          minLength: 0
          type: string
        zipCode:
          maxLength: 255
          minLength: 0
          type: string
        city:
          maxLength: 255
          minLength: 0
          type: string
        street:
          maxLength: 255
          minLength: 0
          type: string
        houseNumber:
          maxLength: 255
          minLength: 0
          type: string
      required:
      - city
      - street
      type: object
    registerContact:
      properties:
        surname:
          maxLength: 255
          minLength: 1
          type: string
        forename:
          maxLength: 255
          minLength: 0
          type: string
        salutation:
          maxLength: 255
          minLength: 0
          type: string
        birthday:
          format: date
          type: string
        email:
          maxLength: 255
          minLength: 6
          type: string
        phoneNumber:
          maxLength: 255
          minLength: 0
          type: string
        phoneNumberMobile:
          maxLength: 255
          minLength: 0
          type: string
        postalAddress:
          $ref: '#/components/schemas/registerAddress'
      required:
      - surname
      type: object
    registerHorse:
      properties:
        name:
          maxLength: 255
          minLength: 1
          type: string
        passportId:
          maxLength: 255
          minLength: 0
          type: string
        breed:
          maxLength: 255
          minLength: 0
          type: string
        gender:
          maxLength: 255
          minLength: 0
          type: string
        color:
          maxLength: 255
          minLength: 0
          type: string
        yearOfBirth:
          format: int32
          type: integer
        stickSize:
          format: int32
          type: integer
        owner:
          $ref: '#/components/schemas/registerContact'
        stable:
          $ref: '#/components/schemas/registerContact'
      required:
      - name
      - passportId
      type: object
    registerNomination:
      properties:
        competitionUuid:
          maxLength: 255
          minLength: 1
          type: string
        contactUuid:
          maxLength: 255
          minLength: 1
          type: string
        horsesUuids:
          items:
            type: string
          type: array
        bookingFeeUuids:
          items:
            type: string
          maxItems: 40
          minItems: 1
          type: array
      required:
      - competitionUuid
      - contactUuid
      type: object
    registerAccount:
      properties:
        uuid:
          readOnly: true
          type: string
        loginIdentification:
          maxLength: 255
          minLength: 1
          type: string
        loginKeyword:
          maxLength: 255
          minLength: 1
          type: string
        nativeLanguage:
          maxLength: 5
          minLength: 0
          type: string
        vddMemberNumber:
          maxLength: 10
          minLength: 0
          type: string
        user:
          $ref: '#/components/schemas/registerContact'
      required:
      - loginIdentification
      - loginKeyword
      type: object
    registerAccount4Member:
      properties:
        uuid:
          readOnly: true
          type: string
        vddMemberNumber:
          format: int32
          maximum: 10
          minimum: 0
          type: integer
        loginIdentification:
          maxLength: 255
          minLength: 1
          type: string
        loginKeyword:
          maxLength: 255
          minLength: 1
          type: string
        email:
          maxLength: 255
          minLength: 6
          type: string
      required:
      - loginIdentification
      - loginKeyword
      type: object
    MasterdataProperty:
      example:
        changeCounter: 0
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        acronym: acronym
        display: display
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        name: name
        _items:
        - changeCounter: 6
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          acronym: acronym
          display: display
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          description: description
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
        - changeCounter: 6
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          acronym: acronym
          display: display
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          description: description
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        name:
          maxLength: 255
          minLength: 0
          type: string
        acronym:
          maxLength: 10
          minLength: 0
          type: string
        display:
          maxLength: 50
          minLength: 0
          type: string
        _items:
          items:
            $ref: '#/components/schemas/MasterdataPropertyCharacteristic'
          type: array
          uniqueItems: true
      required:
      - creationTimestamp
      - uuid
      type: object
    MasterdataPropertyCharacteristic:
      example:
        changeCounter: 6
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        acronym: acronym
        display: display
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        description: description
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        description:
          maxLength: 255
          minLength: 0
          type: string
        acronym:
          maxLength: 10
          minLength: 0
          type: string
        display:
          maxLength: 50
          minLength: 0
          type: string
      required:
      - creationTimestamp
      - uuid
      type: object
    MasterdataContact:
      example:
        _addresses:
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          country: country
          city: city
          kind: 7
          houseNumber: houseNumber
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 2
          zipcodeCode: zipcodeCode
          countryCode: countryCode
          street: street
          masterdataContactUuid: masterdataContactUuid
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          federalStateCode: federalStateCode
          federalState: federalState
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          country: country
          city: city
          kind: 7
          houseNumber: houseNumber
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 2
          zipcodeCode: zipcodeCode
          countryCode: countryCode
          street: street
          masterdataContactUuid: masterdataContactUuid
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          federalStateCode: federalStateCode
          federalState: federalState
        phonePrivate: phonePrivate
        emailBusiness: emailBusiness
        uuid: uuid
        changeCounter: 5
        forename: forename
        faxPrivate: faxPrivate
        emailPrivate: emailPrivate
        surname: surname
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        titleAddition: titleAddition
        kind: 5
        nickName: nickName
        display: display
        _roles:
        - changeCounter: 9
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          kind: kind
          masterdataContactUuid: masterdataContactUuid
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
        - changeCounter: 9
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          kind: kind
          masterdataContactUuid: masterdataContactUuid
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
        bornDate: 2000-01-23T04:56:07.000+00:00
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
        titleBusiness: titleBusiness
        info9: info9
        info8: info8
        info7: info7
        info6: info6
        nationality: nationality
        bornName: bornName
        info1: info1
        cellPhonePrivate: cellPhonePrivate
        artistName: artistName
        salutation: salutation
        titleAcademic: titleAcademic
        phoneBusiness: phoneBusiness
        faxBusiness: faxBusiness
        info5: info5
        info4: info4
        titleNobility: titleNobility
        info3: info3
        cellPhoneBusiness: cellPhoneBusiness
        info2: info2
      properties:
        uuid:
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          type: string
        changeCounter:
          format: int32
          type: integer
        kind:
          format: int32
          type: integer
        salutation:
          type: string
        surname:
          type: string
        forename:
          type: string
        bornName:
          type: string
        bornDate:
          format: date-time
          type: string
        nationality:
          type: string
        titleAddition:
          type: string
        titleNobility:
          type: string
        titleAcademic:
          type: string
        titleBusiness:
          type: string
        artistName:
          type: string
        nickName:
          type: string
        phonePrivate:
          type: string
        phoneBusiness:
          type: string
        cellPhonePrivate:
          type: string
        cellPhoneBusiness:
          type: string
        faxPrivate:
          type: string
        faxBusiness:
          type: string
        emailPrivate:
          type: string
        emailBusiness:
          type: string
        info1:
          type: string
        info2:
          type: string
        info3:
          type: string
        info4:
          type: string
        info5:
          type: string
        info6:
          type: string
        info7:
          type: string
        info8:
          type: string
        info9:
          type: string
        display:
          type: string
        _addresses:
          items:
            $ref: '#/components/schemas/MasterdataContactAddress'
          type: array
        _roles:
          items:
            $ref: '#/components/schemas/MasterdataContactRole'
          type: array
      type: object
    MasterdataContactAddress:
      example:
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        country: country
        city: city
        kind: 7
        houseNumber: houseNumber
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
        changeCounter: 2
        zipcodeCode: zipcodeCode
        countryCode: countryCode
        street: street
        masterdataContactUuid: masterdataContactUuid
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        federalStateCode: federalStateCode
        federalState: federalState
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        masterdataContactUuid:
          maxLength: 40
          minLength: 0
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        kind:
          format: int32
          type: integer
        countryCode:
          maxLength: 255
          minLength: 0
          type: string
        country:
          maxLength: 255
          minLength: 0
          type: string
        city:
          maxLength: 255
          minLength: 0
          type: string
        federalStateCode:
          maxLength: 5
          minLength: 0
          type: string
        federalState:
          maxLength: 255
          minLength: 0
          type: string
        street:
          maxLength: 255
          minLength: 0
          type: string
        houseNumber:
          maxLength: 255
          minLength: 0
          type: string
        zipcodeCode:
          type: string
      required:
      - creationTimestamp
      - uuid
      type: object
    MasterdataContactRole:
      example:
        changeCounter: 9
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        kind: kind
        masterdataContactUuid: masterdataContactUuid
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        masterdataContactUuid:
          maxLength: 40
          minLength: 0
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        kind:
          maxLength: 50
          minLength: 0
          type: string
      required:
      - creationTimestamp
      - uuid
      type: object
    MasterdataHorse:
      example:
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        gender: gender
        color: color
        display: display
        _ownersx:
        - changeCounter: 1
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          ownershipUntil: 2000-01-23T04:56:07.000+00:00
          masterdataHorseUuid: masterdataHorseUuid
          display: display
          contact:
            _addresses:
            - changeTimestamp: 2000-01-23T04:56:07.000+00:00
              country: country
              city: city
              kind: 7
              houseNumber: houseNumber
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 2
              zipcodeCode: zipcodeCode
              countryCode: countryCode
              street: street
              masterdataContactUuid: masterdataContactUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              federalStateCode: federalStateCode
              federalState: federalState
            - changeTimestamp: 2000-01-23T04:56:07.000+00:00
              country: country
              city: city
              kind: 7
              houseNumber: houseNumber
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 2
              zipcodeCode: zipcodeCode
              countryCode: countryCode
              street: street
              masterdataContactUuid: masterdataContactUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              federalStateCode: federalStateCode
              federalState: federalState
            phonePrivate: phonePrivate
            emailBusiness: emailBusiness
            uuid: uuid
            changeCounter: 5
            forename: forename
            faxPrivate: faxPrivate
            emailPrivate: emailPrivate
            surname: surname
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            titleAddition: titleAddition
            kind: 5
            nickName: nickName
            display: display
            _roles:
            - changeCounter: 9
              changeTimestamp: 2000-01-23T04:56:07.000+00:00
              kind: kind
              masterdataContactUuid: masterdataContactUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
            - changeCounter: 9
              changeTimestamp: 2000-01-23T04:56:07.000+00:00
              kind: kind
              masterdataContactUuid: masterdataContactUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
            bornDate: 2000-01-23T04:56:07.000+00:00
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            titleBusiness: titleBusiness
            info9: info9
            info8: info8
            info7: info7
            info6: info6
            nationality: nationality
            bornName: bornName
            info1: info1
            cellPhonePrivate: cellPhonePrivate
            artistName: artistName
            salutation: salutation
            titleAcademic: titleAcademic
            phoneBusiness: phoneBusiness
            faxBusiness: faxBusiness
            info5: info5
            info4: info4
            titleNobility: titleNobility
            info3: info3
            cellPhoneBusiness: cellPhoneBusiness
            info2: info2
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          ownershipFrom: 2000-01-23T04:56:07.000+00:00
          remark: remark
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
        - changeCounter: 1
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          ownershipUntil: 2000-01-23T04:56:07.000+00:00
          masterdataHorseUuid: masterdataHorseUuid
          display: display
          contact:
            _addresses:
            - changeTimestamp: 2000-01-23T04:56:07.000+00:00
              country: country
              city: city
              kind: 7
              houseNumber: houseNumber
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 2
              zipcodeCode: zipcodeCode
              countryCode: countryCode
              street: street
              masterdataContactUuid: masterdataContactUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              federalStateCode: federalStateCode
              federalState: federalState
            - changeTimestamp: 2000-01-23T04:56:07.000+00:00
              country: country
              city: city
              kind: 7
              houseNumber: houseNumber
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 2
              zipcodeCode: zipcodeCode
              countryCode: countryCode
              street: street
              masterdataContactUuid: masterdataContactUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              federalStateCode: federalStateCode
              federalState: federalState
            phonePrivate: phonePrivate
            emailBusiness: emailBusiness
            uuid: uuid
            changeCounter: 5
            forename: forename
            faxPrivate: faxPrivate
            emailPrivate: emailPrivate
            surname: surname
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            titleAddition: titleAddition
            kind: 5
            nickName: nickName
            display: display
            _roles:
            - changeCounter: 9
              changeTimestamp: 2000-01-23T04:56:07.000+00:00
              kind: kind
              masterdataContactUuid: masterdataContactUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
            - changeCounter: 9
              changeTimestamp: 2000-01-23T04:56:07.000+00:00
              kind: kind
              masterdataContactUuid: masterdataContactUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
            bornDate: 2000-01-23T04:56:07.000+00:00
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            titleBusiness: titleBusiness
            info9: info9
            info8: info8
            info7: info7
            info6: info6
            nationality: nationality
            bornName: bornName
            info1: info1
            cellPhonePrivate: cellPhonePrivate
            artistName: artistName
            salutation: salutation
            titleAcademic: titleAcademic
            phoneBusiness: phoneBusiness
            faxBusiness: faxBusiness
            info5: info5
            info4: info4
            titleNobility: titleNobility
            info3: info3
            cellPhoneBusiness: cellPhoneBusiness
            info2: info2
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          ownershipFrom: 2000-01-23T04:56:07.000+00:00
          remark: remark
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
        _stables:
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          kind: kind
          display: display
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 3
          masterdataHorseUuid: masterdataHorseUuid
          accommodationFrom: 2000-01-23T04:56:07.000+00:00
          contact:
            _addresses:
            - changeTimestamp: 2000-01-23T04:56:07.000+00:00
              country: country
              city: city
              kind: 7
              houseNumber: houseNumber
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 2
              zipcodeCode: zipcodeCode
              countryCode: countryCode
              street: street
              masterdataContactUuid: masterdataContactUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              federalStateCode: federalStateCode
              federalState: federalState
            - changeTimestamp: 2000-01-23T04:56:07.000+00:00
              country: country
              city: city
              kind: 7
              houseNumber: houseNumber
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 2
              zipcodeCode: zipcodeCode
              countryCode: countryCode
              street: street
              masterdataContactUuid: masterdataContactUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              federalStateCode: federalStateCode
              federalState: federalState
            phonePrivate: phonePrivate
            emailBusiness: emailBusiness
            uuid: uuid
            changeCounter: 5
            forename: forename
            faxPrivate: faxPrivate
            emailPrivate: emailPrivate
            surname: surname
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            titleAddition: titleAddition
            kind: 5
            nickName: nickName
            display: display
            _roles:
            - changeCounter: 9
              changeTimestamp: 2000-01-23T04:56:07.000+00:00
              kind: kind
              masterdataContactUuid: masterdataContactUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
            - changeCounter: 9
              changeTimestamp: 2000-01-23T04:56:07.000+00:00
              kind: kind
              masterdataContactUuid: masterdataContactUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
            bornDate: 2000-01-23T04:56:07.000+00:00
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            titleBusiness: titleBusiness
            info9: info9
            info8: info8
            info7: info7
            info6: info6
            nationality: nationality
            bornName: bornName
            info1: info1
            cellPhonePrivate: cellPhonePrivate
            artistName: artistName
            salutation: salutation
            titleAcademic: titleAcademic
            phoneBusiness: phoneBusiness
            faxBusiness: faxBusiness
            info5: info5
            info4: info4
            titleNobility: titleNobility
            info3: info3
            cellPhoneBusiness: cellPhoneBusiness
            info2: info2
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          accommodationUntil: 2000-01-23T04:56:07.000+00:00
          remarks: remarks
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          kind: kind
          display: display
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 3
          masterdataHorseUuid: masterdataHorseUuid
          accommodationFrom: 2000-01-23T04:56:07.000+00:00
          contact:
            _addresses:
            - changeTimestamp: 2000-01-23T04:56:07.000+00:00
              country: country
              city: city
              kind: 7
              houseNumber: houseNumber
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 2
              zipcodeCode: zipcodeCode
              countryCode: countryCode
              street: street
              masterdataContactUuid: masterdataContactUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              federalStateCode: federalStateCode
              federalState: federalState
            - changeTimestamp: 2000-01-23T04:56:07.000+00:00
              country: country
              city: city
              kind: 7
              houseNumber: houseNumber
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 2
              zipcodeCode: zipcodeCode
              countryCode: countryCode
              street: street
              masterdataContactUuid: masterdataContactUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              federalStateCode: federalStateCode
              federalState: federalState
            phonePrivate: phonePrivate
            emailBusiness: emailBusiness
            uuid: uuid
            changeCounter: 5
            forename: forename
            faxPrivate: faxPrivate
            emailPrivate: emailPrivate
            surname: surname
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            titleAddition: titleAddition
            kind: 5
            nickName: nickName
            display: display
            _roles:
            - changeCounter: 9
              changeTimestamp: 2000-01-23T04:56:07.000+00:00
              kind: kind
              masterdataContactUuid: masterdataContactUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
            - changeCounter: 9
              changeTimestamp: 2000-01-23T04:56:07.000+00:00
              kind: kind
              masterdataContactUuid: masterdataContactUuid
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
            bornDate: 2000-01-23T04:56:07.000+00:00
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            titleBusiness: titleBusiness
            info9: info9
            info8: info8
            info7: info7
            info6: info6
            nationality: nationality
            bornName: bornName
            info1: info1
            cellPhonePrivate: cellPhonePrivate
            artistName: artistName
            salutation: salutation
            titleAcademic: titleAcademic
            phoneBusiness: phoneBusiness
            faxBusiness: faxBusiness
            info5: info5
            info4: info4
            titleNobility: titleNobility
            info3: info3
            cellPhoneBusiness: cellPhoneBusiness
            info2: info2
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          accommodationUntil: 2000-01-23T04:56:07.000+00:00
          remarks: remarks
        uuid: uuid
        creationUserUuid: creationUserUuid
        breed: breed
        changeUserUuid: changeUserUuid
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        name: name
        passportId: passportId
        stickSize: 6
        yearOfBirth: 0
      properties:
        uuid:
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          type: string
        changeTimestamp:
          format: date-time
          readOnly: true
          type: string
        changeUserUuid:
          type: string
        display:
          type: string
        name:
          type: string
        passportId:
          type: string
        breed:
          type: string
        gender:
          type: string
        yearOfBirth:
          format: int32
          type: integer
        stickSize:
          format: int32
          type: integer
        color:
          type: string
        _ownersx:
          items:
            $ref: '#/components/schemas/MasterdataHorseOwner'
          type: array
        _stables:
          items:
            $ref: '#/components/schemas/MasterdataHorseStable'
          type: array
      type: object
    MasterdataHorseOwner:
      example:
        changeCounter: 1
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        ownershipUntil: 2000-01-23T04:56:07.000+00:00
        masterdataHorseUuid: masterdataHorseUuid
        display: display
        contact:
          _addresses:
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            country: country
            city: city
            kind: 7
            houseNumber: houseNumber
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 2
            zipcodeCode: zipcodeCode
            countryCode: countryCode
            street: street
            masterdataContactUuid: masterdataContactUuid
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            federalStateCode: federalStateCode
            federalState: federalState
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            country: country
            city: city
            kind: 7
            houseNumber: houseNumber
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 2
            zipcodeCode: zipcodeCode
            countryCode: countryCode
            street: street
            masterdataContactUuid: masterdataContactUuid
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            federalStateCode: federalStateCode
            federalState: federalState
          phonePrivate: phonePrivate
          emailBusiness: emailBusiness
          uuid: uuid
          changeCounter: 5
          forename: forename
          faxPrivate: faxPrivate
          emailPrivate: emailPrivate
          surname: surname
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          titleAddition: titleAddition
          kind: 5
          nickName: nickName
          display: display
          _roles:
          - changeCounter: 9
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            kind: kind
            masterdataContactUuid: masterdataContactUuid
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
          - changeCounter: 9
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            kind: kind
            masterdataContactUuid: masterdataContactUuid
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
          bornDate: 2000-01-23T04:56:07.000+00:00
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          titleBusiness: titleBusiness
          info9: info9
          info8: info8
          info7: info7
          info6: info6
          nationality: nationality
          bornName: bornName
          info1: info1
          cellPhonePrivate: cellPhonePrivate
          artistName: artistName
          salutation: salutation
          titleAcademic: titleAcademic
          phoneBusiness: phoneBusiness
          faxBusiness: faxBusiness
          info5: info5
          info4: info4
          titleNobility: titleNobility
          info3: info3
          cellPhoneBusiness: cellPhoneBusiness
          info2: info2
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        ownershipFrom: 2000-01-23T04:56:07.000+00:00
        remark: remark
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        display:
          maxLength: 255
          minLength: 0
          type: string
        ownershipFrom:
          format: date-time
          type: string
        ownershipUntil:
          format: date-time
          type: string
        remark:
          maxLength: 16777216
          minLength: 0
          type: string
        contact:
          $ref: '#/components/schemas/MasterdataContact'
        masterdataHorseUuid:
          maxLength: 40
          minLength: 0
          type: string
      required:
      - creationTimestamp
      - uuid
      type: object
    MasterdataHorseStable:
      example:
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        kind: kind
        display: display
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
        changeCounter: 3
        masterdataHorseUuid: masterdataHorseUuid
        accommodationFrom: 2000-01-23T04:56:07.000+00:00
        contact:
          _addresses:
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            country: country
            city: city
            kind: 7
            houseNumber: houseNumber
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 2
            zipcodeCode: zipcodeCode
            countryCode: countryCode
            street: street
            masterdataContactUuid: masterdataContactUuid
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            federalStateCode: federalStateCode
            federalState: federalState
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            country: country
            city: city
            kind: 7
            houseNumber: houseNumber
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 2
            zipcodeCode: zipcodeCode
            countryCode: countryCode
            street: street
            masterdataContactUuid: masterdataContactUuid
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            federalStateCode: federalStateCode
            federalState: federalState
          phonePrivate: phonePrivate
          emailBusiness: emailBusiness
          uuid: uuid
          changeCounter: 5
          forename: forename
          faxPrivate: faxPrivate
          emailPrivate: emailPrivate
          surname: surname
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          titleAddition: titleAddition
          kind: 5
          nickName: nickName
          display: display
          _roles:
          - changeCounter: 9
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            kind: kind
            masterdataContactUuid: masterdataContactUuid
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
          - changeCounter: 9
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            kind: kind
            masterdataContactUuid: masterdataContactUuid
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
          bornDate: 2000-01-23T04:56:07.000+00:00
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          titleBusiness: titleBusiness
          info9: info9
          info8: info8
          info7: info7
          info6: info6
          nationality: nationality
          bornName: bornName
          info1: info1
          cellPhonePrivate: cellPhonePrivate
          artistName: artistName
          salutation: salutation
          titleAcademic: titleAcademic
          phoneBusiness: phoneBusiness
          faxBusiness: faxBusiness
          info5: info5
          info4: info4
          titleNobility: titleNobility
          info3: info3
          cellPhoneBusiness: cellPhoneBusiness
          info2: info2
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        accommodationUntil: 2000-01-23T04:56:07.000+00:00
        remarks: remarks
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        masterdataHorseUuid:
          maxLength: 40
          minLength: 0
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        kind:
          maxLength: 5
          minLength: 0
          type: string
        display:
          maxLength: 255
          minLength: 0
          type: string
        accommodationFrom:
          format: date-time
          type: string
        accommodationUntil:
          format: date-time
          type: string
        remarks:
          maxLength: 16777216
          minLength: 0
          type: string
        contact:
          $ref: '#/components/schemas/MasterdataContact'
      required:
      - creationTimestamp
      - uuid
      type: object
    EventContestCompetitionStage_Plain:
      example:
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        beginning: 2000-01-23T04:56:07.000+00:00
        breaksTotalNumbers: 6
        kind: kind
        minutesMaximum: 6
        penaltyPointsTimeUnderrun: 7
        penaltyPointsAtPulseRateOf: 0
        penaltyPointsPulseRateExceeded: 7
        title: title
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
        changeCounter: 6
        ending: 2000-01-23T04:56:07.000+00:00
        minutesAllowed: 3
        responsibleVeterinarianUuid: responsibleVeterinarianUuid
        penaltyPointsTimeout: 3
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        breaksTotalMinutes: 0
        currentState: 6
        raiseLength: 5
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        currentState:
          format: int32
          type: integer
        title:
          maxLength: 255
          minLength: 0
          type: string
        kind:
          maxLength: 25
          minLength: 0
          type: string
        beginning:
          format: date-time
          type: string
        ending:
          format: date-time
          type: string
        raiseLength:
          format: int32
          type: integer
        minutesMaximum:
          format: int32
          type: integer
        minutesAllowed:
          format: int32
          type: integer
        penaltyPointsTimeout:
          format: int32
          type: integer
        penaltyPointsTimeUnderrun:
          format: int32
          type: integer
        penaltyPointsAtPulseRateOf:
          format: int32
          type: integer
        penaltyPointsPulseRateExceeded:
          format: int32
          type: integer
        breaksTotalNumbers:
          format: int32
          type: integer
        breaksTotalMinutes:
          format: int32
          type: integer
        responsibleVeterinarianUuid:
          maxLength: 40
          minLength: 0
          type: string
      required:
      - creationTimestamp
      - uuid
      type: object
    EventContestCompetition_Plain:
      example:
        contestantAgeMax: 3
        breaksTotalNumbers: 7
        feeCurrency: feeCurrency
        penaltyPointsPulseRateExceeded: 6
        contestantLimitiationMin: 4
        uuid: uuid
        changeCounter: 9
        vddQualificationLevel: vddQualificationLevel
        descriptionRatingType: descriptionRatingType
        minutesAllowed: 7
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        dateTransferRelease: 2000-01-23T04:56:07.000+00:00
        isCARD: true
        state: state
        displayRegistertHorses: displayRegistertHorses
        infoAwardCeremony: infoAwardCeremony
        contestantAgeMin: 6
        competitionUuidToReduce: competitionUuidToReduce
        contestantQuantityMax: 1
        contestantLimitiationMax: 5
        kind: kind
        descriptionRoute: descriptionRoute
        descriptionTerrain: descriptionTerrain
        descriptionControlchecks: descriptionControlchecks
        ending: 2000-01-23T04:56:07.000+00:00
        isMARKED: true
        infoTransferRelease: infoTransferRelease
        registrationFeeUnit: registrationFeeUnit
        responsibleVeterinarianUuid: responsibleVeterinarianUuid
        penaltyPointsTimeout: 1
        scoringMinimumTime: scoringMinimumTime
        beginning: 2000-01-23T04:56:07.000+00:00
        datePreliminaryDiscussion: 2000-01-23T04:56:07.000+00:00
        minutesMaximum: 4
        penaltyPointsTimeUnderrun: 1
        title: title
        infoPreliminaryDiscussion: infoPreliminaryDiscussion
        scoringPeakTime: scoringPeakTime
        typeOfRouting: typeOfRouting
        dateFollowUpExamination: 2000-01-23T04:56:07.000+00:00
        altitudeMeters: 9
        startingFee: 6.683562403749608
        contestantQuantityMin: 6
        ratingType: 2
        descriptionStart: descriptionStart
        startingFeeUnit: startingFeeUnit
        raiseLength: 2
        horseAgeMax: 9
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        datePreliminaryExamination: 2000-01-23T04:56:07.000+00:00
        hoofProtection: hoofProtection
        registrationFee: 9.369310271410669
        competitionUuidToExtend: competitionUuidToExtend
        _stages:
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          beginning: 2000-01-23T04:56:07.000+00:00
          breaksTotalNumbers: 6
          kind: kind
          minutesMaximum: 6
          penaltyPointsTimeUnderrun: 7
          penaltyPointsAtPulseRateOf: 0
          penaltyPointsPulseRateExceeded: 7
          title: title
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 6
          ending: 2000-01-23T04:56:07.000+00:00
          minutesAllowed: 3
          responsibleVeterinarianUuid: responsibleVeterinarianUuid
          penaltyPointsTimeout: 3
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          breaksTotalMinutes: 0
          currentState: 6
          raiseLength: 5
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          beginning: 2000-01-23T04:56:07.000+00:00
          breaksTotalNumbers: 6
          kind: kind
          minutesMaximum: 6
          penaltyPointsTimeUnderrun: 7
          penaltyPointsAtPulseRateOf: 0
          penaltyPointsPulseRateExceeded: 7
          title: title
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 6
          ending: 2000-01-23T04:56:07.000+00:00
          minutesAllowed: 3
          responsibleVeterinarianUuid: responsibleVeterinarianUuid
          penaltyPointsTimeout: 3
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          breaksTotalMinutes: 0
          currentState: 6
          raiseLength: 5
        penaltyPointsAtPulseRateOf: 1
        infoFollowUpExamination: infoFollowUpExamination
        horseAgeMin: 8
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
        breaksTotalMinutes: 1
        dateAwardCeremony: 2000-01-23T04:56:07.000+00:00
        currentState: 3
        infoPreliminaryExamination: infoPreliminaryExamination
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        currentState:
          format: int32
          type: integer
        state:
          maxLength: 25
          minLength: 0
          type: string
        title:
          maxLength: 255
          minLength: 0
          type: string
        kind:
          maxLength: 25
          minLength: 0
          type: string
        beginning:
          format: date-time
          type: string
        ending:
          format: date-time
          type: string
        raiseLength:
          format: int32
          type: integer
        minutesMaximum:
          format: int32
          type: integer
        minutesAllowed:
          format: int32
          type: integer
        penaltyPointsTimeout:
          format: int32
          type: integer
        penaltyPointsTimeUnderrun:
          format: int32
          type: integer
        penaltyPointsAtPulseRateOf:
          format: int32
          type: integer
        penaltyPointsPulseRateExceeded:
          format: int32
          type: integer
        breaksTotalNumbers:
          format: int32
          type: integer
        breaksTotalMinutes:
          format: int32
          type: integer
        responsibleVeterinarianUuid:
          maxLength: 40
          minLength: 0
          type: string
        competitionUuidToExtend:
          maxLength: 40
          minLength: 0
          type: string
        competitionUuidToReduce:
          maxLength: 40
          minLength: 0
          type: string
        contestantLimitiationMin:
          format: int32
          type: integer
        contestantLimitiationMax:
          format: int32
          type: integer
        datePreliminaryExamination:
          format: date-time
          type: string
        infoPreliminaryExamination:
          maxLength: 255
          minLength: 0
          type: string
        datePreliminaryDiscussion:
          format: date-time
          type: string
        infoPreliminaryDiscussion:
          maxLength: 255
          minLength: 0
          type: string
        dateFollowUpExamination:
          format: date-time
          type: string
        infoFollowUpExamination:
          maxLength: 255
          minLength: 0
          type: string
        dateTransferRelease:
          format: date-time
          type: string
        infoTransferRelease:
          maxLength: 255
          minLength: 0
          type: string
        dateAwardCeremony:
          format: date-time
          type: string
        infoAwardCeremony:
          maxLength: 255
          minLength: 0
          type: string
        vddQualificationLevel:
          maxLength: 25
          minLength: 0
          type: string
        altitudeMeters:
          format: int32
          type: integer
        feeCurrency:
          maxLength: 25
          minLength: 0
          type: string
        registrationFee:
          format: double
          type: number
        registrationFeeUnit:
          maxLength: 25
          minLength: 0
          type: string
        startingFee:
          format: double
          type: number
        startingFeeUnit:
          maxLength: 25
          minLength: 0
          type: string
        scoringMinimumTime:
          maxLength: 10
          minLength: 0
          type: string
        scoringPeakTime:
          maxLength: 10
          minLength: 0
          type: string
        horseAgeMin:
          format: int32
          type: integer
        horseAgeMax:
          format: int32
          type: integer
        contestantAgeMin:
          format: int32
          type: integer
        contestantAgeMax:
          format: int32
          type: integer
        contestantQuantityMin:
          format: int32
          type: integer
        contestantQuantityMax:
          format: int32
          type: integer
        hoofProtection:
          maxLength: 50
          minLength: 0
          type: string
        isCARD:
          type: boolean
        isMARKED:
          type: boolean
        descriptionRoute:
          type: string
        typeOfRouting:
          maxLength: 50
          minLength: 0
          type: string
        descriptionStart:
          type: string
        descriptionTerrain:
          type: string
        descriptionControlchecks:
          type: string
        ratingType:
          format: int32
          type: integer
        descriptionRatingType:
          type: string
        displayRegistertHorses:
          type: string
        _stages:
          items:
            $ref: '#/components/schemas/EventContestCompetitionStage_Plain'
          type: array
          uniqueItems: true
      required:
      - creationTimestamp
      - uuid
      type: object
    EventContestFee_Plain:
      example:
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        kind: kind
        remark: remark
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
        changeCounter: 7
        unit: unit
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        deposit: 5.533258397034986
        currency: currency
        position: 3
        currentState: 3
        value: 7.04836565559697
        key: key
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        currentState:
          format: int32
          type: integer
        kind:
          maxLength: 50
          minLength: 0
          type: string
        position:
          format: int32
          type: integer
        key:
          maxLength: 255
          minLength: 0
          type: string
        currency:
          maxLength: 25
          minLength: 0
          type: string
        value:
          format: double
          type: number
        unit:
          maxLength: 25
          minLength: 0
          type: string
        deposit:
          format: double
          type: number
        remark:
          type: string
      required:
      - creationTimestamp
      - uuid
      type: object
    EventContestLocation_Plain:
      example:
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        country: country
        city: city
        houseNumber: houseNumber
        type: type
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
        changeCounter: 3
        zipcode: zipcode
        name3: name3
        phone: phone
        street: street
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        salutation: salutation
        gpsCoordinate: gpsCoordinate
        currentState: 4
        name2: name2
        fax: fax
        name1: name1
        cellPhone: cellPhone
        email: email
        info: info
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        currentState:
          format: int32
          type: integer
        type:
          maxLength: 50
          minLength: 0
          type: string
        salutation:
          maxLength: 255
          minLength: 0
          type: string
        name1:
          maxLength: 255
          minLength: 0
          type: string
        name2:
          maxLength: 255
          minLength: 0
          type: string
        name3:
          maxLength: 255
          minLength: 0
          type: string
        street:
          maxLength: 255
          minLength: 0
          type: string
        houseNumber:
          maxLength: 255
          minLength: 0
          type: string
        zipcode:
          maxLength: 255
          minLength: 0
          type: string
        city:
          maxLength: 255
          minLength: 0
          type: string
        country:
          maxLength: 255
          minLength: 0
          type: string
        phone:
          maxLength: 255
          minLength: 0
          type: string
        fax:
          maxLength: 255
          minLength: 0
          type: string
        cellPhone:
          maxLength: 255
          minLength: 0
          type: string
        email:
          maxLength: 255
          minLength: 0
          type: string
        gpsCoordinate:
          maxLength: 255
          minLength: 0
          type: string
        info:
          maxLength: 255
          minLength: 0
          type: string
      required:
      - creationTimestamp
      - uuid
      type: object
    EventContestRemark_Plain:
      example:
        changeCounter: 0
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        kind: kind
        sortid: 4
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        description: description
        currentState: 6
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        currentState:
          format: int32
          type: integer
        kind:
          maxLength: 50
          minLength: 0
          type: string
        sortid:
          format: int32
          type: integer
        description:
          type: string
      required:
      - creationTimestamp
      - uuid
      type: object
    EventContestRole_Plain:
      example:
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        country: country
        city: city
        kind: kind
        display: display
        houseNumber: houseNumber
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
        changeCounter: 4
        zipcode: zipcode
        name3: name3
        phone: phone
        street: street
        masterdataContactUuid: masterdataContactUuid
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        titleAcademic: titleAcademic
        currentState: 8
        name2: name2
        fax: fax
        name1: name1
        cellPhone: cellPhone
        email: email
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        currentState:
          format: int32
          type: integer
        kind:
          maxLength: 25
          minLength: 0
          type: string
        masterdataContactUuid:
          maxLength: 40
          minLength: 0
          type: string
        display:
          maxLength: 255
          minLength: 0
          type: string
        name1:
          maxLength: 255
          minLength: 0
          type: string
        name2:
          maxLength: 255
          minLength: 0
          type: string
        name3:
          maxLength: 255
          minLength: 0
          type: string
        titleAcademic:
          maxLength: 255
          minLength: 0
          type: string
        street:
          maxLength: 255
          minLength: 0
          type: string
        houseNumber:
          maxLength: 255
          minLength: 0
          type: string
        zipcode:
          maxLength: 255
          minLength: 0
          type: string
        city:
          maxLength: 255
          minLength: 0
          type: string
        country:
          maxLength: 255
          minLength: 0
          type: string
        phone:
          maxLength: 255
          minLength: 0
          type: string
        fax:
          maxLength: 255
          minLength: 0
          type: string
        cellPhone:
          maxLength: 255
          minLength: 0
          type: string
        email:
          maxLength: 255
          minLength: 0
          type: string
      required:
      - creationTimestamp
      - uuid
      type: object
    EventContest_Plain:
      example:
        country: country
        currentEvent: 5
        paymentIban: paymentIban
        uuid: uuid
        eventNaming: eventNaming
        vddPortalTitle: vddPortalTitle
        promoterTenderingUrl: promoterTenderingUrl
        changeCounter: 1
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        state: state
        initialEvent: initialEvent
        contestantQuantityMax: 7
        regionCommissionerDescription: regionCommissionerDescription
        stateCommissionerUuid: stateCommissionerUuid
        countryRegion: countryRegion
        _roles:
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          country: country
          city: city
          kind: kind
          display: display
          houseNumber: houseNumber
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 4
          zipcode: zipcode
          name3: name3
          phone: phone
          street: street
          masterdataContactUuid: masterdataContactUuid
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          titleAcademic: titleAcademic
          currentState: 8
          name2: name2
          fax: fax
          name1: name1
          cellPhone: cellPhone
          email: email
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          country: country
          city: city
          kind: kind
          display: display
          houseNumber: houseNumber
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 4
          zipcode: zipcode
          name3: name3
          phone: phone
          street: street
          masterdataContactUuid: masterdataContactUuid
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          titleAcademic: titleAcademic
          currentState: 8
          name2: name2
          fax: fax
          name1: name1
          cellPhone: cellPhone
          email: email
        _remarks:
        - changeCounter: 0
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          kind: kind
          sortid: 4
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          description: description
          currentState: 6
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
        - changeCounter: 0
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          kind: kind
          sortid: 4
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          description: description
          currentState: 6
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
        ending: 2000-01-23T04:56:07.000+00:00
        paymentBic: paymentBic
        infoHelmetObligation: infoHelmetObligation
        _locations:
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          country: country
          city: city
          houseNumber: houseNumber
          type: type
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 3
          zipcode: zipcode
          name3: name3
          phone: phone
          street: street
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          salutation: salutation
          gpsCoordinate: gpsCoordinate
          currentState: 4
          name2: name2
          fax: fax
          name1: name1
          cellPhone: cellPhone
          email: email
          info: info
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          country: country
          city: city
          houseNumber: houseNumber
          type: type
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 3
          zipcode: zipcode
          name3: name3
          phone: phone
          street: street
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          salutation: salutation
          gpsCoordinate: gpsCoordinate
          currentState: 4
          name2: name2
          fax: fax
          name1: name1
          cellPhone: cellPhone
          email: email
          info: info
        paymentPaypal: paymentPaypal
        isCei: true
        approvalDate: 2000-01-23T04:56:07.000+00:00
        beginning: 2000-01-23T04:56:07.000+00:00
        promoterEventUrl: promoterEventUrl
        approvalInfo: approvalInfo
        promoterEventTitle: promoterEventTitle
        infoVaccinationObligation: infoVaccinationObligation
        title: title
        stateCommissionerDescription: stateCommissionerDescription
        contestantQuantityMin: 2
        paymentReason: paymentReason
        requestDate: 2000-01-23T04:56:07.000+00:00
        requestInfo: requestInfo
        isLateRegistration: true
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        vddPortalUrl: vddPortalUrl
        registrationClosing: 2000-01-23T04:56:07.000+00:00
        isCountryChampionship: true
        _fees:
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          kind: kind
          remark: remark
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 7
          unit: unit
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          deposit: 5.533258397034986
          currency: currency
          position: 3
          currentState: 3
          value: 7.04836565559697
          key: key
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          kind: kind
          remark: remark
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 7
          unit: unit
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          deposit: 5.533258397034986
          currency: currency
          position: 3
          currentState: 3
          value: 7.04836565559697
          key: key
        regionCommissionerUuid: regionCommissionerUuid
        paymentAccountHolder: paymentAccountHolder
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
        _competitions:
        - contestantAgeMax: 3
          breaksTotalNumbers: 7
          feeCurrency: feeCurrency
          penaltyPointsPulseRateExceeded: 6
          contestantLimitiationMin: 4
          uuid: uuid
          changeCounter: 9
          vddQualificationLevel: vddQualificationLevel
          descriptionRatingType: descriptionRatingType
          minutesAllowed: 7
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          dateTransferRelease: 2000-01-23T04:56:07.000+00:00
          isCARD: true
          state: state
          displayRegistertHorses: displayRegistertHorses
          infoAwardCeremony: infoAwardCeremony
          contestantAgeMin: 6
          competitionUuidToReduce: competitionUuidToReduce
          contestantQuantityMax: 1
          contestantLimitiationMax: 5
          kind: kind
          descriptionRoute: descriptionRoute
          descriptionTerrain: descriptionTerrain
          descriptionControlchecks: descriptionControlchecks
          ending: 2000-01-23T04:56:07.000+00:00
          isMARKED: true
          infoTransferRelease: infoTransferRelease
          registrationFeeUnit: registrationFeeUnit
          responsibleVeterinarianUuid: responsibleVeterinarianUuid
          penaltyPointsTimeout: 1
          scoringMinimumTime: scoringMinimumTime
          beginning: 2000-01-23T04:56:07.000+00:00
          datePreliminaryDiscussion: 2000-01-23T04:56:07.000+00:00
          minutesMaximum: 4
          penaltyPointsTimeUnderrun: 1
          title: title
          infoPreliminaryDiscussion: infoPreliminaryDiscussion
          scoringPeakTime: scoringPeakTime
          typeOfRouting: typeOfRouting
          dateFollowUpExamination: 2000-01-23T04:56:07.000+00:00
          altitudeMeters: 9
          startingFee: 6.683562403749608
          contestantQuantityMin: 6
          ratingType: 2
          descriptionStart: descriptionStart
          startingFeeUnit: startingFeeUnit
          raiseLength: 2
          horseAgeMax: 9
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          datePreliminaryExamination: 2000-01-23T04:56:07.000+00:00
          hoofProtection: hoofProtection
          registrationFee: 9.369310271410669
          competitionUuidToExtend: competitionUuidToExtend
          _stages:
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            beginning: 2000-01-23T04:56:07.000+00:00
            breaksTotalNumbers: 6
            kind: kind
            minutesMaximum: 6
            penaltyPointsTimeUnderrun: 7
            penaltyPointsAtPulseRateOf: 0
            penaltyPointsPulseRateExceeded: 7
            title: title
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 6
            ending: 2000-01-23T04:56:07.000+00:00
            minutesAllowed: 3
            responsibleVeterinarianUuid: responsibleVeterinarianUuid
            penaltyPointsTimeout: 3
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            breaksTotalMinutes: 0
            currentState: 6
            raiseLength: 5
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            beginning: 2000-01-23T04:56:07.000+00:00
            breaksTotalNumbers: 6
            kind: kind
            minutesMaximum: 6
            penaltyPointsTimeUnderrun: 7
            penaltyPointsAtPulseRateOf: 0
            penaltyPointsPulseRateExceeded: 7
            title: title
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 6
            ending: 2000-01-23T04:56:07.000+00:00
            minutesAllowed: 3
            responsibleVeterinarianUuid: responsibleVeterinarianUuid
            penaltyPointsTimeout: 3
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            breaksTotalMinutes: 0
            currentState: 6
            raiseLength: 5
          penaltyPointsAtPulseRateOf: 1
          infoFollowUpExamination: infoFollowUpExamination
          horseAgeMin: 8
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          breaksTotalMinutes: 1
          dateAwardCeremony: 2000-01-23T04:56:07.000+00:00
          currentState: 3
          infoPreliminaryExamination: infoPreliminaryExamination
        - contestantAgeMax: 3
          breaksTotalNumbers: 7
          feeCurrency: feeCurrency
          penaltyPointsPulseRateExceeded: 6
          contestantLimitiationMin: 4
          uuid: uuid
          changeCounter: 9
          vddQualificationLevel: vddQualificationLevel
          descriptionRatingType: descriptionRatingType
          minutesAllowed: 7
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          dateTransferRelease: 2000-01-23T04:56:07.000+00:00
          isCARD: true
          state: state
          displayRegistertHorses: displayRegistertHorses
          infoAwardCeremony: infoAwardCeremony
          contestantAgeMin: 6
          competitionUuidToReduce: competitionUuidToReduce
          contestantQuantityMax: 1
          contestantLimitiationMax: 5
          kind: kind
          descriptionRoute: descriptionRoute
          descriptionTerrain: descriptionTerrain
          descriptionControlchecks: descriptionControlchecks
          ending: 2000-01-23T04:56:07.000+00:00
          isMARKED: true
          infoTransferRelease: infoTransferRelease
          registrationFeeUnit: registrationFeeUnit
          responsibleVeterinarianUuid: responsibleVeterinarianUuid
          penaltyPointsTimeout: 1
          scoringMinimumTime: scoringMinimumTime
          beginning: 2000-01-23T04:56:07.000+00:00
          datePreliminaryDiscussion: 2000-01-23T04:56:07.000+00:00
          minutesMaximum: 4
          penaltyPointsTimeUnderrun: 1
          title: title
          infoPreliminaryDiscussion: infoPreliminaryDiscussion
          scoringPeakTime: scoringPeakTime
          typeOfRouting: typeOfRouting
          dateFollowUpExamination: 2000-01-23T04:56:07.000+00:00
          altitudeMeters: 9
          startingFee: 6.683562403749608
          contestantQuantityMin: 6
          ratingType: 2
          descriptionStart: descriptionStart
          startingFeeUnit: startingFeeUnit
          raiseLength: 2
          horseAgeMax: 9
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          datePreliminaryExamination: 2000-01-23T04:56:07.000+00:00
          hoofProtection: hoofProtection
          registrationFee: 9.369310271410669
          competitionUuidToExtend: competitionUuidToExtend
          _stages:
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            beginning: 2000-01-23T04:56:07.000+00:00
            breaksTotalNumbers: 6
            kind: kind
            minutesMaximum: 6
            penaltyPointsTimeUnderrun: 7
            penaltyPointsAtPulseRateOf: 0
            penaltyPointsPulseRateExceeded: 7
            title: title
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 6
            ending: 2000-01-23T04:56:07.000+00:00
            minutesAllowed: 3
            responsibleVeterinarianUuid: responsibleVeterinarianUuid
            penaltyPointsTimeout: 3
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            breaksTotalMinutes: 0
            currentState: 6
            raiseLength: 5
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            beginning: 2000-01-23T04:56:07.000+00:00
            breaksTotalNumbers: 6
            kind: kind
            minutesMaximum: 6
            penaltyPointsTimeUnderrun: 7
            penaltyPointsAtPulseRateOf: 0
            penaltyPointsPulseRateExceeded: 7
            title: title
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 6
            ending: 2000-01-23T04:56:07.000+00:00
            minutesAllowed: 3
            responsibleVeterinarianUuid: responsibleVeterinarianUuid
            penaltyPointsTimeout: 3
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            breaksTotalMinutes: 0
            currentState: 6
            raiseLength: 5
          penaltyPointsAtPulseRateOf: 1
          infoFollowUpExamination: infoFollowUpExamination
          horseAgeMin: 8
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          breaksTotalMinutes: 1
          dateAwardCeremony: 2000-01-23T04:56:07.000+00:00
          currentState: 3
          infoPreliminaryExamination: infoPreliminaryExamination
        promoterTenderingTitle: promoterTenderingTitle
        isCard: true
        currentState: 5
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        currentState:
          format: int32
          type: integer
        eventNaming:
          maxLength: 255
          minLength: 0
          type: string
        title:
          maxLength: 255
          minLength: 0
          type: string
        state:
          maxLength: 25
          minLength: 0
          type: string
        beginning:
          format: date-time
          type: string
        ending:
          format: date-time
          type: string
        country:
          maxLength: 50
          minLength: 0
          type: string
        countryRegion:
          maxLength: 50
          minLength: 0
          type: string
        isCountryChampionship:
          type: boolean
        isCei:
          type: boolean
        isCard:
          type: boolean
        vddPortalUrl:
          maxLength: 255
          minLength: 0
          type: string
        vddPortalTitle:
          maxLength: 255
          minLength: 0
          type: string
        promoterTenderingUrl:
          maxLength: 255
          minLength: 0
          type: string
        promoterTenderingTitle:
          maxLength: 255
          minLength: 0
          type: string
        promoterEventUrl:
          maxLength: 255
          minLength: 0
          type: string
        promoterEventTitle:
          maxLength: 255
          minLength: 0
          type: string
        initialEvent:
          maxLength: 50
          minLength: 0
          type: string
        currentEvent:
          format: int32
          type: integer
        requestDate:
          format: date-time
          type: string
        requestInfo:
          maxLength: 255
          minLength: 0
          type: string
        approvalDate:
          format: date-time
          type: string
        approvalInfo:
          maxLength: 255
          minLength: 0
          type: string
        stateCommissionerUuid:
          maxLength: 40
          minLength: 0
          type: string
        stateCommissionerDescription:
          maxLength: 255
          minLength: 0
          type: string
        regionCommissionerUuid:
          maxLength: 40
          minLength: 0
          type: string
        regionCommissionerDescription:
          maxLength: 255
          minLength: 0
          type: string
        paymentAccountHolder:
          maxLength: 100
          minLength: 0
          type: string
        paymentIban:
          maxLength: 50
          minLength: 0
          type: string
        paymentBic:
          maxLength: 50
          minLength: 0
          type: string
        paymentPaypal:
          maxLength: 255
          minLength: 0
          type: string
        paymentReason:
          maxLength: 255
          minLength: 0
          type: string
        contestantQuantityMin:
          format: int32
          type: integer
        contestantQuantityMax:
          format: int32
          type: integer
        registrationClosing:
          format: date-time
          type: string
        isLateRegistration:
          type: boolean
        infoVaccinationObligation:
          maxLength: 255
          minLength: 0
          type: string
        infoHelmetObligation:
          maxLength: 255
          minLength: 0
          type: string
        _competitions:
          items:
            $ref: '#/components/schemas/EventContestCompetition_Plain'
          type: array
          uniqueItems: true
        _roles:
          items:
            $ref: '#/components/schemas/EventContestRole_Plain'
          type: array
          uniqueItems: true
        _fees:
          items:
            $ref: '#/components/schemas/EventContestFee_Plain'
          type: array
          uniqueItems: true
        _locations:
          items:
            $ref: '#/components/schemas/EventContestLocation_Plain'
          type: array
          uniqueItems: true
        _remarks:
          items:
            $ref: '#/components/schemas/EventContestRemark_Plain'
          type: array
          uniqueItems: true
      required:
      - creationTimestamp
      - uuid
      type: object
    ResponcePageContests_Plain:
      example:
        lastPage: 0
        data:
        - country: country
          currentEvent: 5
          paymentIban: paymentIban
          uuid: uuid
          eventNaming: eventNaming
          vddPortalTitle: vddPortalTitle
          promoterTenderingUrl: promoterTenderingUrl
          changeCounter: 1
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          state: state
          initialEvent: initialEvent
          contestantQuantityMax: 7
          regionCommissionerDescription: regionCommissionerDescription
          stateCommissionerUuid: stateCommissionerUuid
          countryRegion: countryRegion
          _roles:
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            country: country
            city: city
            kind: kind
            display: display
            houseNumber: houseNumber
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 4
            zipcode: zipcode
            name3: name3
            phone: phone
            street: street
            masterdataContactUuid: masterdataContactUuid
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            titleAcademic: titleAcademic
            currentState: 8
            name2: name2
            fax: fax
            name1: name1
            cellPhone: cellPhone
            email: email
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            country: country
            city: city
            kind: kind
            display: display
            houseNumber: houseNumber
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 4
            zipcode: zipcode
            name3: name3
            phone: phone
            street: street
            masterdataContactUuid: masterdataContactUuid
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            titleAcademic: titleAcademic
            currentState: 8
            name2: name2
            fax: fax
            name1: name1
            cellPhone: cellPhone
            email: email
          _remarks:
          - changeCounter: 0
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            kind: kind
            sortid: 4
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            description: description
            currentState: 6
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
          - changeCounter: 0
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            kind: kind
            sortid: 4
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            description: description
            currentState: 6
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
          ending: 2000-01-23T04:56:07.000+00:00
          paymentBic: paymentBic
          infoHelmetObligation: infoHelmetObligation
          _locations:
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            country: country
            city: city
            houseNumber: houseNumber
            type: type
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 3
            zipcode: zipcode
            name3: name3
            phone: phone
            street: street
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            salutation: salutation
            gpsCoordinate: gpsCoordinate
            currentState: 4
            name2: name2
            fax: fax
            name1: name1
            cellPhone: cellPhone
            email: email
            info: info
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            country: country
            city: city
            houseNumber: houseNumber
            type: type
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 3
            zipcode: zipcode
            name3: name3
            phone: phone
            street: street
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            salutation: salutation
            gpsCoordinate: gpsCoordinate
            currentState: 4
            name2: name2
            fax: fax
            name1: name1
            cellPhone: cellPhone
            email: email
            info: info
          paymentPaypal: paymentPaypal
          isCei: true
          approvalDate: 2000-01-23T04:56:07.000+00:00
          beginning: 2000-01-23T04:56:07.000+00:00
          promoterEventUrl: promoterEventUrl
          approvalInfo: approvalInfo
          promoterEventTitle: promoterEventTitle
          infoVaccinationObligation: infoVaccinationObligation
          title: title
          stateCommissionerDescription: stateCommissionerDescription
          contestantQuantityMin: 2
          paymentReason: paymentReason
          requestDate: 2000-01-23T04:56:07.000+00:00
          requestInfo: requestInfo
          isLateRegistration: true
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          vddPortalUrl: vddPortalUrl
          registrationClosing: 2000-01-23T04:56:07.000+00:00
          isCountryChampionship: true
          _fees:
          - changeTimestamp: 2000-01-23T04:56:07.000+00:00
            kind: kind
            remark: remark
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 7
            unit: unit
[...]
