openapi: 3.0.1
info:
  description: Rest-Interface for ONES
  title: vdd4ones
  version: 1.0a
servers:
- description: Generated server url
  url: https://vdd4ones.de:8080
paths:
  /rest/application/register/account/{accountUuid}:
    get:
      operationId: getAccoundByUuid
      parameters:
      - explode: false
        in: path
        name: accountUuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/registeredAccount'
          description: OK
      security:
      - basicAuth: []
      tags:
      - application-account-controller
      x-accepts: '*/*'
    put:
      operationId: putRegisterAccount
      parameters:
      - explode: false
        in: path
        name: accountUuid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAccount'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/registerResponce'
          description: OK
      security:
      - basicAuth: []
      tags:
      - application-account-controller
      x-contentType: application/json
      x-accepts: '*/*'
  /rest/application/register/account/unlock:
    put:
      operationId: putRegisterAccountUnlock
      parameters:
      - explode: true
        in: query
        name: uuid
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: code
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registerResponce'
          description: OK
      security:
      - basicAuth: []
      tags:
      - application-account-controller
      x-accepts: application/json
  /rest/masterdata/horse/account/{uuid}:
    post:
      operationId: postRegisterHorse
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registerHorse'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK
      security:
      - basicAuth: []
      tags:
      - masterdata-horse-controller
      x-contentType: application/json
      x-accepts: '*/*'
  /rest/event/nomination/account/{uuid}:
    post:
      operationId: postAccountNomination
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registerNomination'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/registerResponce'
          description: OK
      security:
      - basicAuth: []
      tags:
      - event-contest-controller
      x-contentType: application/json
      x-accepts: '*/*'
  /rest/application/register/account:
    post:
      operationId: postRegisterAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registerAccount'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registerResponce'
          description: OK
      security:
      - basicAuth: []
      tags:
      - application-account-controller
      x-contentType: application/json
      x-accepts: application/json
  /rest/masterdata/property/items/{proptery}:
    get:
      operationId: getPropertyItems
      parameters:
      - explode: false
        in: path
        name: proptery
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/MasterdataProperty'
                type: array
          description: OK
      security:
      - basicAuth: []
      tags:
      - masterdata-property-controller
      x-accepts: '*/*'
  /rest/event/contests:
    get:
      operationId: getContestByYear
      parameters:
      - explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: untilDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: countryRegions
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: contestKinds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: isCountryChampionship
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: isCEI
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: isCard
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: onlyRegistered
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: accountUuid
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pageNo
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: sortBy
        required: false
        schema:
          default: beginning
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResponcePageContests'
          description: OK
      security:
      - basicAuth: []
      tags:
      - event-contest-controller
      x-accepts: '*/*'
  /rest/event/contest:
    get:
      operationId: getContestByUuid
      parameters:
      - explode: true
        in: query
        name: contestUuid
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: accountUuid
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventContest_Plain'
          description: OK
      security:
      - basicAuth: []
      tags:
      - event-contest-controller
      x-accepts: application/json
  /rest/event/contest/result/current:
    get:
      operationId: getCurrentContestCompetitionsResults
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/EventContestCompetitionResult'
                type: array
          description: OK
      security:
      - basicAuth: []
      tags:
      - event-contest-controller
      x-accepts: '*/*'
  /rest/event/contest/result/account/{uuid}:
    get:
      operationId: getAccountContestCompetitionsResults
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/EventContestCompetitionResult'
                type: array
          description: OK
      security:
      - basicAuth: []
      tags:
      - event-contest-controller
      x-accepts: '*/*'
  /rest/application/register/account/{loginIdentification}:
    delete:
      operationId: deleteRegisteredAccount
      parameters:
      - explode: false
        in: path
        name: loginIdentification
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/registerResponce'
          description: OK
      security:
      - basicAuth: []
      tags:
      - application-account-controller
      x-accepts: '*/*'
components:
  schemas:
    registerAddress:
      example:
        country: country
        zipCode: zipCode
        city: city
        street: street
        houseNumber: houseNumber
      properties:
        country:
          maxLength: 255
          minLength: 0
          type: string
        zipCode:
          maxLength: 255
          minLength: 0
          type: string
        city:
          maxLength: 255
          minLength: 0
          type: string
        street:
          maxLength: 255
          minLength: 0
          type: string
        houseNumber:
          maxLength: 255
          minLength: 0
          type: string
      required:
      - city
      - street
      type: object
    registerContactNatural:
      example:
        birthday: 2000-01-23
        forename: forename
        emergencyPhoneNumber: emergencyPhoneNumber
        phoneNumber: phoneNumber
        postalAddress:
          country: country
          zipCode: zipCode
          city: city
          street: street
          houseNumber: houseNumber
        surname: surname
        phoneNumberMobile: phoneNumberMobile
        birthname: birthname
        salutation: salutation
        email: email
      properties:
        surname:
          maxLength: 255
          minLength: 1
          type: string
        birthname:
          maxLength: 255
          minLength: 0
          type: string
        forename:
          maxLength: 255
          minLength: 0
          type: string
        salutation:
          maxLength: 255
          minLength: 0
          type: string
        birthday:
          format: date
          type: string
        email:
          maxLength: 255
          minLength: 6
          type: string
        phoneNumber:
          maxLength: 50
          minLength: 0
          type: string
        phoneNumberMobile:
          maxLength: 50
          minLength: 0
          type: string
        emergencyPhoneNumber:
          maxLength: 50
          minLength: 0
          type: string
        postalAddress:
          $ref: '#/components/schemas/registerAddress'
      required:
      - surname
      type: object
    registerMembership:
      example:
        feiMemberId: feiMemberId
        vddQualificationLevel: vddQualificationLevel
        vddMemberId: vddMemberId
        fnMemberId: fnMemberId
        fnQualificationLevel: fnQualificationLevel
        feiQualificationLevel: feiQualificationLevel
      properties:
        feiMemberId:
          maxLength: 50
          minLength: 0
          type: string
        feiQualificationLevel:
          maxLength: 5
          minLength: 0
          type: string
        fnMemberId:
          maxLength: 50
          minLength: 0
          type: string
        fnQualificationLevel:
          maxLength: 5
          minLength: 0
          type: string
        vddMemberId:
          maxLength: 50
          minLength: 0
          type: string
        vddQualificationLevel:
          maxLength: 5
          minLength: 0
          type: string
      type: object
    updateAccount:
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        loginIdentification:
          maxLength: 255
          minLength: 1
          type: string
        loginKeyword:
          maxLength: 255
          minLength: 1
          type: string
        nativeLanguage:
          maxLength: 5
          minLength: 0
          type: string
        user:
          $ref: '#/components/schemas/registerContactNatural'
        memberships:
          $ref: '#/components/schemas/registerMembership'
      required:
      - uuid
      type: object
    registerResponce:
      example:
        state: state
        reasonCode: 0
        justification: justification
        registerObjectUuid: registerObjectUuid
        uuid: uuid
      properties:
        uuid:
          maxLength: 255
          minLength: 0
          type: string
        state:
          maxLength: 255
          minLength: 1
          type: string
        reasonCode:
          format: int32
          type: integer
        justification:
          maxLength: 255
          minLength: 0
          type: string
        registerObjectUuid:
          maxLength: 40
          minLength: 0
          type: string
      type: object
    registerContactLegal:
      example:
        phoneNumber: phoneNumber
        postalAddress:
          country: country
          zipCode: zipCode
          city: city
          street: street
          houseNumber: houseNumber
        foundingDay: 2000-01-23
        phoneNumberMobile: phoneNumberMobile
        name: name
        typeOf: typeOf
        email: email
      properties:
        name:
          maxLength: 255
          minLength: 1
          type: string
        typeOf:
          maxLength: 255
          minLength: 0
          type: string
        foundingDay:
          format: date
          type: string
        email:
          maxLength: 255
          minLength: 6
          type: string
        phoneNumber:
          maxLength: 50
          minLength: 0
          type: string
        phoneNumberMobile:
          maxLength: 50
          minLength: 0
          type: string
        postalAddress:
          $ref: '#/components/schemas/registerAddress'
      required:
      - name
      type: object
    registerHorse:
      properties:
        name:
          maxLength: 255
          minLength: 1
          type: string
        passportId:
          maxLength: 255
          minLength: 0
          type: string
        feiPassportId:
          maxLength: 50
          minLength: 0
          type: string
        fnPassportId:
          maxLength: 50
          minLength: 0
          type: string
        chipId:
          maxLength: 50
          minLength: 0
          type: string
        breed:
          maxLength: 255
          minLength: 0
          type: string
        gender:
          enum:
          - M
          - S
          - G
          maxLength: 1
          minLength: 0
          type: string
        color:
          maxLength: 255
          minLength: 0
          type: string
        yearOfBirth:
          format: int32
          type: integer
        stickSize:
          format: int32
          type: integer
        owner:
          $ref: '#/components/schemas/registerContactNatural'
        stable:
          $ref: '#/components/schemas/registerContactLegal'
      required:
      - name
      - passportId
      type: object
    registerNomination:
      properties:
        competitionUuid:
          maxLength: 255
          minLength: 1
          type: string
        horses:
          items:
            $ref: '#/components/schemas/registerNominationHorse'
          type: array
        bookingFeeUuids:
          items:
            $ref: '#/components/schemas/registerNominationFee'
          maxItems: 40
          minItems: 1
          type: array
          uniqueItems: true
      required:
      - competitionUuid
      - horses
      type: object
    registerNominationFee:
      properties:
        feeUuid:
          maxLength: 255
          minLength: 1
          type: string
        quantity:
          format: double
          type: number
      required:
      - feeUuid
      type: object
    registerNominationHorse:
      properties:
        horseUuid:
          maxLength: 255
          minLength: 1
          type: string
        escortHorse:
          type: boolean
        insurancePoliceId:
          type: string
      required:
      - horseUuid
      type: object
    registerAccount:
      properties:
        uuid:
          readOnly: true
          type: string
        loginIdentification:
          maxLength: 255
          minLength: 1
          type: string
        loginKeyword:
          maxLength: 255
          minLength: 1
          type: string
        nativeLanguage:
          maxLength: 5
          minLength: 0
          type: string
        user:
          $ref: '#/components/schemas/registerContactNatural'
        memberships:
          $ref: '#/components/schemas/registerMembership'
      required:
      - loginIdentification
      - loginKeyword
      type: object
    MasterdataProperty:
      example:
        changeCounter: 0
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        acronym: acronym
        display: display
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        name: name
        _items:
        - changeCounter: 6
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          acronym: acronym
          display: display
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          description: description
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
        - changeCounter: 6
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          acronym: acronym
          display: display
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          description: description
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        name:
          maxLength: 255
          minLength: 0
          type: string
        acronym:
          maxLength: 10
          minLength: 0
          type: string
        display:
          maxLength: 50
          minLength: 0
          type: string
        _items:
          items:
            $ref: '#/components/schemas/MasterdataPropertyCharacteristic'
          type: array
          uniqueItems: true
      required:
      - creationTimestamp
      - uuid
      type: object
    MasterdataPropertyCharacteristic:
      example:
        changeCounter: 6
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        acronym: acronym
        display: display
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        description: description
        uuid: uuid
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
      properties:
        uuid:
          maxLength: 40
          minLength: 1
          type: string
        creationTimestamp:
          format: date-time
          type: string
        creationUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeTimestamp:
          format: date-time
          type: string
        changeUserUuid:
          maxLength: 40
          minLength: 0
          type: string
        changeCounter:
          format: int32
          type: integer
        description:
          maxLength: 255
          minLength: 0
          type: string
        acronym:
          maxLength: 10
          minLength: 0
          type: string
        display:
          maxLength: 50
          minLength: 0
          type: string
      required:
      - creationTimestamp
      - uuid
      type: object
    EventContest:
      example:
        country: country
        currentEvent: 5
        paymentIban: paymentIban
        uuid: uuid
        eventNaming: eventNaming
        vddPortalTitle: vddPortalTitle
        promoterTenderingUrl: promoterTenderingUrl
        changeCounter: 1
        creationTimestamp: 2000-01-23T04:56:07.000+00:00
        state: state
        initialEvent: initialEvent
        contestantQuantityMax: 7
        regionCommissionerDescription: regionCommissionerDescription
        stateCommissionerUuid: stateCommissionerUuid
        countryRegion: countryRegion
        _roles:
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          country: country
          city: city
          kind: kind
          display: display
          houseNumber: houseNumber
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 7
          zipcode: zipcode
          name3: name3
          phone: phone
          street: street
          masterdataContactUuid: masterdataContactUuid
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          titleAcademic: titleAcademic
          currentState: 9
          name2: name2
          fax: fax
          name1: name1
          cellPhone: cellPhone
          email: email
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          country: country
          city: city
          kind: kind
          display: display
          houseNumber: houseNumber
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 7
          zipcode: zipcode
          name3: name3
          phone: phone
          street: street
          masterdataContactUuid: masterdataContactUuid
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          titleAcademic: titleAcademic
          currentState: 9
          name2: name2
          fax: fax
          name1: name1
          cellPhone: cellPhone
          email: email
        _remarks:
        - changeCounter: 8
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          kind: kind
          sortid: 3
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          description: description
          currentState: 4
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
        - changeCounter: 8
          changeTimestamp: 2000-01-23T04:56:07.000+00:00
          kind: kind
          sortid: 3
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          description: description
          currentState: 4
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
        ending: 2000-01-23T04:56:07.000+00:00
        paymentBic: paymentBic
        infoHelmetObligation: infoHelmetObligation
        _locations:
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          country: country
          city: city
          houseNumber: houseNumber
          type: type
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 4
          zipcode: zipcode
          name3: name3
          phone: phone
          street: street
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          salutation: salutation
          gpsCoordinate: gpsCoordinate
          currentState: 6
          name2: name2
          fax: fax
          name1: name1
          cellPhone: cellPhone
          email: email
          info: info
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          country: country
          city: city
          houseNumber: houseNumber
          type: type
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 4
          zipcode: zipcode
          name3: name3
          phone: phone
          street: street
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          salutation: salutation
          gpsCoordinate: gpsCoordinate
          currentState: 6
          name2: name2
          fax: fax
          name1: name1
          cellPhone: cellPhone
          email: email
          info: info
        paymentPaypal: paymentPaypal
        isCei: true
        approvalDate: 2000-01-23T04:56:07.000+00:00
        beginning: 2000-01-23T04:56:07.000+00:00
        promoterEventUrl: promoterEventUrl
        approvalInfo: approvalInfo
        promoterEventTitle: promoterEventTitle
        isInitialEvent: true
        infoVaccinationObligation: infoVaccinationObligation
        title: title
        stateCommissionerDescription: stateCommissionerDescription
        contestantQuantityMin: 2
        paymentReason: paymentReason
        initialEventUuid: initialEventUuid
        requestDate: 2000-01-23T04:56:07.000+00:00
        requestInfo: requestInfo
        isLateRegistration: true
        changeTimestamp: 2000-01-23T04:56:07.000+00:00
        vddPortalUrl: vddPortalUrl
        registrationClosing: 2000-01-23T04:56:07.000+00:00
        isCountryChampionship: true
        _fees:
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          kind: kind
          remark: remark
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 0
          unit: unit
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          deposit: 5.507386964179881
          currency: currency
          position: 0
          currentState: 9
          value: 7.933506881737151
          key: key
        - changeTimestamp: 2000-01-23T04:56:07.000+00:00
          kind: kind
          remark: remark
          uuid: uuid
          creationUserUuid: creationUserUuid
          changeUserUuid: changeUserUuid
          changeCounter: 0
          unit: unit
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          deposit: 5.507386964179881
          currency: currency
          position: 0
          currentState: 9
          value: 7.933506881737151
          key: key
        regionCommissionerUuid: regionCommissionerUuid
        paymentAccountHolder: paymentAccountHolder
        creationUserUuid: creationUserUuid
        changeUserUuid: changeUserUuid
        _competitions:
        - contestantAgeMax: 3
          breaksTotalNumbers: 7
          feeCurrency: feeCurrency
          penaltyPointsPulseRateExceeded: 6
          contestantLimitiationMin: 4
          uuid: uuid
          changeCounter: 9
          vddQualificationLevel: vddQualificationLevel
          descriptionRatingType: descriptionRatingType
          minutesAllowed: 7
          creationTimestamp: 2000-01-23T04:56:07.000+00:00
          dateTransferRelease: 2000-01-23T04:56:07.000+00:00
          isCARD: true
          state: state
          _registrations:
          - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            displayContestant: displayContestant
            registrationAccountUuid: registrationAccountUuid
            contestantUuid: contestantUuid
            remark: remark
            _horses:
            - changeTimestamp: 2000-01-23T04:56:07.000+00:00
              registrationAccountUuid: registrationAccountUuid
              remark: remark
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 3
              horse:
                changeTimestamp: 2000-01-23T04:56:07.000+00:00
                gender: gender
                color:
                  changeCounter: 6
                  changeTimestamp: 2000-01-23T04:56:07.000+00:00
                  acronym: acronym
                  display: display
                  creationTimestamp: 2000-01-23T04:56:07.000+00:00
                  description: description
                  uuid: uuid
                  creationUserUuid: creationUserUuid
                  changeUserUuid: changeUserUuid
                _owners:
                - changeCounter: 3
                  changeTimestamp: 2000-01-23T04:56:07.000+00:00
                  ownershipUntil: 2000-01-23T04:56:07.000+00:00
                  masterdataHorseUuid: masterdataHorseUuid
                  display: display
                  contact:
                    _addresses:
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    phonePrivate: phonePrivate
                    emailBusiness: emailBusiness
                    uuid: uuid
                    changeCounter: 4
                    forename: forename
                    faxPrivate: faxPrivate
                    emailPrivate: emailPrivate
                    surname: surname
                    creationTimestamp: 2000-01-23T04:56:07.000+00:00
                    changeTimestamp: 2000-01-23T04:56:07.000+00:00
                    titleAddition: titleAddition
                    kind: 0
                    nickName: nickName
                    display: display
                    _roles:
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    bornDate: 2000-01-23T04:56:07.000+00:00
                    creationUserUuid: creationUserUuid
                    changeUserUuid: changeUserUuid
                    titleBusiness: titleBusiness
                    info9: info9
                    info8: info8
                    info7: info7
                    info6: info6
                    nationality: nationality
                    bornName: bornName
                    info1: info1
                    cellPhonePrivate: cellPhonePrivate
                    artistName: artistName
                    salutation: salutation
                    titleAcademic: titleAcademic
                    phoneBusiness: phoneBusiness
                    faxBusiness: faxBusiness
                    info5: info5
                    info4: info4
                    titleNobility: titleNobility
                    info3: info3
                    cellPhoneBusiness: cellPhoneBusiness
                    info2: info2
                  creationTimestamp: 2000-01-23T04:56:07.000+00:00
                  ownershipFrom: 2000-01-23T04:56:07.000+00:00
                  remark: remark
                  uuid: uuid
                  creationUserUuid: creationUserUuid
                  changeUserUuid: changeUserUuid
                - changeCounter: 3
                  changeTimestamp: 2000-01-23T04:56:07.000+00:00
                  ownershipUntil: 2000-01-23T04:56:07.000+00:00
                  masterdataHorseUuid: masterdataHorseUuid
                  display: display
                  contact:
                    _addresses:
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    phonePrivate: phonePrivate
                    emailBusiness: emailBusiness
                    uuid: uuid
                    changeCounter: 4
                    forename: forename
                    faxPrivate: faxPrivate
                    emailPrivate: emailPrivate
                    surname: surname
                    creationTimestamp: 2000-01-23T04:56:07.000+00:00
                    changeTimestamp: 2000-01-23T04:56:07.000+00:00
                    titleAddition: titleAddition
                    kind: 0
                    nickName: nickName
                    display: display
                    _roles:
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    bornDate: 2000-01-23T04:56:07.000+00:00
                    creationUserUuid: creationUserUuid
                    changeUserUuid: changeUserUuid
                    titleBusiness: titleBusiness
                    info9: info9
                    info8: info8
                    info7: info7
                    info6: info6
                    nationality: nationality
                    bornName: bornName
                    info1: info1
                    cellPhonePrivate: cellPhonePrivate
                    artistName: artistName
                    salutation: salutation
                    titleAcademic: titleAcademic
                    phoneBusiness: phoneBusiness
                    faxBusiness: faxBusiness
                    info5: info5
                    info4: info4
                    titleNobility: titleNobility
                    info3: info3
                    cellPhoneBusiness: cellPhoneBusiness
                    info2: info2
                  creationTimestamp: 2000-01-23T04:56:07.000+00:00
                  ownershipFrom: 2000-01-23T04:56:07.000+00:00
                  remark: remark
                  uuid: uuid
                  creationUserUuid: creationUserUuid
                  changeUserUuid: changeUserUuid
                display: display
                fnPassportId: fnPassportId
                feiPassportId: feiPassportId
                _stables:
                - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                  kind: kind
                  display: display
                  uuid: uuid
                  creationUserUuid: creationUserUuid
                  changeUserUuid: changeUserUuid
                  changeCounter: 4
                  masterdataHorseUuid: masterdataHorseUuid
                  accommodationFrom: 2000-01-23T04:56:07.000+00:00
                  contact:
                    _addresses:
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    phonePrivate: phonePrivate
                    emailBusiness: emailBusiness
                    uuid: uuid
                    changeCounter: 4
                    forename: forename
                    faxPrivate: faxPrivate
                    emailPrivate: emailPrivate
                    surname: surname
                    creationTimestamp: 2000-01-23T04:56:07.000+00:00
                    changeTimestamp: 2000-01-23T04:56:07.000+00:00
                    titleAddition: titleAddition
                    kind: 0
                    nickName: nickName
                    display: display
                    _roles:
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    bornDate: 2000-01-23T04:56:07.000+00:00
                    creationUserUuid: creationUserUuid
                    changeUserUuid: changeUserUuid
                    titleBusiness: titleBusiness
                    info9: info9
                    info8: info8
                    info7: info7
                    info6: info6
                    nationality: nationality
                    bornName: bornName
                    info1: info1
                    cellPhonePrivate: cellPhonePrivate
                    artistName: artistName
                    salutation: salutation
                    titleAcademic: titleAcademic
                    phoneBusiness: phoneBusiness
                    faxBusiness: faxBusiness
                    info5: info5
                    info4: info4
                    titleNobility: titleNobility
                    info3: info3
                    cellPhoneBusiness: cellPhoneBusiness
                    info2: info2
                  creationTimestamp: 2000-01-23T04:56:07.000+00:00
                  accommodationUntil: 2000-01-23T04:56:07.000+00:00
                  remarks: remarks
                - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                  kind: kind
                  display: display
                  uuid: uuid
                  creationUserUuid: creationUserUuid
                  changeUserUuid: changeUserUuid
                  changeCounter: 4
                  masterdataHorseUuid: masterdataHorseUuid
                  accommodationFrom: 2000-01-23T04:56:07.000+00:00
                  contact:
                    _addresses:
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    phonePrivate: phonePrivate
                    emailBusiness: emailBusiness
                    uuid: uuid
                    changeCounter: 4
                    forename: forename
                    faxPrivate: faxPrivate
                    emailPrivate: emailPrivate
                    surname: surname
                    creationTimestamp: 2000-01-23T04:56:07.000+00:00
                    changeTimestamp: 2000-01-23T04:56:07.000+00:00
                    titleAddition: titleAddition
                    kind: 0
                    nickName: nickName
                    display: display
                    _roles:
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    bornDate: 2000-01-23T04:56:07.000+00:00
                    creationUserUuid: creationUserUuid
                    changeUserUuid: changeUserUuid
                    titleBusiness: titleBusiness
                    info9: info9
                    info8: info8
                    info7: info7
                    info6: info6
                    nationality: nationality
                    bornName: bornName
                    info1: info1
                    cellPhonePrivate: cellPhonePrivate
                    artistName: artistName
                    salutation: salutation
                    titleAcademic: titleAcademic
                    phoneBusiness: phoneBusiness
                    faxBusiness: faxBusiness
                    info5: info5
                    info4: info4
                    titleNobility: titleNobility
                    info3: info3
                    cellPhoneBusiness: cellPhoneBusiness
                    info2: info2
                  creationTimestamp: 2000-01-23T04:56:07.000+00:00
                  accommodationUntil: 2000-01-23T04:56:07.000+00:00
                  remarks: remarks
                uuid: uuid
                creationUserUuid: creationUserUuid
                colorUuid: colorUuid
                breed:
                  changeCounter: 6
                  changeTimestamp: 2000-01-23T04:56:07.000+00:00
                  acronym: acronym
                  display: display
                  creationTimestamp: 2000-01-23T04:56:07.000+00:00
                  description: description
                  uuid: uuid
                  creationUserUuid: creationUserUuid
                  changeUserUuid: changeUserUuid
                changeUserUuid: changeUserUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                name: name
                chipId: chipId
                passportId: passportId
                stickSize: 5
                breedUuid: breedUuid
                yearOfBirth: 7
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              displayHorse: displayHorse
              currentState: 3
              insurancePoliceId: insurancePoliceId
            - changeTimestamp: 2000-01-23T04:56:07.000+00:00
              registrationAccountUuid: registrationAccountUuid
              remark: remark
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 3
              horse:
                changeTimestamp: 2000-01-23T04:56:07.000+00:00
                gender: gender
                color:
                  changeCounter: 6
                  changeTimestamp: 2000-01-23T04:56:07.000+00:00
                  acronym: acronym
                  display: display
                  creationTimestamp: 2000-01-23T04:56:07.000+00:00
                  description: description
                  uuid: uuid
                  creationUserUuid: creationUserUuid
                  changeUserUuid: changeUserUuid
                _owners:
                - changeCounter: 3
                  changeTimestamp: 2000-01-23T04:56:07.000+00:00
                  ownershipUntil: 2000-01-23T04:56:07.000+00:00
                  masterdataHorseUuid: masterdataHorseUuid
                  display: display
                  contact:
                    _addresses:
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    phonePrivate: phonePrivate
                    emailBusiness: emailBusiness
                    uuid: uuid
                    changeCounter: 4
                    forename: forename
                    faxPrivate: faxPrivate
                    emailPrivate: emailPrivate
                    surname: surname
                    creationTimestamp: 2000-01-23T04:56:07.000+00:00
                    changeTimestamp: 2000-01-23T04:56:07.000+00:00
                    titleAddition: titleAddition
                    kind: 0
                    nickName: nickName
                    display: display
                    _roles:
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    bornDate: 2000-01-23T04:56:07.000+00:00
                    creationUserUuid: creationUserUuid
                    changeUserUuid: changeUserUuid
                    titleBusiness: titleBusiness
                    info9: info9
                    info8: info8
                    info7: info7
                    info6: info6
                    nationality: nationality
                    bornName: bornName
                    info1: info1
                    cellPhonePrivate: cellPhonePrivate
                    artistName: artistName
                    salutation: salutation
                    titleAcademic: titleAcademic
                    phoneBusiness: phoneBusiness
                    faxBusiness: faxBusiness
                    info5: info5
                    info4: info4
                    titleNobility: titleNobility
                    info3: info3
                    cellPhoneBusiness: cellPhoneBusiness
                    info2: info2
                  creationTimestamp: 2000-01-23T04:56:07.000+00:00
                  ownershipFrom: 2000-01-23T04:56:07.000+00:00
                  remark: remark
                  uuid: uuid
                  creationUserUuid: creationUserUuid
                  changeUserUuid: changeUserUuid
                - changeCounter: 3
                  changeTimestamp: 2000-01-23T04:56:07.000+00:00
                  ownershipUntil: 2000-01-23T04:56:07.000+00:00
                  masterdataHorseUuid: masterdataHorseUuid
                  display: display
                  contact:
                    _addresses:
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    phonePrivate: phonePrivate
                    emailBusiness: emailBusiness
                    uuid: uuid
                    changeCounter: 4
                    forename: forename
                    faxPrivate: faxPrivate
                    emailPrivate: emailPrivate
                    surname: surname
                    creationTimestamp: 2000-01-23T04:56:07.000+00:00
                    changeTimestamp: 2000-01-23T04:56:07.000+00:00
                    titleAddition: titleAddition
                    kind: 0
                    nickName: nickName
                    display: display
                    _roles:
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    bornDate: 2000-01-23T04:56:07.000+00:00
                    creationUserUuid: creationUserUuid
                    changeUserUuid: changeUserUuid
                    titleBusiness: titleBusiness
                    info9: info9
                    info8: info8
                    info7: info7
                    info6: info6
                    nationality: nationality
                    bornName: bornName
                    info1: info1
                    cellPhonePrivate: cellPhonePrivate
                    artistName: artistName
                    salutation: salutation
                    titleAcademic: titleAcademic
                    phoneBusiness: phoneBusiness
                    faxBusiness: faxBusiness
                    info5: info5
                    info4: info4
                    titleNobility: titleNobility
                    info3: info3
                    cellPhoneBusiness: cellPhoneBusiness
                    info2: info2
                  creationTimestamp: 2000-01-23T04:56:07.000+00:00
                  ownershipFrom: 2000-01-23T04:56:07.000+00:00
                  remark: remark
                  uuid: uuid
                  creationUserUuid: creationUserUuid
                  changeUserUuid: changeUserUuid
                display: display
                fnPassportId: fnPassportId
                feiPassportId: feiPassportId
                _stables:
                - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                  kind: kind
                  display: display
                  uuid: uuid
                  creationUserUuid: creationUserUuid
                  changeUserUuid: changeUserUuid
                  changeCounter: 4
                  masterdataHorseUuid: masterdataHorseUuid
                  accommodationFrom: 2000-01-23T04:56:07.000+00:00
                  contact:
                    _addresses:
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    phonePrivate: phonePrivate
                    emailBusiness: emailBusiness
                    uuid: uuid
                    changeCounter: 4
                    forename: forename
                    faxPrivate: faxPrivate
                    emailPrivate: emailPrivate
                    surname: surname
                    creationTimestamp: 2000-01-23T04:56:07.000+00:00
                    changeTimestamp: 2000-01-23T04:56:07.000+00:00
                    titleAddition: titleAddition
                    kind: 0
                    nickName: nickName
                    display: display
                    _roles:
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    bornDate: 2000-01-23T04:56:07.000+00:00
                    creationUserUuid: creationUserUuid
                    changeUserUuid: changeUserUuid
                    titleBusiness: titleBusiness
                    info9: info9
                    info8: info8
                    info7: info7
                    info6: info6
                    nationality: nationality
                    bornName: bornName
                    info1: info1
                    cellPhonePrivate: cellPhonePrivate
                    artistName: artistName
                    salutation: salutation
                    titleAcademic: titleAcademic
                    phoneBusiness: phoneBusiness
                    faxBusiness: faxBusiness
                    info5: info5
                    info4: info4
                    titleNobility: titleNobility
                    info3: info3
                    cellPhoneBusiness: cellPhoneBusiness
                    info2: info2
                  creationTimestamp: 2000-01-23T04:56:07.000+00:00
                  accommodationUntil: 2000-01-23T04:56:07.000+00:00
                  remarks: remarks
                - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                  kind: kind
                  display: display
                  uuid: uuid
                  creationUserUuid: creationUserUuid
                  changeUserUuid: changeUserUuid
                  changeCounter: 4
                  masterdataHorseUuid: masterdataHorseUuid
                  accommodationFrom: 2000-01-23T04:56:07.000+00:00
                  contact:
                    _addresses:
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    phonePrivate: phonePrivate
                    emailBusiness: emailBusiness
                    uuid: uuid
                    changeCounter: 4
                    forename: forename
                    faxPrivate: faxPrivate
                    emailPrivate: emailPrivate
                    surname: surname
                    creationTimestamp: 2000-01-23T04:56:07.000+00:00
                    changeTimestamp: 2000-01-23T04:56:07.000+00:00
                    titleAddition: titleAddition
                    kind: 0
                    nickName: nickName
                    display: display
                    _roles:
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    bornDate: 2000-01-23T04:56:07.000+00:00
                    creationUserUuid: creationUserUuid
                    changeUserUuid: changeUserUuid
                    titleBusiness: titleBusiness
                    info9: info9
                    info8: info8
                    info7: info7
                    info6: info6
                    nationality: nationality
                    bornName: bornName
                    info1: info1
                    cellPhonePrivate: cellPhonePrivate
                    artistName: artistName
                    salutation: salutation
                    titleAcademic: titleAcademic
                    phoneBusiness: phoneBusiness
                    faxBusiness: faxBusiness
                    info5: info5
                    info4: info4
                    titleNobility: titleNobility
                    info3: info3
                    cellPhoneBusiness: cellPhoneBusiness
                    info2: info2
                  creationTimestamp: 2000-01-23T04:56:07.000+00:00
                  accommodationUntil: 2000-01-23T04:56:07.000+00:00
                  remarks: remarks
                uuid: uuid
                creationUserUuid: creationUserUuid
                colorUuid: colorUuid
                breed:
                  changeCounter: 6
                  changeTimestamp: 2000-01-23T04:56:07.000+00:00
                  acronym: acronym
                  display: display
                  creationTimestamp: 2000-01-23T04:56:07.000+00:00
                  description: description
                  uuid: uuid
                  creationUserUuid: creationUserUuid
                  changeUserUuid: changeUserUuid
                changeUserUuid: changeUserUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                name: name
                chipId: chipId
                passportId: passportId
                stickSize: 5
                breedUuid: breedUuid
                yearOfBirth: 7
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              displayHorse: displayHorse
              currentState: 3
              insurancePoliceId: insurancePoliceId
            uuid: uuid
            creationUserUuid: creationUserUuid
            changeUserUuid: changeUserUuid
            changeCounter: 4
            eventContestCompetitionUuuid: eventContestCompetitionUuuid
            creationTimestamp: 2000-01-23T04:56:07.000+00:00
            paymentMethod: 7
            displayHorse: displayHorse
            currentState: 8
            insurancePoliceId: insurancePoliceId
          - registrationCompetitionDate: 2000-01-23T04:56:07.000+00:00
            changeTimestamp: 2000-01-23T04:56:07.000+00:00
            displayContestant: displayContestant
            registrationAccountUuid: registrationAccountUuid
            contestantUuid: contestantUuid
            remark: remark
            _horses:
            - changeTimestamp: 2000-01-23T04:56:07.000+00:00
              registrationAccountUuid: registrationAccountUuid
              remark: remark
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 3
              horse:
                changeTimestamp: 2000-01-23T04:56:07.000+00:00
                gender: gender
                color:
                  changeCounter: 6
                  changeTimestamp: 2000-01-23T04:56:07.000+00:00
                  acronym: acronym
                  display: display
                  creationTimestamp: 2000-01-23T04:56:07.000+00:00
                  description: description
                  uuid: uuid
                  creationUserUuid: creationUserUuid
                  changeUserUuid: changeUserUuid
                _owners:
                - changeCounter: 3
                  changeTimestamp: 2000-01-23T04:56:07.000+00:00
                  ownershipUntil: 2000-01-23T04:56:07.000+00:00
                  masterdataHorseUuid: masterdataHorseUuid
                  display: display
                  contact:
                    _addresses:
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    phonePrivate: phonePrivate
                    emailBusiness: emailBusiness
                    uuid: uuid
                    changeCounter: 4
                    forename: forename
                    faxPrivate: faxPrivate
                    emailPrivate: emailPrivate
                    surname: surname
                    creationTimestamp: 2000-01-23T04:56:07.000+00:00
                    changeTimestamp: 2000-01-23T04:56:07.000+00:00
                    titleAddition: titleAddition
                    kind: 0
                    nickName: nickName
                    display: display
                    _roles:
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    bornDate: 2000-01-23T04:56:07.000+00:00
                    creationUserUuid: creationUserUuid
                    changeUserUuid: changeUserUuid
                    titleBusiness: titleBusiness
                    info9: info9
                    info8: info8
                    info7: info7
                    info6: info6
                    nationality: nationality
                    bornName: bornName
                    info1: info1
                    cellPhonePrivate: cellPhonePrivate
                    artistName: artistName
                    salutation: salutation
                    titleAcademic: titleAcademic
                    phoneBusiness: phoneBusiness
                    faxBusiness: faxBusiness
                    info5: info5
                    info4: info4
                    titleNobility: titleNobility
                    info3: info3
                    cellPhoneBusiness: cellPhoneBusiness
                    info2: info2
                  creationTimestamp: 2000-01-23T04:56:07.000+00:00
                  ownershipFrom: 2000-01-23T04:56:07.000+00:00
                  remark: remark
                  uuid: uuid
                  creationUserUuid: creationUserUuid
                  changeUserUuid: changeUserUuid
                - changeCounter: 3
                  changeTimestamp: 2000-01-23T04:56:07.000+00:00
                  ownershipUntil: 2000-01-23T04:56:07.000+00:00
                  masterdataHorseUuid: masterdataHorseUuid
                  display: display
                  contact:
                    _addresses:
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    phonePrivate: phonePrivate
                    emailBusiness: emailBusiness
                    uuid: uuid
                    changeCounter: 4
                    forename: forename
                    faxPrivate: faxPrivate
                    emailPrivate: emailPrivate
                    surname: surname
                    creationTimestamp: 2000-01-23T04:56:07.000+00:00
                    changeTimestamp: 2000-01-23T04:56:07.000+00:00
                    titleAddition: titleAddition
                    kind: 0
                    nickName: nickName
                    display: display
                    _roles:
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    bornDate: 2000-01-23T04:56:07.000+00:00
                    creationUserUuid: creationUserUuid
                    changeUserUuid: changeUserUuid
                    titleBusiness: titleBusiness
                    info9: info9
                    info8: info8
                    info7: info7
                    info6: info6
                    nationality: nationality
                    bornName: bornName
                    info1: info1
                    cellPhonePrivate: cellPhonePrivate
                    artistName: artistName
                    salutation: salutation
                    titleAcademic: titleAcademic
                    phoneBusiness: phoneBusiness
                    faxBusiness: faxBusiness
                    info5: info5
                    info4: info4
                    titleNobility: titleNobility
                    info3: info3
                    cellPhoneBusiness: cellPhoneBusiness
                    info2: info2
                  creationTimestamp: 2000-01-23T04:56:07.000+00:00
                  ownershipFrom: 2000-01-23T04:56:07.000+00:00
                  remark: remark
                  uuid: uuid
                  creationUserUuid: creationUserUuid
                  changeUserUuid: changeUserUuid
                display: display
                fnPassportId: fnPassportId
                feiPassportId: feiPassportId
                _stables:
                - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                  kind: kind
                  display: display
                  uuid: uuid
                  creationUserUuid: creationUserUuid
                  changeUserUuid: changeUserUuid
                  changeCounter: 4
                  masterdataHorseUuid: masterdataHorseUuid
                  accommodationFrom: 2000-01-23T04:56:07.000+00:00
                  contact:
                    _addresses:
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    phonePrivate: phonePrivate
                    emailBusiness: emailBusiness
                    uuid: uuid
                    changeCounter: 4
                    forename: forename
                    faxPrivate: faxPrivate
                    emailPrivate: emailPrivate
                    surname: surname
                    creationTimestamp: 2000-01-23T04:56:07.000+00:00
                    changeTimestamp: 2000-01-23T04:56:07.000+00:00
                    titleAddition: titleAddition
                    kind: 0
                    nickName: nickName
                    display: display
                    _roles:
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    bornDate: 2000-01-23T04:56:07.000+00:00
                    creationUserUuid: creationUserUuid
                    changeUserUuid: changeUserUuid
                    titleBusiness: titleBusiness
                    info9: info9
                    info8: info8
                    info7: info7
                    info6: info6
                    nationality: nationality
                    bornName: bornName
                    info1: info1
                    cellPhonePrivate: cellPhonePrivate
                    artistName: artistName
                    salutation: salutation
                    titleAcademic: titleAcademic
                    phoneBusiness: phoneBusiness
                    faxBusiness: faxBusiness
                    info5: info5
                    info4: info4
                    titleNobility: titleNobility
                    info3: info3
                    cellPhoneBusiness: cellPhoneBusiness
                    info2: info2
                  creationTimestamp: 2000-01-23T04:56:07.000+00:00
                  accommodationUntil: 2000-01-23T04:56:07.000+00:00
                  remarks: remarks
                - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                  kind: kind
                  display: display
                  uuid: uuid
                  creationUserUuid: creationUserUuid
                  changeUserUuid: changeUserUuid
                  changeCounter: 4
                  masterdataHorseUuid: masterdataHorseUuid
                  accommodationFrom: 2000-01-23T04:56:07.000+00:00
                  contact:
                    _addresses:
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    phonePrivate: phonePrivate
                    emailBusiness: emailBusiness
                    uuid: uuid
                    changeCounter: 4
                    forename: forename
                    faxPrivate: faxPrivate
                    emailPrivate: emailPrivate
                    surname: surname
                    creationTimestamp: 2000-01-23T04:56:07.000+00:00
                    changeTimestamp: 2000-01-23T04:56:07.000+00:00
                    titleAddition: titleAddition
                    kind: 0
                    nickName: nickName
                    display: display
                    _roles:
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    bornDate: 2000-01-23T04:56:07.000+00:00
                    creationUserUuid: creationUserUuid
                    changeUserUuid: changeUserUuid
                    titleBusiness: titleBusiness
                    info9: info9
                    info8: info8
                    info7: info7
                    info6: info6
                    nationality: nationality
                    bornName: bornName
                    info1: info1
                    cellPhonePrivate: cellPhonePrivate
                    artistName: artistName
                    salutation: salutation
                    titleAcademic: titleAcademic
                    phoneBusiness: phoneBusiness
                    faxBusiness: faxBusiness
                    info5: info5
                    info4: info4
                    titleNobility: titleNobility
                    info3: info3
                    cellPhoneBusiness: cellPhoneBusiness
                    info2: info2
                  creationTimestamp: 2000-01-23T04:56:07.000+00:00
                  accommodationUntil: 2000-01-23T04:56:07.000+00:00
                  remarks: remarks
                uuid: uuid
                creationUserUuid: creationUserUuid
                colorUuid: colorUuid
                breed:
                  changeCounter: 6
                  changeTimestamp: 2000-01-23T04:56:07.000+00:00
                  acronym: acronym
                  display: display
                  creationTimestamp: 2000-01-23T04:56:07.000+00:00
                  description: description
                  uuid: uuid
                  creationUserUuid: creationUserUuid
                  changeUserUuid: changeUserUuid
                changeUserUuid: changeUserUuid
                creationTimestamp: 2000-01-23T04:56:07.000+00:00
                name: name
                chipId: chipId
                passportId: passportId
                stickSize: 5
                breedUuid: breedUuid
                yearOfBirth: 7
              creationTimestamp: 2000-01-23T04:56:07.000+00:00
              displayHorse: displayHorse
              currentState: 3
              insurancePoliceId: insurancePoliceId
            - changeTimestamp: 2000-01-23T04:56:07.000+00:00
              registrationAccountUuid: registrationAccountUuid
              remark: remark
              uuid: uuid
              creationUserUuid: creationUserUuid
              changeUserUuid: changeUserUuid
              changeCounter: 3
              horse:
                changeTimestamp: 2000-01-23T04:56:07.000+00:00
                gender: gender
                color:
                  changeCounter: 6
                  changeTimestamp: 2000-01-23T04:56:07.000+00:00
                  acronym: acronym
                  display: display
                  creationTimestamp: 2000-01-23T04:56:07.000+00:00
                  description: description
                  uuid: uuid
                  creationUserUuid: creationUserUuid
                  changeUserUuid: changeUserUuid
                _owners:
                - changeCounter: 3
                  changeTimestamp: 2000-01-23T04:56:07.000+00:00
                  ownershipUntil: 2000-01-23T04:56:07.000+00:00
                  masterdataHorseUuid: masterdataHorseUuid
                  display: display
                  contact:
                    _addresses:
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    phonePrivate: phonePrivate
                    emailBusiness: emailBusiness
                    uuid: uuid
                    changeCounter: 4
                    forename: forename
                    faxPrivate: faxPrivate
                    emailPrivate: emailPrivate
                    surname: surname
                    creationTimestamp: 2000-01-23T04:56:07.000+00:00
                    changeTimestamp: 2000-01-23T04:56:07.000+00:00
                    titleAddition: titleAddition
                    kind: 0
                    nickName: nickName
                    display: display
                    _roles:
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    bornDate: 2000-01-23T04:56:07.000+00:00
                    creationUserUuid: creationUserUuid
                    changeUserUuid: changeUserUuid
                    titleBusiness: titleBusiness
                    info9: info9
                    info8: info8
                    info7: info7
                    info6: info6
                    nationality: nationality
                    bornName: bornName
                    info1: info1
                    cellPhonePrivate: cellPhonePrivate
                    artistName: artistName
                    salutation: salutation
                    titleAcademic: titleAcademic
                    phoneBusiness: phoneBusiness
                    faxBusiness: faxBusiness
                    info5: info5
                    info4: info4
                    titleNobility: titleNobility
                    info3: info3
                    cellPhoneBusiness: cellPhoneBusiness
                    info2: info2
                  creationTimestamp: 2000-01-23T04:56:07.000+00:00
                  ownershipFrom: 2000-01-23T04:56:07.000+00:00
                  remark: remark
                  uuid: uuid
                  creationUserUuid: creationUserUuid
                  changeUserUuid: changeUserUuid
                - changeCounter: 3
                  changeTimestamp: 2000-01-23T04:56:07.000+00:00
                  ownershipUntil: 2000-01-23T04:56:07.000+00:00
                  masterdataHorseUuid: masterdataHorseUuid
                  display: display
                  contact:
                    _addresses:
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    - changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      country: country
                      city: city
                      kind: 4
                      houseNumber: houseNumber
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                      changeCounter: 6
                      zipcodeCode: zipcodeCode
                      countryCode: countryCode
                      street: street
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      federalStateCode: federalStateCode
                      federalState: federalState
                    phonePrivate: phonePrivate
                    emailBusiness: emailBusiness
                    uuid: uuid
                    changeCounter: 4
                    forename: forename
                    faxPrivate: faxPrivate
                    emailPrivate: emailPrivate
                    surname: surname
                    creationTimestamp: 2000-01-23T04:56:07.000+00:00
                    changeTimestamp: 2000-01-23T04:56:07.000+00:00
                    titleAddition: titleAddition
                    kind: 0
                    nickName: nickName
                    display: display
                    _roles:
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
                      creationUserUuid: creationUserUuid
                      changeUserUuid: changeUserUuid
                    - changeCounter: 1
                      changeTimestamp: 2000-01-23T04:56:07.000+00:00
                      kind: kind
                      masterdataContactUuid: masterdataContactUuid
                      creationTimestamp: 2000-01-23T04:56:07.000+00:00
                      uuid: uuid
[...]
